﻿
@{
    ViewBag.Title = "Subscriptions";
}
@using CP.Models
@model SubscriptionIndexViewModal

@{
    var cu = Model.CurrentUser;
    var u = Model.User;
}

<style>
    .blue-title {
        margin-bottom: 0px;
        color: #225fef;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }

    .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

        .btn-default:focus,
        .btn-default.focus {
            color: #333;
            background-color: #e6e6e6;
            border-color: #8c8c8c;
        }

        .btn-default:hover {
            color: #333;
            background-color: #e6e6e6;
            border-color: #adadad;
        }
</style>

@{
    var canaccess = cu.Find(x => x.Keyword == "Subscription");
    if (canaccess != null && canaccess.IsRead)
    {
        <div class="row body-container" style="margin-top:-10px;">
            <div class="bs-component" style="font-size:11px; margin-top: 10px;">
                <div class="row col-lg-offset-1" style="margin-top:10px; margin-left:17px; width:88%">
                    <div style="margin-top:-35px;">
                        @if (canaccess.IsCreate)
                        {
                            @*<a id="createBtn" href="~/Subscriptions/NewSubscription" class="btn btn-danger btn-xs" style="float:right;">New Subscription</a>*@
                        }
                    </div>
                    @if (Model.SubscriptionRequest != null)
                    {
                        <table id="tblSubscriptionList" class="table sub-sub-table table-bordered" style="margin-bottom:20px; width:100%">
                            <thead>
                                <tr class="cpBG fontWhite">
                                    <th colspan="5">Subscription Information</th>
                                    <th colspan="4">Creditor Information</th>
                                </tr>

                                <tr style="font-weight:bold;">
                                    <td></td>
                                    <td style="vertical-align:middle">
                                        Reference No
                                    </td>
                                    <td style="vertical-align:middle">
                                        Subscription Plan
                                    </td>
                                    <td style="vertical-align:middle">
                                        Status
                                    </td>
                                    <td class="center-text" style="vertical-align:middle">
                                        Create Date
                                    </td>
                                    <td class="center-text" style="vertical-align:middle">
                                        Name
                                    </td>
                                    <td class="center-text" style="vertical-align:middle">
                                        Business Reg No
                                    </td>
                                    <td class="center-text" style="vertical-align:middle">
                                        Action
                                    </td>
                                </tr>

                                <tr class="search">
                                    <td style="vertical-align:middle" class="center-text" width="1%">
                                        <input type="checkbox" style="margin:0px" />
                                    </td>
                                    <td class="input-filter">
                                        <input type="text" class="form-control" placeholder="Reference No" />
                                    </td>
                                    <td class="input-filter">
                                        <select class="form-control" id="packageSelect">
                                            <option value="All">ALL</option>
                                            @foreach (var r in Model.Packages)
                                            {
                                                <option value="@r.PackageName">@r.PackageName.Trim()</option>
                                            }
                                        </select>
                                        <input type="hidden" id="status" class="form-control" placeholder="Status" />
                                    </td>
                                    <td class="input-filter">
                                        <select class="form-control" id="statusSelect">
                                            <option value="All">ALL</option>
                                            @foreach (var r in Model.SubStatus)
                                            {
                                                <option value="@r.Name">@r.Name.Trim()</option>
                                            }
                                        </select>
                                    </td>
                                    <td class="input-filter">
                                        <input type="text" class="form-control datepicker" placeholder="Subscribe Date" />
                                    </td>
                                    <td class="input-filter">
                                        <input type="text" class="form-control datepicker" placeholder="Active Date" />
                                    </td>
                                    <td class="input-filter">
                                        <input type="text" class="form-control datepicker" placeholder="Expire Date" />
                                    </td>
                                    <td class="center-text" width="5%">
                                        <button class="btn btn-xs btn-warning" id="btnClear">Clear</button>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                
                                @foreach (var r in Model.SubscriptionRequest)
                                {

                                    string refrence = "S" + r.RequestDate.ToString("yyyyMM");

                                    refrence = refrence + r.RequestId.Substring(0,4);


                                <tr>
                                    <td style="vertical-align:middle" class="center-text">
                                        <input type="checkbox" style="margin:0px" />
                                    </td>
                                    <td style="vertical-align:middle">
                                        <div class="ellipsis">
                                            <span>
                                                <a id="name" href="~/Subscriptions/SubscriptionApproval2?requestId=@r.RequestId">@refrence</a>
                                            </span>
                                        </div>
                                    </td>
                                    <td style="vertical-align:middle">
                                        <span>
                                            @r.PackageName
                                        </span>
                                    </td>
                                    <td style="vertical-align:middle">
                                        <span>
                                            @r.sName.Trim()
                                        </span>
                                    </td>
                                    <td style="vertical-align:middle">
                                        <span>@r.RequestDate.ToString("dd MMM yyyy HH:mm:ss")</span>
                                    </td>
                                    <td style="vertical-align:middle">
                                        <span>
                                            @r.Name
                                        </span>
                                    </td>
                                    <td style="vertical-align:middle">
                                        <span>
                                            @r.BusinessRegNo
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        @if (canaccess.IsUpdate)
                                        {
                                            <a href="#" class="btn btn-xs edit" title="Edit" style="padding:1px 1px;"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                        }

                                        @if (canaccess.IsDelete)
                                        {
                                            <a data-value="#" class="btn btn-xs delete" title="Delete" onclick="deleteLead(this)" style="padding:1px 1px;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                        }
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    }

                    @{ 
                        if(u.Position == "22C63EE9-290E-4160-A293-6ECB49B4677F")
                        {

                        } else
                        {

                        }
                    }

                </div>
            </div>
        </div>
    }
    else
    {
        <h4 class="access-denied-page" style="color:black">
            Access denied, you don&acute;t have permission to access this page.
        </h4>
    }
}
<script>
    $(function () {
        $('.datepicker').datepicker({
            format: 'dd M yyyy'
        })
    });

    $(document).ready(function () {

        $('#select').on('change', function () {
            $('#source').val(this.value);
            if (this.value == "All") {
                $('#source').val('');
            }
            $('#source').change();
        });

        $('#statusSelect').on('change', function () {
            $('#status').val(this.value);
            if (this.value == "All") {
                $('#status').val('');
            }
            $('#status').change();
        });

        $('#subs').parent().addClass('active');
        $('#pending').parent().removeClass('active');

        $.fn.dataTable.moment('DD MMM YYYY HH:mm:ss');
        // DataTable
        var table = $('#tblSubscriptionList').DataTable({
            "pageLength": 25,
            "order": [[5, "desc"]],
            "dom": '<<"floatRight"p><t>>',
            "bSortCellsTop": true,
            "paging": true,
            "columnDefs": [
                { targets: 1, type: 'natural-nohtml' },
                { "orderable": false, "targets": 0 }
            ],
            "initComplete": function (settings, json) {
                //var a = $('#tblLeadList_paginate').parent().html();
                //$(a).insertAfter($('#createBtn'));
                $('#tblSubscriptionList_paginate').css({
                    'margin-right': '5px', 'padding': '1px'
                });
            }
        });

        $.each($('.input-filter', table.table().header()), function () {
            var column = table.column($(this).index());

            $('input', this).on('keyup change', function () {
                if (column.search() !== this.value) {
                    column
                        .search(this.value)
                        .draw();
                }
            });
        });

        $('#btnClear').click(function () {
            $.each($('.input-filter', table.table().header()), function () {
                table.search('').draw();
                $('input', this).val('');
                $('input', this).change();
            });
        });

    });
</script>