﻿
@{
    ViewBag.Title = "Redemption History";
}
@using CP.Models
@model SubscriptionIndexViewModal

@{
    var cu = Model.CurrentUser;
    var s = Model.Subscription;
    var profile = Model.Profile;
}

<style>
    .blue-title {
        margin-bottom: 0px;
        color: #225fef;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }

    .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

        .btn-default:focus,
        .btn-default.focus {
            color: #333;
            background-color: #e6e6e6;
            border-color: #8c8c8c;
        }

        .btn-default:hover {
            color: #333;
            background-color: #e6e6e6;
            border-color: #adadad;
        }
</style>

@{
    var canaccess = cu.Find(x => x.Keyword == "Subscription");
    if (canaccess != null && canaccess.IsRead)
    {
        <div class="row">
            <div class="col-lg-11">
                <!---Requester-->
                <table class="table table-bordered table-col-4" style="margin-top:10px">
                    <thead>
                        <tr class="background-color fontWhite cpBG">
                            <th colspan="3">Redemption History</th>
                        </tr>
                    </thead>
                    <tr>
                        <td colspan="3">
                            <table class="table table-bordered sub-table" style="margin-bottom:0px">
                                <thead>
                                    <tr>
                                        <th>
                                            Date/Time
                                        </th>
                                        <th style="width:32.3%">
                                            Service Redeemed
                                        </th>
                                        <th style="width:31.7%">
                                            Transaction
                                        </th>
                                        <th>
                                            Wallet Balance
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var r in Model.RedemptionHistory)
                                    {
                                        <tr>
                                            <td>
                                                <span>@r.TranDate.ToString("dd MMM yyyy HH:mm:ss")</span>
                                            </td>
                                            <td>
                                                <span>
                                                    @{
                                                        var desc = r.Description + " (" + r.Amount + "x" + r.AmountPerItem + " SC" + ")";
                                                    }

                                                    @desc
                                                </span>
                                            </td>
                                            <td class="alignRight">
                                                @{
                                                    var text = "";
                                                    var color = "";
                                                }
                                                @switch (r.TranType.Trim())
                                                {
                                                    case "REDEMPTION":
                                                        color = "red";
                                                        text = "-" + r.TotalAmount + " SC";
                                                        break;
                                                    case "CREDIT":
                                                        color = "green";
                                                        text = "+" + r.TotalAmount + " SC";
                                                        break;
                                                }

                                                <label style="font-weight:bold; color:@color">@text</label>
                                            </td>
                                            <td class="alignRight">
                                                <span>
                                                    @{
                                                        var bal = r.WalletBalance + " SC";
                                                    }

                                                    @bal
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>

                <!---Pex Team-->
                <!-- Action Button -->
                <div class="right-text" style="float:right; padding-bottom:10px;">
                    @if (canaccess.IsUpdate)
                    {
                        @*<a href="/Profile/EditProfile?profileId=@profile.ProfileId&page=@Model.Page" type="button" class="btn btn-xs btn-warning">Edit</a>*@
                    }
                    <a href="#" class="btn btn-xs btn-info">Print Statement</a>
                    <a href="/Profile/Choice?page=@Model.Page" class="btn btn-xs btn-default">Close</a>
                </div>

            </div>
        </div>
    }
    else
    {
        <h4 class="access-denied-page" style="color:black">
            Access denied, you don&acute;t have permission to access this page.
        </h4>
    }
}
<script>
</script>
