﻿
@{
    ViewBag.Title = "Subscription Account";
}
@using CP.Models
@model SubscriptionIndexViewModal

@{
    var cu = Model.CurrentUser;
    var s = Model.Subscription;
    var profile = Model.Profile;
    var auditTrails = Model.SubscriptionAuditTrails;
}

<style>
    .blue-title {
        margin-bottom: 0px;
        color: #225fef;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }

    .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

        .btn-default:focus,
        .btn-default.focus {
            color: #333;
            background-color: #e6e6e6;
            border-color: #8c8c8c;
        }

        .btn-default:hover {
            color: #333;
            background-color: #e6e6e6;
            border-color: #adadad;
        }
</style>

@{
    var canaccess = cu.Find(x => x.Keyword == "Subscription");
    if (canaccess != null && canaccess.IsRead)
    {
<div class="row">
    <div class="col-lg-11">
        <!---Requester-->
        <table class="table table-bordered table-col-4">
            <thead>
                <tr class="background-color fontWhite cpBG">
                    <th colspan="6">Subscription Account Information</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="background-color alignRight" width="160" style="vertical-align:middle">
                        Status :
                    </td>
                    <td style="vertical-align:middle">
                        <span>
                            @{
                                var status = "";
                                var color = "";
                            }
                            @switch (s.Status)
                            {
                                case 1:
                                    status = "Active";
                                    color = "green";
                                    break;
                                case 2:
                                    status = "Inactive";
                                    color = "red";
                                    break;
                            }

                            <label style="font-weight:bold; color:@color">@status</label>
                        </span>
                    </td>
                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                        Profile Name :
                    </td>
                    <td style="vertical-align:middle">
                        @switch (profile.BusinessType)
                        {
                            case 1:
                                profile.Name += " Sdn Bhd";
                                break;
                            case 2:
                                profile.Name += " Berhad";
                                break;
                            default:
                                break;
                        }
                        @profile.Name
                    </td>
                    <td class="alignRight" style="vertical-align:middle; width:5.65em">
                        Balance :
                    </td>
                    <td style="vertical-align:middle; width:16.5em">
                        <span style="font-weight:bold">@s.SubscriptionCreditBalance</span>
                        @*@{
                            if (Convert.ToDecimal(s.SubscriptionCreditBalance) < 100)
                            {

                            }
                            else
                            {
                                <span>
                                    <a id="name" class="btn btn-xs btn-warning pull-right" type="button" href="/Subscriptions/Subscription?profileId=@s.ProfileId&page=Creditor">Redeem</a>
                                </span>
                            }
                        }*@
                    </td>
                </tr>
                <tr>
                    <td class="alignRight" style="vertical-align:middle">
                        Subscription Package :
                    </td>
                    <td style="width:16.5em; vertical-align:middle" id="test">
                        <span>
                            
                        </span>
                    </td>
                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                        Subscription Date :
                    </td>
                    <td style="vertical-align:middle; width:16.5em">
                        @s.SubscribeDate.ToString("dd MMM yyyy")
                    </td>
                    <td class="alignRight" style="vertical-align:middle; width:5.65em">
                        Expiry Date :
                    </td>
                    <td style="vertical-align:middle; width:16.5em">
                        @s.ExpiryDate.ToString("dd MMM yyyy")
                    </td>
                </tr>
                <tr>
                    <td class="background-color alignRight" style="vertical-align:middle">
                        Remark :
                    </td>
                    <td colspan="5" style="vertical-align:middle">
                        @s.Remark
                    </td>
                </tr>
            </tbody>
        </table>

        <!---Pex Team-->
        <!-- Action Button -->
        <div class="right-text" style="float:right; padding-bottom:10px;">
            @if (canaccess.IsUpdate)
            {
                @*<a href="/Profile/EditProfile?profileId=@profile.ProfileId&page=@Model.Page" type="button" class="btn btn-xs btn-warning">Edit</a>*@
            }
            @{
                if (Convert.ToDecimal(s.SubscriptionCreditBalance) >= 100)
                {
                    <a href="#" class="btn btn-xs btn-warning">Redeem</a>
                }
            }
            <a href="/Profile/Choice?page=@Model.Page" class="btn btn-xs btn-default">Close</a>
        </div>

        <table class="table table-bordered table-col-4" style="padding-top:10px;">
            <thead>
                <tr class="background-color fontWhite cpBG">
                    <th colspan="5">Audit Trail</th>
                </tr>
            </thead>
            <tr>
                <td colspan="4">
                    <table class="table table-bordered sub-table" style="margin-bottom:0px">
                        <thead>
                            <tr>
                                <th width="20.3%">
                                    Date/Time
                                </th>
                                <th width="32%">
                                    User
                                </th>
                                <th width="20.9%">
                                    Action
                                </th>
                                <th>
                                    Comment
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@if (auditTrails != null)
                            {
                                foreach (var a in auditTrails)
                                {
                                    var uu = users.Find(x => x.UserId == a.UserId);
                                    <tr>
                                        <td>
                                            @a.Date.ToString("dd MMM yyyy HH:mm:ss")
                                        </td>
                                        <td>
                                            @uu.Fullname
                                        </td>
                                        <td>
                                            @a.Action
                                        </td>
                                        <td>
                                            @a.Comment
                                        </td>
                                    </tr>
                                }
                            }*@
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>

    </div>
</div>
    }
    else
    {
        <h4 class="access-denied-page" style="color:black">
            Access denied, you don&acute;t have permission to access this page.
        </h4>
    }
}
<script>
    $(function () {
        $('.datepicker').datepicker({
            format: 'dd M yyyy'
        })
    });

    $(document).ready(function () {

        $('#select').on('change', function () {
            $('#source').val(this.value);
            if (this.value == "All") {
                $('#source').val('');
            }
            $('#source').change();
        });

        $('#statusSelect').on('change', function () {
            $('#status').val(this.value);
            if (this.value == "All") {
                $('#status').val('');
            }
            $('#status').change();
        });

        $.fn.dataTable.moment('DD MMM YYYY HH:mm:ss');
        // DataTable
        var table = $('#tblSubscriptionList').DataTable({
            "pageLength": 25,
            "order": [[5, "desc"]],
            "dom": '<<"floatRight"p><t>>',
            "bSortCellsTop": true,
            "paging": true,
            "columnDefs": [
                { targets: 1, type: 'natural-nohtml' },
                { "orderable": false, "targets": 0 }
            ],
            "initComplete": function (settings, json) {
                //var a = $('#tblLeadList_paginate').parent().html();
                //$(a).insertAfter($('#createBtn'));
                $('#tblSubscriptionList_paginate').css({
                    'margin-right': '5px', 'padding': '1px'
                });
            }
        });

        $.each($('.input-filter', table.table().header()), function () {
            var column = table.column($(this).index());

            $('input', this).on('keyup change', function () {
                if (column.search() !== this.value) {
                    column
                        .search(this.value)
                        .draw();
                }
            });
        });

        $('#btnClear').click(function () {
            $.each($('.input-filter', table.table().header()), function () {
                table.search('').draw();
                $('input', this).val('');
                $('input', this).change();
            });
        });

    });
</script>
