﻿@using CP.Models
@model SubscriptionIndexViewModal

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var rmo = Model.RMO;
    var page = "_Index";
    var user = Model.User;

}

<div class="bs-docs-section clearfix">
    <div class="col-lg-offset-1" style="margin-left:107px">

        <div class="col-lg-11 bg-white" style="margin-left:-15px;">
            <div class="bs-component" style="font-size:12px; margin-top: 20px; margin-bottom: 10px; margin-right:-1%">
                <ul class="nav nav-tabs cog-nav flex-display">

                            <li class="nav-item nav-link doc-nav active" style="width:170px; text-align:center"><a @*href="@Url.Action("Index", "Dashboard")"*@ id="subs" class="btn btn-lg btn-module doc-type" role="button"><span class="glyphicon-lg glyphicon glyphicon-equalizer"></span> <br /><span style="font-size:10px; font-weight:bold">SUBSCRIPTION</span></a></li>

                            <li class="nav-item nav-link doc-nav" style="width:170px; text-align:center"><a @*href="@Url.Action("Index", "Dashboard")"*@ id="pending" class="btn btn-lg btn-module doc-type" role="button"><span class="glyphicon-lg glyphicon glyphicon-equalizer"></span> <br /><span style="font-size:10px; font-weight:bold">PENDING SUBSCRIPTIONS</span></a></li>

                </ul>
            </div>
        </div><br /><br /><br /><br /><br /><br />
        <!-- jQuery and Bootstrap's JavaScript-->
        <div id="contentDiv">

        </div>

    </div>
</div>
<script>
     $(document).ready(function () {
        var url = '@Url.Action(page, "Subscriptions")';
        $("#contentDiv").load(url);
     });

    $(function () {
        $('#subs').click(function () {
            $('#contentDiv').children().remove();
            var url = '@Url.Action("_Index", "Subscriptions")';
            $("#contentDiv").load(url);
        });
        $('#pending').click(function() {
            $('#contentDiv').children().remove();
            var url = '@Url.Action("_PendingIndex", "Subscriptions")';
            $("#contentDiv").load(url);
        });
    });
</script>