﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Subscription Approval";
}

@using CP.Models
@model SubscriptionIndexViewModal

@{
    var request = Model.SubRequest;
    var profile = Model.Profile;
    var address = Model.Address;
    var person = Model.Person;
    var cu = Model.CurrentUser;
    var users = Model.Users;
    var users2 = Model.Users2;
    var owner = Model.Users.Find(x => x.UserId == request.Approver1_id);
    var positions = Model.UserPositions;
    var c = "checked";
    var h = "hidden";
}

<style>
    .content .form-control {
        font-size: 11px;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }

    .btn-info {
        background-color: #5bc0de;
    }
</style>

@{
    var canaccess = cu.Find(x => x.Keyword == "Subscription");
    if (canaccess != null && canaccess.IsUpdate)
    {
<div class="row body-container" style="margin-top:20px;">
    <div class="bs-component" style="font-size:11px;">
        <div class="row col-lg-offset-1">
            <h3 style="margin-top: 0px;">
                Subscription Approval
            </h3>
        </div>
        <div class="col-lg-offset-1 col-lg-2">
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="2" class="background-color cpBG fontWhite">User</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="background-color" style="width:43%">
                                Name:
                            </td>
                            <td style="word-break:break-all">
                                @owner.Fullname
                            </td>
                        </tr>
                        <tr>
                            <td class="background-color">
                                Position:
                            </td>
                            <td>
                                @{
                                    var op = positions.Find(x => x.UserPositionId == owner.Position).Name;
                                    @op
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="background-color">
                                Request Date:
                            </td>
                            <td>
                                @request.RequestDate.ToString("dd MMM yyyy HH:mm:ss")
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Request ID:
                            </td>
                            <td>
                                @{
                                    string refrence = "S" + request.RequestDate.ToString("yyyyMM");

                                    refrence = refrence + request.RequestId.Substring(0, 4);
                                }
                                @refrence
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr class="background-color bg-white cpBG">
                            <th colspan="3">
                                Approval Committee
                            </th>
                        </tr>
                        <tr class="background-color bg-white cpBG">
                            <th style="width:43%">
                                Assign To
                            </th>
                            <th style="width:30%">
                                Date
                            </th>
                            <th style="text-align:center; width:27%">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="word-break:break-all">
                                @foreach (var u in users2)
                                {
                                    if (request.Approver1_id == u.UserId)
                                    {
                                        @u.Fullname
                                    }
                                }
                            </td>
                            <td>
                                @*@if (request.ApprovalAssignDate > request.Approval1LastUpdateActionTime)
                                {
                                    @request.ApprovalAssignDate.ToString("dd MMM yyyy HH:mm:ss")
                                }
                                else
                                {
                                    @request.Approval1LastUpdateActionTime.ToString("dd MMM yyyy HH:mm:ss")
                                }*@
                                <span>@request.RequestDate.ToString("dd MMM yyyy HH:mm:ss")</span>
                            </td>
                            <td data-value="" style="text-align:center;">
                                @if (request.Stage == 34)
                                {
                                    <span>Pending</span>
                                }
                                else if (request.Stage > 36)
                                {
                                    <span>Complete</span>
                                }
                                else if (request.Approval1)
                                {
                                    <span>Approved</span>
                                }
                                else if (!request.Approval1)
                                {
                                    @*if (!string.IsNullOrEmpty(request.Approval1UserAction))
                                    {
                                        @request.Approval1UserAction
                                    }*@
                                }
                            </td>
                        </tr>
                        <tr>
                            @{
                                if (request.Approver2_id != null)
                                {
                                    <td style="word-break:break-all">
                                        @foreach (var u in users2)
                                        {
                                            if (request.Approver2_id == u.UserId)
                                            {
                                                @u.Fullname
                                            }
                                        }
                                    </td>
                                    <td>
                                        @*@if (request.ApprovalAssignDate > request.Approval2LastUpdateActionTime)
                                        {
                                            @request.ApprovalAssignDate.ToString("dd MMM yyyy HH:mm:ss")
                                        }
                                        else
                                        {
                                            @request.Approval2LastUpdateActionTime.ToString("dd MMM yyyy HH:mm:ss")
                                        }*@

                                    </td>
                                    <td data-value="" style="text-align:center;">
                                        @if (request.Stage == 35)
                                        {
                                            <span>Approved</span>
                                        }
                                        else if (request.Stage > 36)
                                        {
                                            <span>Complete</span>
                                        }
                                        else if (!request.FinalApproval && request.Approval1)
                                        {
                                            @*if (!string.IsNullOrEmpty(request.Approval2UserAction))
                                            {
                                                @request.Approval2UserAction
                                            }
                                            else
                                            {
                                                <span>N/A</span>
                                            }*@
                                            <span>N/A</span>
                                        }
                                        else if (!request.FinalApproval && !request.Approval1)
                                        {
                                            @*if (!string.IsNullOrEmpty(request.Approval2UserAction))
                                            {
                                                @request.Approval2UserAction
                                            }
                                            else
                                            {
                                                <span>N/A</span>
                                            }*@
                                            <span>N/A</span>
                                        }
                                    </td>
                                }
                            }
                        </tr>
                    </tbody>
                </table>
            </div>



        </div>
        <div class="row1" id="creditor">
            <div class="col-lg-8">
                <div hidden>
                    <input class="form-control Pname" value="@profile.Name" id="name" type="text" />
                    <div class="row" style="text-align:center;" id="companyBox" @if (profile.BusinessType != 1 && profile.BusinessType != 2) { @h }>
                        <label>
                            <input type="radio" value="1" name="businessTypeRB" class="businesstype" id="c1" style="margin-right:2px;" @if (profile.BusinessType == 1) { @c }>
                            Sdn Bhd
                        </label>
                        &nbsp;
                        <label>
                            <input type="radio" value="2" name="businessTypeRB" class="businesstype" id="c2" style="margin-right:2px;" @if (profile.BusinessType == 2) { @c }>
                            Berhad
                        </label>
                    </div>
                    <div class="row" style="text-align:center;" id="businessBox" @if (profile.BusinessType != 3 && profile.BusinessType != 4) { @h }>
                        &nbsp;
                        <label>
                            <input type="radio" value="3" name="businessTypeRB" class="businesstype" id="b1" style="margin-right:2px;" @if (profile.BusinessType == 3) { @c }>
                            Sole Proprietor
                        </label>
                        &nbsp;
                        <label>
                            <input type="radio" value="4" name="businessTypeRB" class="businesstype" id="b2" style="margin-right:2px;" @if (profile.BusinessType == 4) { @c }>
                            Partnership &nbsp;
                        </label>
                    </div>
                    <input class="form-control" id="businessRegNo" type="text" value="@profile.BusinessRegNo" disabled maxlength="15" />
                    <input class="form-control contact" id="contactNo" type="text" value="@profile.ContactNo" maxlength="12" />
                    <input class="form-control email" id="email" type="email" value="@profile.Email" />
                    <select class="form-control" id="dms">
                        @if (profile.DMS == 1)
                        {
                            <option value="true" selected>Yes</option>
                        }
                        else
                        {
                            <option value="false" selected>No</option>
                        }
                    </select>
                    <select class="form-control" id="source">
                        @foreach (var ss in Model.Sources)
                        {
                            if (profile.Source == ss.SourceId)
                            {
                                <option selected value="@ss.SourceId">@ss.Name</option>
                            }
                        }
                    </select>
                    <select class="form-control" id="natureOfBusiness">
                        <option value="gsd">Goods Sold & Delivered</option>
                    </select>
                    <input id="website" type="text" class="form-control" value="@profile.Website">
                    <textarea id="remark" rows="3" class="form-control">@profile.Remark</textarea>
                </div>

                <table class="table table-bordered table-col-4">
                    <thead>
                        <tr class="background-color fontWhite cpBG">
                            <th colspan="6">Profile Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="background-color alignRight" width="160" style="vertical-align:middle">
                                Status :
                            </td>
                            <td>
                                <label style="color:red;" id="lblStatus">@request.Status</label>
                            </td>
                            <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                Profile Name :
                            </td>
                            <td style="vertical-align:middle;" colspan="3">
                                @switch (profile.BusinessType)
                                {
                                    case 1:
                                        profile.Name += " Sdn Bhd";
                                        break;
                                    case 2:
                                        profile.Name += " Berhad";
                                        break;
                                    default:
                                        break;
                                }
                                @profile.Name
                            </td>
                        </tr>

                        <tr>
                            <td class="alignRight" style="vertical-align:middle">
                                Business Reg No :
                            </td>
                            <td style="width:16.5em">
                                @profile.BusinessRegNo
                            </td>
                            <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                Contact No :
                            </td>
                            <td style="vertical-align:middle; width:16.5em">
                                @profile.ContactNo
                            </td>
                            <td class="alignRight" style="vertical-align:middle; width:5.65em">
                                Email :
                            </td>
                            <td style="vertical-align:middle; width:16.5em">
                                @profile.Email
                            </td>
                        </tr>
                        <tr>
                            <td class="background-color alignRight" style="vertical-align:middle">
                                Profile Type :
                            </td>
                            <td>
                                Creditor
                            </td>
                            <td class="alignRight" style="vertical-align:middle; width:9.15em">
                                DMS Subscriber :
                            </td>
                            <td style="vertical-align:middle">
                                @if (profile.DMS == 1)
                                {
                                    <span>Yes</span>
                                }
                                else
                                {
                                    <span>No</span>
                                }
                            </td>
                            <td class="background-color alignRight" style="vertical-align:middle">
                                Source :
                            </td>
                            <td style="vertical-align:middle">
                                @{
                                    var s = Model.Sources.Find(x => x.SourceId == profile.Source);

                                    if (s != null)
                                    {
                                        @s.Name
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="alignRight" style="vertical-align:middle">
                                Nature of Business :
                            </td>
                            <td vertical-align:middle">
                                Goods Sold & Delivered
                            </td>
                            <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                Website :
                            </td>
                            <td colspan="3" style="vertical-align:middle">
                                @profile.Website
                            </td>
                        </tr>
                        <tr>
                            <td class="background-color alignRight" style="vertical-align:middle">
                                Remark :
                            </td>
                            <td colspan="5" style="vertical-align:middle">
                                @profile.Remark
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div hidden>
                    <input class="form-control" id="line1" type="text" value="@address.Line1" />
                    <input class="form-control" id="line2" type="text" value="@address.Line2" />
                    <select id="city" class="form-control">
                        @foreach (var ss in Model.Cities)
                        {
                            if (address.City == ss.Name)
                            {
                                <option selected value="@ss.Name">@ss.Name</option>
                            }
                        }
                    </select>
                    <select id="state" class="form-control">
                        @foreach (var ss in Model.States)
                        {
                            if (address.State == ss.Name)
                            {
                                <option selected value="@ss.Name">@ss.Name</option>
                            }
                        }
                    </select>
                    <input class="form-control contact" id="postalCode" type="text" value="@address.PostalCode" maxlength="5" />
                </div>

                <table class="table table-bordered table-col-4" style="padding-top:10px;">
                    <thead>
                        <tr class="background-color fontWhite cpBG">
                            <th colspan="6">Address Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="160" class="background-color alignRight" style="vertical-align:middle">
                                Line 1 :
                            </td>
                            <td style="width: 16.5em; vertical-align:middle">
                                @address.Line1
                            </td>
                            <td class="alignRight" style="vertical-align:middle; width:9.15em">
                                Line 2 :
                            </td>
                            <td style="width: 16.5em; vertical-align:middle">
                                @address.Line2
                            </td>
                            <td class="background-color alignRight" style="vertical-align:middle; width:5.65em">
                                City :
                            </td>
                            <td style="vertical-align:middle; width:16.5em">
                                @address.City
                            </td>
                        </tr>
                        <tr>
                            <td class="alignRight" style="vertical-align:middle">
                                State :
                            </td>
                            <td style="width: 16.5em; vertical-align:middle">
                                @address.State
                            </td>
                            <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                Postal Code :
                            </td>
                            <td style="vertical-align:middle; width:16.5em;">
                                @address.PostalCode
                            </td>
                            <td class="alignRight" style="vertical-align:middle; width:5.65em">
                                Country :
                            </td>
                            <td style="vertical-align:middle; width:16.5em">
                                @address.Country
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div hidden>
                    <input class="form-control name" id="picName" type="text" value="@person.Name" />
                    <input class="form-control contact" id="picContact" type="text" value="@person.ContactNo" maxlength="12" />
                    <input class="form-control email" id="picEmail" type="email" value="@person.Email" />
                </div>

                <table class="table table-bordered table-col-4" style="padding-top:10px;">
                    <thead>
                        <tr class="background-color fontWhite cpBG">
                            <th colspan="6">Person In Charge Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="160" class="background-color alignRight" style="vertical-align:middle">
                                Name :
                            </td>
                            <td style="vertical-align:middle; width:16.5em">
                                @person.Name
                            </td>
                            <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                Contact No :
                            </td>
                            <td style="width: 16.5em; vertical-align:middle">
                                @person.ContactNo
                            </td>
                            <td class="alignRight" style="vertical-align:middle; width:5.65em">
                                Email :
                            </td>
                            <td style="vertical-align:middle; width:16.5em">
                                @person.Email
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    }
    else
    {
        <h4 class="access-denied-page" style="color:black">
            Access denied, you don&acute;t have permission to access this page.
        </h4>
    }
}