﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit Lead";
}

@using CP.Models
@model SubscriptionIndexViewModal

@{
    var request = Model.SubRequest;
    var profile = Model.Profile;
    var address = Model.Address;
    var person = Model.Person;
    //var ShowInSelect = Model.ShowInSelects;
    var cr = Model.CommentRemark.FindAll(x => x.Type.TrimEnd() == "Profile");
    //var lead = Model.Lead;
    var users = Model.Users;
    var approval1 = Model.Users2.Find(x => x.UserId == request.Approver1_id);
    var users2 = Model.Users2;
    var approval2 = Model.Users2.Find(x => x.UserId == request.Approver2_id);
    var document = Model.Documents;
    //var docType = Model.DocumentTypes;
    //bool boo = Model.DocRequired;
    var disabled = "disabled";
    var position = Model.Position;
    var userId = Model.UserId;
    //var cfi = Model.CompanyFinancialInformation;
    var cfiDoc = document.FindAll(x => x.Type == "7F760368-629F-43A4-A2CB-5F2F2C4003B4");
    //var lr = Model.LitigationRecord;
    var lrDoc = document.FindAll(x => x.Type == "CE756226-33DF-4F9B-96BD-BBA9687B90ED");
    //var br = Model.BlackListingRecord;
    var brDoc = document.FindAll(x => x.Type == "AB94BE85-7EED-4307-B8CE-9A799BF090B6");
    //var afi = Model.AssetForInvestigation;
    var soc = Model.StatusOfCases;
    var leadDoc = document.FindAll(x => x.Type == "65FECCE2-AA95-412D-95D2-0A271273B08F");
    var preAndSoa = new List<ObjectClassesLibrary.Classes.Document>();
    //foreach (var s in ShowInSelect)
    //{
    //    if (s.ShowInSelectName == "PreAndSoaDoc")
    //    {
    //        var d = document.FindAll(x => x.Type == s.DocumentTypeId);
    //        if (d != null)
    //        {
    //            preAndSoa.AddRange(d);
    //        }
    //    }
    //}
    var lawyerDoc = new List<ObjectClassesLibrary.Classes.Document>();
    //foreach (var s in ShowInSelect)
    //{
    //    if (s.ShowInSelectName == "LawyerDoc")
    //    {
    //        var d = document.FindAll(x => x.Type == s.DocumentTypeId);
    //        if (d != null)
    //        {
    //            lawyerDoc.AddRange(d);
    //        }
    //    }
    //}
    var settlementAgreement = new List<ObjectClassesLibrary.Classes.Document>();
    //foreach (var s in ShowInSelect)
    //{
    //    if (s.ShowInSelectName == "SettlementAgreementDoc")
    //    {
    //        var d = document.FindAll(x => x.Type == s.DocumentTypeId);
    //        if (d != null)
    //        {
    //            settlementAgreement.AddRange(d);
    //        }
    //    }
    //}
    var financeDoc = new List<ObjectClassesLibrary.Classes.Document>();
    //foreach (var s in ShowInSelect)
    //{
    //    if (s.ShowInSelectName == "FinanceDoc")
    //    {
    //        var d = document.FindAll(x => x.Type == s.DocumentTypeId);
    //        if (d != null)
    //        {
    //            financeDoc.AddRange(d);
    //        }
    //    }
    //}
    var ctosDoc = document.FindAll(x => x.Type == "B8084C0D-1096-4F0F-A747-8B76DB48B1DC");
    var invoiceDoc = document.FindAll(x => x.Type == "272B6077-CBA6-4855-80EB-9D52E5B76D22");
    var crRmo = Model.CommentRemark.FindAll(x => x.Type.TrimEnd() == "RmoLead");
    var c = "checked";
    var h = "hidden";
    var auditTrails = Model.AuditTrails;
    var positions = Model.UserPositions;
    //var debtors = Model.Debtors;
    var profiles = Model.Profiles;
    //var AppointmentTypes = Model.AppointmentTypes;
    var disputeDoc = document.FindAll(x => x.Type == "D307B976-AF64-4B34-8CED-FE3DD69A2195");
    var jid = document.FindAll(x => x.Type == "6EB5BD98-1305-42FD-BED8-919F03BFD78B");
    //var negotiator = Model.Negotiator;
    //bool canSee = Model.CanSee;
    var cu = Model.CurrentUser;
    var rmo = users2.FindAll(x => x.Position == "011C9D8F-A82A-4BE3-9F30-4C2CEDE0D487");

    string cpBg = "cpBG";
    string orangeBg = "orangeBg";
    var operations = users2.FindAll(x => x.Position == "A4C2EBBE-9391-44AF-BD49-572BBC9EB22E");
    var segAccess = Model.PageSegmentAccess;
}
<script src="~/Scripts/Lead.js"></script>

<script>
    $(function () {
        init();
    });
</script>
<style>
    .content .form-control {
        font-size: 11px;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }

    .btn-info {
        background-color: #5bc0de;
    }
</style>
@{
    var canaccess = cu.Find(x => x.Keyword == "Subscription");

    if (canaccess != null && canaccess.IsUpdate)
    {
        <div class="row body-container" style="margin-top:20px;">
            <div class="bs-component" style="font-size:11px;">
                <div class="row col-lg-offset-1">
                    <h3 style="margin-top: 0px;">
                        Profile (Company)
                        <select class="form-control" style="float:right; width:220px; margin-bottom:10px; margin-right:11.4%" id="choice">
                            @if (profile.BusinessType == 1 || profile.BusinessType == 2)
                            {
                                <option value="Company" selected>Company</option>
                                <option value="Business">Business</option>
                            }
                            else
                            {
                                <option value="Company">Company</option>
                                <option value="Business" selected>Business</option>
                            }
                        </select>
                    </h3>

                </div>
                <div class="col-lg-offset-1 col-lg-2">
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2" class="background-color cpBG fontWhite">User</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="background-color" style="width:43%">
                                        Name:
                                    </td>
                                    <td style="word-break:break-all">
                                        @approval1.Fullname
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        Position:
                                    </td>
                                    <td>
                                        @{
                                            var op = positions.Find(x => x.UserPositionId == approval1.Position).Name;
                                            @op
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        Request Date:
                                    </td>
                                    <td>
                                        @request.RequestDate.ToString("dd MMM yyyy HH:mm:ss")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Request ID:
                                    </td>
                                    <td>
                                        @{
                                            string refrence = "S" + request.RequestDate.ToString("yyyyMM");

                                            refrence = refrence + request.RequestId.Substring(0, 4);
                                        }
                                        @refrence
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    @if (request.Stage >= 34)
                    {
                        <div class="row">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="background-color bg-white cpBG">
                                        <th colspan="3">
                                            Approval Committee
                                        </th>
                                    </tr>
                                    <tr class="background-color bg-white cpBG">
                                        <th style="width:43%">
                                            Assign To
                                        </th>
                                        <th style="width:30%">
                                            Date
                                        </th>
                                        <th style="text-align:center; width:27%">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="word-break:break-all">
                                            @foreach (var u in users2)
                                            {
                                                if (request.Approver1_id == u.UserId)
                                                {
                                                    @u.Fullname
                                                }
                                            }
                                        </td>
                                        <td>
                                            @request.Approval1_Date.ToString("dd MMM yyyy HH:mm:ss")
                                        </td>
                                        <td data-value="" style="text-align:center;">
                                            @if (request.Stage == 34)
                                            {
                                                <span>Pending Approval 1</span>
                                            }
                                            else if (request.Stage == 36)
                                            {
                                                <span>Complete</span>
                                            }
                                            else if (request.Stage == 35)
                                            {
                                                <span>Pending Final Approval</span>
                                            }
                                         
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="word-break:break-all">
                                            @foreach (var u in users2)
                                            {
                                                if (request.Approver2_id == u.UserId)
                                                {
                                                    @u.Fullname
                                                }
                                            }
                                        </td>
                                        <td>
                                            @*@if (request.ApprovalAssignDate > request.Approval2LastUpdateActionTime)
                                            {
                                                @request.ApprovalAssignDate.ToString("dd MMM yyyy HH:mm:ss")
                                            }
                                            else
                                            {
                                                @request.Approval2LastUpdateActionTime.ToString("dd MMM yyyy HH:mm:ss")
                                            }*@
                                        </td>
                                        <td data-value="" style="text-align:center;">
                                            @if (request.Stage == 34)
                                            {
                                                <span>Pending Approval 1</span>
                                            }
                                            else if (request.Stage == 36)
                                            {
                                                <span>Complete</span>
                                            }
                                            else if (request.Stage == 35)
                                            {
                                                <span>Pending Final Approval</span>
                                            }
                                            @*else if (!request.Approval2 && request.Approval1)
        {
            if (!string.IsNullOrEmpty(request.Approval2UserAction))
            {
                @request.Approval2UserAction
            }
            else
            {
                <span>N/A</span>
            }
        }
        else if (!request.Approval2 && !request.Approval1)
        {
            if (!string.IsNullOrEmpty(request.Approval2UserAction))
            {
                @request.Approval2UserAction
            }
            else
            {
                <span>N/A</span>
            }
        }*@
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                </div>

                <div class="row1" id="creditor">
                    <div class="col-lg-8">
                        <!---Requester-->
                        <table class="table table-bordered table-col-4">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="6">Profile Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="background-color alignRight" width="160" style="vertical-align:middle">
                                        Status :
                                    </td>
                                    <td style="vertical-align:middle">
                                        <label style="color:red;" id="lblStatus">@request.sName</label>
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Profile Name :<span class="red">*</span>
                                    </td>
                                    <td colspan="2">
                                        <input class="form-control Pname" value="@profile.Name" id="name" type="text" />
                                    </td>
                                    <td class="background-color" style="vertical-align:middle">
                                        <div class="row" style="text-align:center;" id="companyBox" @if (profile.BusinessType != 1 && profile.BusinessType != 2) { @h }>
                                            <label>
                                                <input type="radio" value="1" name="businessTypeRB" class="businesstype" id="c1" style="margin-right:2px;" @if (profile.BusinessType == 1) { @c }>
                                                Sdn Bhd
                                            </label>
                                            &nbsp;
                                            <label>
                                                <input type="radio" value="2" name="businessTypeRB" class="businesstype" id="c2" style="margin-right:2px;" @if (profile.BusinessType == 2) { @c }>
                                                Berhad
                                            </label>
                                        </div>
                                        <div class="row" style="text-align:center;" id="businessBox" @if (profile.BusinessType != 3 && profile.BusinessType != 4) { @h }>
                                            &nbsp;
                                            <label>
                                                <input type="radio" value="3" name="businessTypeRB" class="businesstype" id="b1" style="margin-right:2px;" @if (profile.BusinessType == 3) { @c }>
                                                Sole Proprietor
                                            </label>
                                            &nbsp;
                                            <label>
                                                <input type="radio" value="4" name="businessTypeRB" class="businesstype" id="b2" style="margin-right:2px;" @if (profile.BusinessType == 4) { @c }>
                                                Partnership &nbsp;
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alignRight" style="vertical-align:middle">
                                        Business Reg No :<span class="red">*</span>
                                    </td>
                                    <td>
                                        <input class="form-control" id="businessRegNo" type="text" value="@profile.BusinessRegNo" disabled maxlength="15" />
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Contact No :<span class="red">*</span>
                                    </td>
                                    <td style="width:16.5em">
                                        <input class="form-control contact" id="contactNo" type="text" value="@profile.ContactNo" maxlength="12" />
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle; width:5.65em">
                                        Email :<span class="red">*</span>
                                    </td>
                                    <td style="width:16.5em">
                                        <input class="form-control email" id="email" type="email" value="@profile.Email" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color alignRight" style="vertical-align:middle">
                                        Profile Type :
                                    </td>
                                    <td style="width:16.5em; vertical-align:middle" id="test">
                                        Creditor
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        DMS Subscriber :
                                    </td>
                                    <td>
                                        <select class="form-control" id="dms">
                                            @if (profile.DMS == 1)
                                            {
                                                <option value="true" selected>Yes</option>
                                                <option value="false">No</option>
                                            }
                                            else
                                            {
                                                <option value="true">Yes</option>
                                                <option value="false" selected>No</option>
                                            }
                                        </select>
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle">
                                        Source :
                                    </td>
                                    <td>
                                        <select class="form-control" id="source">
                                            @foreach (var s in Model.Sources)
                                            {
                                                if (profile.Source == s.SourceId)
                                                {
                                                    <option selected value="@s.SourceId">@s.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@s.SourceId">@s.Name</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alignRight" style="vertical-align:middle">
                                        Nature of Business :
                                    </td>
                                    <td>
                                        <select class="form-control" id="natureOfBusiness">
                                            <option value="gsd">Goods Sold & Delivered</option>
                                        </select>
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Website :
                                    </td>
                                    <td colspan="3">
                                        <input id="website" type="text" class="form-control" value="@profile.Website">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color alignRight" style="vertical-align:middle">
                                        Remark :
                                    </td>
                                    <td colspan="5">
                                        <textarea id="remark" rows="3" class="form-control">@profile.Remark</textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-col-4" style="padding-top:10px;">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="6">Address Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="160" class="background-color alignRight" style="vertical-align:middle">
                                        Line 1 :<span class="red">*</span>
                                    </td>
                                    <td style="width:16.5em">
                                        <input class="form-control" id="line1" type="text" value="@address.Line1" />
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Line 2 :<span class="red">*</span>
                                    </td>
                                    <td style="width:16.5em">
                                        <input class="form-control" id="line2" type="text" value="@address.Line2" />
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:5.65em">
                                        City :
                                    </td>
                                    <td style="width:16.5em">
                                        <select id="city" class="form-control">
                                            @foreach (var s in Model.Cities)
                                            {
                                                if (address.City == s.Name)
                                                {
                                                    <option selected value="@s.Name">@s.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@s.Name">@s.Name</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alignRight" style="vertical-align:middle">
                                        State :
                                    </td>
                                    <td style="width:16.5em">
                                        <select id="state" class="form-control">
                                            @foreach (var s in Model.States)
                                            {
                                                if (address.State == s.Name)
                                                {
                                                    <option selected value="@s.Name">@s.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@s.Name">@s.Name</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Postal Code :<span class="red">*</span>
                                    </td>
                                    <td style="width:16.5em">
                                        <input class="form-control contact" id="postalCode" type="text" value="@address.PostalCode" maxlength="5" />
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:5.65em">
                                        Country :
                                    </td>
                                    <td style="width:16.5em; vertical-align:middle">
                                        @address.Country
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-col-4" style="padding-top:10px;">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="6">Person In Charge Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="160" class="background-color alignRight" style="vertical-align:middle">
                                        Name :<span class="red">*</span>
                                    </td>
                                    <td style="width:16.5em">
                                        <input class="form-control name" id="picName" type="text" value="@person.Name" />
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Contact No :<span class="red">*</span>
                                    </td>
                                    <td style="width:16.5em">
                                        <input class="form-control contact" id="picContact" type="text" value="@person.ContactNo" maxlength="12" />
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle; width:5.65em">
                                        Email :<span class="red">*</span>
                                    </td>
                                    <td style="width:16.5em">
                                        <input class="form-control email" id="picEmail" type="email" value="@person.Email" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-col-4" style="margin-top:10px">
                            <thead>
                                <tr class="background-color fontWhite @if (request.Stage == 4 || request.Stage == 13) { @orangeBg } else { @cpBg } ">
                                    <th colspan="4">Creditor Documents</th>
                                </tr>
                            </thead>
                            <tr>
                                <td colspan="4">
                                    <table class="table table-bordered sub-table" id="inptPreAndSoa" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th width="20.3%">
                                                    Doc Type
                                                </th>
                                                <th width="32%">
                                                    File Name
                                                </th>
                                                <th width="20.8%">
                                                    File Size
                                                </th>
                                                <th>
                                                    Uploaded Date
                                                </th>
                                                <th style="text-align:center; width:6.8%">
                                                    Action
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (preAndSoa != null)
                                            {
                                                foreach (var d in preAndSoa)
                                                {
                                                    var t = docType.Find(x => x.DocumentTypeId == d.Type);
                                                    <tr>
                                                        <td>
                                                            @t.Name
                                                        </td>
                                                        <td>
                                                            <a href="/@d.Path@d.FileName" target="_blank">@d.FileName</a>
                                                        </td>
                                                        <td class="alignRight">
                                                            @d.Size
                                                        </td>
                                                        <td>
                                                            @d.CreatedDate.ToString("dd MMM yyyy")
                                                        </td>
                                                        <td style="text-align:center;">
                                                            @if (segAccess.CreditorDocAccess)
                                                            {
                                                                <a class="delete" data-value="@d.DocumentId" data-type="@t.DocumentTypeId" data-seg="PreAndSoaDoc" title="Delete" onclick="removeAttachment(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                                            }
                                                            else
                                                            {
                                                                <span>N/A</span>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>

                                    </table>
                                </td>
                            </tr>
                        </table>

                        @*@if (segAccess.ProfileAddressPersonAccess)
        {
            <table class="table table-bordered table-col-4">
                <thead>
                    <tr class="background-color fontWhite cpBG">
                        <th colspan="6">Profile Information</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="background-color alignRight" width="160" style="vertical-align:middle">
                            Status :
                        </td>
                        <td style="vertical-align:middle">
                            <label style="color:red;" id="lblStatus">@request.Status</label>
                        </td>
                        <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                            Profile Name :<span class="red">*</span>
                        </td>
                        <td colspan="2">
                            <input class="form-control Pname" value="@profile.Name" id="name" type="text" />
                        </td>
                        <td class="background-color" style="vertical-align:middle">
                            <div class="row" style="text-align:center;" id="companyBox" @if (profile.BusinessType != 1 && profile.BusinessType != 2) { @h }>
                                <label>
                                    <input type="radio" value="1" name="businessTypeRB" class="businesstype" id="c1" style="margin-right:2px;" @if (profile.BusinessType == 1) { @c }>
                                    Sdn Bhd
                                </label>
                                &nbsp;
                                <label>
                                    <input type="radio" value="2" name="businessTypeRB" class="businesstype" id="c2" style="margin-right:2px;" @if (profile.BusinessType == 2) { @c }>
                                    Berhad
                                </label>
                            </div>
                            <div class="row" style="text-align:center;" id="businessBox" @if (profile.BusinessType != 3 && profile.BusinessType != 4) { @h }>
                                &nbsp;
                                <label>
                                    <input type="radio" value="3" name="businessTypeRB" class="businesstype" id="b1" style="margin-right:2px;" @if (profile.BusinessType == 3) { @c }>
                                    Sole Proprietor
                                </label>
                                &nbsp;
                                <label>
                                    <input type="radio" value="4" name="businessTypeRB" class="businesstype" id="b2" style="margin-right:2px;" @if (profile.BusinessType == 4) { @c }>
                                    Partnership &nbsp;
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="alignRight" style="vertical-align:middle">
                            Business Reg No :<span class="red">*</span>
                        </td>
                        <td>
                            <input class="form-control" id="businessRegNo" type="text" value="@profile.BusinessRegNo" disabled maxlength="15" />
                        </td>
                        <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                            Contact No :<span class="red">*</span>
                        </td>
                        <td style="width:16.5em">
                            <input class="form-control contact" id="contactNo" type="text" value="@profile.ContactNo" maxlength="12" />
                        </td>
                        <td class="alignRight" style="vertical-align:middle; width:5.65em">
                            Email :<span class="red">*</span>
                        </td>
                        <td style="width:16.5em">
                            <input class="form-control email" id="email" type="email" value="@profile.Email" />
                        </td>
                    </tr>
                    <tr>
                        <td class="background-color alignRight" style="vertical-align:middle">
                            Profile Type :
                        </td>
                        <td style="width:16.5em; vertical-align:middle" id="test">
                            Creditor
                        </td>
                        <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                            DMS Subscriber :
                        </td>
                        <td>
                            <select class="form-control" id="dms">
                                @if (profile.DMS == 1)
                                {
                                    <option value="true" selected>Yes</option>
                                    <option value="false">No</option>
                                }
                                else
                                {
                                    <option value="true">Yes</option>
                                    <option value="false" selected>No</option>
                                }
                            </select>
                        </td>
                        <td class="background-color alignRight" style="vertical-align:middle">
                            Source :
                        </td>
                        <td>
                            <select class="form-control" id="source">
                                @foreach (var s in Model.Sources)
                                {
                                    if (profile.Source == s.SourceId)
                                    {
                                        <option selected value="@s.SourceId">@s.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@s.SourceId">@s.Name</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="alignRight" style="vertical-align:middle">
                            Nature of Business :
                        </td>
                        <td>
                            <select class="form-control" id="natureOfBusiness">
                                <option value="gsd">Goods Sold & Delivered</option>
                            </select>
                        </td>
                        <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                            Website :
                        </td>
                        <td colspan="3">
                            <input id="website" type="text" class="form-control" value="@profile.Website">
                        </td>
                    </tr>
                    <tr>
                        <td class="background-color alignRight" style="vertical-align:middle">
                            Remark :
                        </td>
                        <td colspan="5">
                            <textarea id="remark" rows="3" class="form-control">@profile.Remark</textarea>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered table-col-4" style="padding-top:10px;">
                <thead>
                    <tr class="background-color fontWhite cpBG">
                        <th colspan="6">Address Information</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="160" class="background-color alignRight" style="vertical-align:middle">
                            Line 1 :<span class="red">*</span>
                        </td>
                        <td style="width:16.5em">
                            <input class="form-control" id="line1" type="text" value="@address.Line1" />
                        </td>
                        <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                            Line 2 :<span class="red">*</span>
                        </td>
                        <td style="width:16.5em">
                            <input class="form-control" id="line2" type="text" value="@address.Line2" />
                        </td>
                        <td class="background-color alignRight" style="vertical-align:middle; width:5.65em">
                            City :
                        </td>
                        <td style="width:16.5em">
                            <select id="city" class="form-control">
                                @foreach (var s in Model.Cities)
                                {
                                    if (address.City == s.Name)
                                    {
                                        <option selected value="@s.Name">@s.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@s.Name">@s.Name</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="alignRight" style="vertical-align:middle">
                            State :
                        </td>
                        <td style="width:16.5em">
                            <select id="state" class="form-control">
                                @foreach (var s in Model.States)
                                {
                                    if (address.State == s.Name)
                                    {
                                        <option selected value="@s.Name">@s.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@s.Name">@s.Name</option>
                                    }
                                }
                            </select>
                        </td>
                        <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                            Postal Code :<span class="red">*</span>
                        </td>
                        <td style="width:16.5em">
                            <input class="form-control contact" id="postalCode" type="text" value="@address.PostalCode" maxlength="5" />
                        </td>
                        <td class="background-color alignRight" style="vertical-align:middle; width:5.65em">
                            Country :
                        </td>
                        <td style="width:16.5em; vertical-align:middle">
                            @address.Country
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered table-col-4" style="padding-top:10px;">
                <thead>
                    <tr class="background-color fontWhite cpBG">
                        <th colspan="6">Person In Charge Information</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="160" class="background-color alignRight" style="vertical-align:middle">
                            Name :<span class="red">*</span>
                        </td>
                        <td style="width:16.5em">
                            <input class="form-control name" id="picName" type="text" value="@person.Name" />
                        </td>
                        <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                            Contact No :<span class="red">*</span>
                        </td>
                        <td style="width:16.5em">
                            <input class="form-control contact" id="picContact" type="text" value="@person.ContactNo" maxlength="12" />
                        </td>
                        <td class="alignRight" style="vertical-align:middle; width:5.65em">
                            Email :<span class="red">*</span>
                        </td>
                        <td style="width:16.5em">
                            <input class="form-control email" id="picEmail" type="email" value="@person.Email" />
                        </td>
                    </tr>
                </tbody>
            </table>
        }
        else
        {
            <div hidden>
                <input class="form-control Pname" value="@profile.Name" id="name" type="text" />
                <div class="row" style="text-align:center;" id="companyBox" @if (profile.BusinessType != 1 && profile.BusinessType != 2) { @h }>
                    <label>
                        <input type="radio" value="1" name="businessTypeRB" class="businesstype" id="c1" style="margin-right:2px;" @if (profile.BusinessType == 1) { @c }>
                        Sdn Bhd
                    </label>
                    &nbsp;
                    <label>
                        <input type="radio" value="2" name="businessTypeRB" class="businesstype" id="c2" style="margin-right:2px;" @if (profile.BusinessType == 2) { @c }>
                        Berhad
                    </label>
                </div>
                <div class="row" style="text-align:center;" id="businessBox" @if (profile.BusinessType != 3 && profile.BusinessType != 4) { @h }>
                    &nbsp;
                    <label>
                        <input type="radio" value="3" name="businessTypeRB" class="businesstype" id="b1" style="margin-right:2px;" @if (profile.BusinessType == 3) { @c }>
                        Sole Proprietor
                    </label>
                    &nbsp;
                    <label>
                        <input type="radio" value="4" name="businessTypeRB" class="businesstype" id="b2" style="margin-right:2px;" @if (profile.BusinessType == 4) { @c }>
                        Partnership &nbsp;
                    </label>
                </div>
                <input class="form-control" id="businessRegNo" type="text" value="@profile.BusinessRegNo" disabled maxlength="15" />
                <input class="form-control contact" id="contactNo" type="text" value="@profile.ContactNo" maxlength="12" />
                <input class="form-control email" id="email" type="email" value="@profile.Email" />
                <select class="form-control" id="dms">
                    @if (profile.DMS == 1)
                    {
                        <option value="true" selected>Yes</option>
                    }
                    else
                    {
                        <option value="false" selected>No</option>
                    }
                </select>
                <select class="form-control" id="source">
                    @foreach (var ss in Model.Sources)
                    {
                        if (profile.Source == ss.SourceId)
                        {
                            <option selected value="@ss.SourceId">@ss.Name</option>
                        }
                    }
                </select>
                <select class="form-control" id="natureOfBusiness">
                    <option value="gsd">Goods Sold & Delivered</option>
                </select>
                <input id="website" type="text" class="form-control" value="@profile.Website">
                <textarea id="remark" rows="3" class="form-control">@profile.Remark</textarea>
            </div>

            <table class="table table-bordered table-col-4">
                <thead>
                    <tr class="background-color fontWhite cpBG">
                        <th colspan="6">Profile Information</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="background-color alignRight" width="160" style="vertical-align:middle">
                            Status :
                        </td>
                        <td>
                            <label style="color:red;" id="lblStatus">@request.Status</label>
                        </td>
                        <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                            Profile Name :
                        </td>
                        <td style="vertical-align:middle;" colspan="3">
                            @switch (profile.BusinessType)
                            {
                                case 1:
                                    profile.Name += " Sdn Bhd";
                                    break;
                                case 2:
                                    profile.Name += " Berhad";
                                    break;
                                default:
                                    break;
                            }
                            @profile.Name
                        </td>
                    </tr>

                    <tr>
                        <td class="alignRight" style="vertical-align:middle">
                            Business Reg No :
                        </td>
                        <td style="width:16.5em">
                            @profile.BusinessRegNo
                        </td>
                        <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                            Contact No :
                        </td>
                        <td style="vertical-align:middle; width:16.5em">
                            @profile.ContactNo
                        </td>
                        <td class="alignRight" style="vertical-align:middle; width:5.65em">
                            Email :
                        </td>
                        <td style="vertical-align:middle; width:16.5em">
                            @profile.Email
                        </td>
                    </tr>
                    <tr>
                        <td class="background-color alignRight" style="vertical-align:middle">
                            Profile Type :
                        </td>
                        <td>
                            Creditor
                        </td>
                        <td class="alignRight" style="vertical-align:middle; width:9.15em">
                            DMS Subscriber :
                        </td>
                        <td style="vertical-align:middle">
                            @if (profile.DMS == 1)
                            {
                                <span>Yes</span>
                            }
                            else
                            {
                                <span>No</span>
                            }
                        </td>
                        <td class="background-color alignRight" style="vertical-align:middle">
                            Source :
                        </td>
                        <td style="vertical-align:middle">
                            @{
                                var s = Model.Sources.Find(x => x.SourceId == profile.Source);

                                if (s != null)
                                {
                                    @s.Name
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="alignRight" style="vertical-align:middle">
                            Nature of Business :
                        </td>
                        <td vertical-align:middle">
                            Goods Sold & Delivered
                        </td>
                        <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                            Website :
                        </td>
                        <td colspan="3" style="vertical-align:middle">
                            @profile.Website
                        </td>
                    </tr>
                    <tr>
                        <td class="background-color alignRight" style="vertical-align:middle">
                            Remark :
                        </td>
                        <td colspan="5" style="vertical-align:middle">
                            @profile.Remark
                        </td>
                    </tr>
                </tbody>
            </table>

            <div hidden>
                <input class="form-control" id="line1" type="text" value="@address.Line1" />
                <input class="form-control" id="line2" type="text" value="@address.Line2" />
                <select id="city" class="form-control">
                    @foreach (var ss in Model.Cities)
                    {
                        if (address.City == ss.Name)
                        {
                            <option selected value="@ss.Name">@ss.Name</option>
                        }
                    }
                </select>
                <select id="state" class="form-control">
                    @foreach (var ss in Model.States)
                    {
                        if (address.State == ss.Name)
                        {
                            <option selected value="@ss.Name">@ss.Name</option>
                        }
                    }
                </select>
                <input class="form-control contact" id="postalCode" type="text" value="@address.PostalCode" maxlength="5" />
            </div>

            <table class="table table-bordered table-col-4" style="padding-top:10px;">
                <thead>
                    <tr class="background-color fontWhite cpBG">
                        <th colspan="6">Address Information</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="160" class="background-color alignRight" style="vertical-align:middle">
                            Line 1 :
                        </td>
                        <td style="width: 16.5em; vertical-align:middle">
                            @address.Line1
                        </td>
                        <td class="alignRight" style="vertical-align:middle; width:9.15em">
                            Line 2 :
                        </td>
                        <td style="width: 16.5em; vertical-align:middle">
                            @address.Line2
                        </td>
                        <td class="background-color alignRight" style="vertical-align:middle; width:5.65em">
                            City :
                        </td>
                        <td style="vertical-align:middle; width:16.5em">
                            @address.City
                        </td>
                    </tr>
                    <tr>
                        <td class="alignRight" style="vertical-align:middle">
                            State :
                        </td>
                        <td style="width: 16.5em; vertical-align:middle">
                            @address.State
                        </td>
                        <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                            Postal Code :
                        </td>
                        <td style="vertical-align:middle; width:16.5em;">
                            @address.PostalCode
                        </td>
                        <td class="alignRight" style="vertical-align:middle; width:5.65em">
                            Country :
                        </td>
                        <td style="vertical-align:middle; width:16.5em">
                            @address.Country
                        </td>
                    </tr>
                </tbody>
            </table>

            <div hidden>
                <input class="form-control name" id="picName" type="text" value="@person.Name" />
                <input class="form-control contact" id="picContact" type="text" value="@person.ContactNo" maxlength="12" />
                <input class="form-control email" id="picEmail" type="email" value="@person.Email" />
            </div>

            <table class="table table-bordered table-col-4" style="padding-top:10px;">
                <thead>
                    <tr class="background-color fontWhite cpBG">
                        <th colspan="6">Person In Charge Information</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="160" class="background-color alignRight" style="vertical-align:middle">
                            Name :
                        </td>
                        <td style="vertical-align:middle; width:16.5em">
                            @person.Name
                        </td>
                        <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                            Contact No :
                        </td>
                        <td style="width: 16.5em; vertical-align:middle">
                            @person.ContactNo
                        </td>
                        <td class="alignRight" style="vertical-align:middle; width:5.65em">
                            Email :
                        </td>
                        <td style="vertical-align:middle; width:16.5em">
                            @person.Email
                        </td>
                    </tr>
                </tbody>
            </table>
        }*@

                        <table class="table table-bordered table-col-4" style="margin-top:10px">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="3">Comment/Remark</th>
                                </tr>
                            </thead>
                            <tr>
                                <td colspan="3">
                                    <table class="table table-bordered sub-table" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th width="20.3%">
                                                    Date/Time
                                                </th>
                                                <th width="32%">
                                                    User Name
                                                </th>
                                                <th>
                                                    Comment/Remark
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (cr.Count != 0)
                                            {
                                                foreach (var cc in cr)
                                                {
                                                    var u = users2.Find(x => x.UserId == cc.CreatedBy);
                                                    <tr>
                                                        <td>
                                                            @cc.CreatedAt.ToString("dd MMM yyyy HH:mm:ss")
                                                        </td>
                                                        <td>@u.Fullname</td>
                                                        <td>
                                                            @cc.Comment
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3">
                                                    <textarea id="comment" rows="3" style="width:100%;"></textarea>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <!---Pex Team-->
                        <!-- Action Button -->
                        @*<div class="right-text" style="float:right; padding-bottom:10px;">
            @{
                var doc = appointmentDoc.Find(x => x.Type == "FD42D4E6-D6EA-4A79-B57A-528F93A5A3B8");
                var loe = appointmentDoc.Find(x => x.Type == "FB13C881-4032-4B92-B25F-6CFF7BFB55E4");
                switch (request.Stage)
                {
                    case 2:
                    case 11:
                    case 21:
                    case 28:
                        <a href="~/Appointment/CreateAppointment?requestId=@request.RequestId" target="_blank" class="btn btn-xs btn-danger">Set Appointment</a>
                        break;
                    case 3:
                        switch (doc)
                        {
                            case null:
                                <a id="preEngagement" href="~/Lead/GeneratePreEngagementLetter?requestId=@request.RequestId" class="btn btn-xs btn-danger">Generate Pre Engagement Letter</a>
                                break;
                            default:
                                <a id="preEngagement" style="display:none" href="~/Lead/GeneratePreEngagementLetter?requestId=@request.RequestId" class="btn btn-xs btn-danger">Generate Pre Engagement Letter</a>
                                break;
                        }
                        break;
                    case 12:
                        switch (loe)
                        {
                            case null:
                                <a id="letterOfEngagement" href="~/Lead/GenerateLetterOfEngagement?requestId=@request.RequestId" class="btn btn-xs btn-danger">Generate Letter Of Engagement</a>
                                break;
                            default:
                                <a id="letterOfEngagement" style="display:none" href="~/Lead/GenerateLetterOfEngagement?requestId=@request.RequestId" class="btn btn-xs btn-danger">Generate Letter Of Engagement</a>
                                break;
                        }
                        break;
                    default:
                        break;
                }
            }
            @if (request.Stage == 2 || request.Stage == 6 || request.Stage == 10 || request.Stage == 16 || request.Stage == 22 || request.Stage == 23 || request.Stage == 26 || request.Stage == 29)
            {
                if (request.Stage == 2)
                {
                    <button id="btnSave" type="button" class="btn btn-xs btn-success">Submit</button>
                    <button id="btnRelease" type="button" class="btn btn-xs btn-warning">Non Contactable</button>
                }
                else if (request.Stage == 22)
                {
                    <button id="btnSave" type="button" class="btn btn-xs btn-success">Submit to law firm</button>
                    <button id="btnSave10" type="button" class="btn btn-xs btn-danger">Submit to approval committee</button>
                }
                else
                {
                    <button id="btnSave10" type="button" class="btn btn-xs btn-success">Submit</button>
                }
            }
            else
            {
                if (request.Stage != 15)
                {
                    <button id="btnSave" type="button" class="btn btn-xs btn-success">Submit</button>
                }
            }

            @if (request.Stage == 32 && invoiceDoc.Count >= 1)
            {
                <button id="btnComplete" type="button" class="btn btn-xs btn-danger">Settlement Complete</button>
            }

            @if (request.Stage == 7 || request.Stage == 8 || request.Stage == 16 || request.Stage == 17 || request.Stage == 23 || request.Stage == 24 || request.Stage == 28)
            {
                if (request.Stage == 7 || request.Stage == 8 || request.Stage == 23 || request.Stage == 24 || request.Stage == 28)
                {
                    if (request.Stage == 7 || request.Stage == 8)
                    {
                        <button type="button" class="btn btn-xs btn-purple">Reject with Alternate Proposal</button>
                    }
                    <button id="btnRequestMore" type="button" class="btn btn-xs btn-orange">Request More</button>
                }
                if (request.Stage != 28)
                {
                    <button id="btnRejected" type="button" class="btn btn-xs btn-danger">Reject</button>
                }
            }

            else if (request.Stage == 15)
            {
            }

            <button id="btnSaveDraft" onclick="saveDraft('UpdateLeadDraft')" type="button" class="btn btn-xs btn-info">Save Draft</button>

            @if (Model.Page == "Box")
            {
                <a href="/Home/MyTask" class="btn btn-xs btn-default">Close</a>
            }
            else
            {
                <a href="/Case/Choice?module=@request.Status.Substring(0,4)" class="btn btn-xs btn-default">Close</a>
            }
        </div>*@

                        <table class="table table-bordered table-col-4" style="margin-top:10px">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="4">Audit Trail</th>
                                </tr>
                            </thead>
                            <tr>
                                <td colspan="4">
                                    <table class="table table-bordered sub-table" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th width="20.3%">
                                                    Date/Time
                                                </th>
                                                <th width="32%">
                                                    User
                                                </th>
                                                <th width="20.9%">
                                                    Action
                                                </th>
                                                <th>
                                                    Comment
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (auditTrails != null)
                                            {
                                                foreach (var a in auditTrails)
                                                {
                                                    var u = users2.Find(x => x.UserId == a.UserId);
                                                    <tr>
                                                        <td>
                                                            @a.Date.ToString("dd MMM yyyy HH:mm:ss")
                                                        </td>
                                                        <td>
                                                            @u.Fullname
                                                        </td>
                                                        <td>
                                                            @a.Action
                                                        </td>
                                                        <td>
                                                            @a.Comment
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h4 class="access-denied-page" style="color:black">
            Access denied, you don&acute;t have permission to access this page.
        </h4>
    }
}
<br />

<input type="hidden" value="@Model.Request.RequestId" id="requestId" />
<input type="hidden" value="UpdateLead" id="page" />
<input type="hidden" id="ProfileId" value="@profile.ProfileId" />
<input type="hidden" id="AddressId" value="@address.AddressId" />
<input type="hidden" id="PersonId" value="@person.PersonId" />
<input type="hidden" id="CommentRemarkId" value="null" />
<input type="hidden" value="@request.Stage" id="stage" />
<script>
    $('#SOP').on('change', function () {
        if (confirm("Please click OK to follow sop.")) {

            var sopRequests = {
                "SopId": this.value,
                "RequestId": $('#requestId').val()
            };

            $.ajax({
                url: window.location.origin + "/Sop/CreateSopRequest",
                data: { "sopRequests": sopRequests, "requestId": $('#requestId').val() },
                cache: false,
                type: "POST",
                dataType: "html",
                success: function (data, textStatus, XMLHttpRequest) {
                    var d = JSON.parse(data);
                    if (d.Error === null) {
                        location.reload();
                    }
                    else {
                        showToast(d.Error, "error");
                    }
                }
            });
        }
    });

    $('#choice').on('change', function () {
        if (this.value == "Company") {
            $('#companyBox').show();
            $('#c1').prop('checked', true);
            $('#businessBox').hide();
            $('.business').hide();
            $('.company').show();
            $('#sibCOl').attr('width','20.45%');
        }
        else {
            $('#companyBox').hide();
            $('#b1').prop('checked', true);
            $('#businessBox').show();
            $('.business').show();
            $('.company').hide();
            $('#sibCOl').attr('width','21.595%');
        }
    });

function add() {
    var date = $('#Date').val();
    $('#assignToId').val($('#assignToSelect option:selected').val());
    if ($('#assignToId').val() === "" || $('#assignToId').val() === "null") {
        $('#Assign').css('margin-bottom', 0);
        if ($('#Assign').next('.invalid-alert').length < 1) {
            $('<label class="invalid-alert">Please select RMO to proceed.</label>').insertAfter('#Assign');
        }
    }
    else {
        $('#Assign').next('.invalid-alert').remove();
        var r = $('#Assign tbody tr').length + 1;
        var row = "";
        var a = $('#assignToSelect option:selected').text();
        $('#Assign tbody')[0].innerHTML = '';
        row += '<tr>' +
            '<td width="94">' + a + '</td>' +
            '<td>' + "@DateTime.Now.ToString("dd MMM yyyy")" + '</td> ' +
            '<td width="20" data-value="" style="text-align:center;"><a class="delete" title="Delete" onclick="remove(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>'
        '</tr>';

        $('#Assign').append(row);
    }
}

    function remove(e) {
    $('#assignToId').val('')
    $(e).parent().parent().remove();
    var r = $('#Assign tbody tr').length + 1;
    var row = "";
    $('#Assign tbody')[0].innerHTML = '';
    row += '<tr>' +
        '<td colspan="2"><select id="assignToSelect" class="form-control" title="Select Risk Management Officer" @if (position != "A4C2EBBE-9391-44AF-BD49-572BBC9EB22E") { @disabled } > @if (position == "A4C2EBBE-9391-44AF-BD49-572BBC9EB22E") { foreach (var u in rmo) {<option value="@u.UserId">@u.Name</option>}} </select></td>' +
        '<td style="text-align:center; vertical-align:middle" width="20"><a onclick="add()" class="btn btn-xs btn-info">Add</a></td>'
    '</tr>';

    $('#Assign').append(row);
}

function addLawFirm() {
    var date = $('#Date').val();
    $('#lawFirmId').val($('#lawFirm option:selected').val());
    if ($('#lawFirmId').val() === "" || $('#lawFirmId').val() === "null") {
        $('#LawFirmAssign').css('margin-bottom', 0);
        if ($('#LawFirmAssign').next('.invalid-alert').length < 1) {
            $('<label class="invalid-alert">Please select law firm to proceed.</label>').insertAfter('#LawFirmAssign');
        }
    }
    else {
        $('#LawFirmAssign').next('.invalid-alert').remove();
        var r = $('#LawFirmAssign tbody tr').length + 1;
        var row = "";
        var a = $('#lawFirm option:selected').text();
        $('#LawFirmAssign tbody')[0].innerHTML = '';
        row += '<tr>' +
            '<td width="94">' + a + '</td>' +
            '<td>' + "@DateTime.Now.ToString("dd MMM yyyy")" + '</td> ' +
            '<td width="20" data-value="" style="text-align:center;"><a class="delete" title="Delete" onclick="removeLawFirm(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>'
        '</tr>';

        $('#LawFirmAssign').append(row);
    }
}

function addNegotiator() {
    var date = $('#Date').val();
    $('#negotiatorId').val($('#negotiator option:selected').val());
    if ($('#negotiatorId').val() === "" || $('#negotiatorId').val() === "null") {
        $('#negotiatorAssign').css('margin-bottom', 0);
        if ($('#negotiatorAssign').next('.invalid-alert').length < 1) {
            $('<label class="invalid-alert">Please select negotiator to proceed.</label>').insertAfter('#negotiatorAssign');
        }
    }
    else {
        $('#negotiatorAssign').next('.invalid-alert').remove();
        var r = $('#negotiatorAssign tbody tr').length + 1;
        var row = "";
        var a = $('#negotiator option:selected').text();
        $('#negotiatorAssign tbody')[0].innerHTML = '';
        row += '<tr>' +
            '<td width="94">' + a + '</td>' +
            '<td>' + "@DateTime.Now.ToString("dd MMM yyyy")" + '</td> ' +
            '<td width="20" data-value="" style="text-align:center;"><a class="delete" title="Delete" onclick="removeNegotiator(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>'
        '</tr>';

        $('#negotiatorAssign').append(row);
    }
}


</script>