﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Subscription Request Preview";
}

@using CP.Models
@model SubscriptionIndexViewModal

@{
    var request = Model.SubRequest;
    var profile = Model.Profile;
    var address = Model.Address;
    var person = Model.Person;
    var cr = Model.CommentRemark.FindAll(x => x.Type.TrimEnd() == "Subscription");
    var users = Model.Users;
    var createdBy = Model.Users2.Find(x => x.UserId == request.CreatedBy);
    var approval1 = Model.Users2.Find(x => x.UserId == request.Approver1_id);
    var users2 = Model.Users2;
    var approval2 = Model.Users2.Find(x => x.UserId == request.Approver2_id);
    var document = Model.Documents;
    var docType = Model.DocumentTypes;
    var disabled = "disabled";
    var position = Model.Position;
    var userId = Model.UserId;
    
    var c = "checked";
    var h = "hidden";
    var auditTrails = Model.AuditTrails;
    var positions = Model.UserPositions;
    var profiles = Model.Profiles;
   
    var cu = Model.CurrentUser;

    string cpBg = "cpBG";
    string orangeBg = "orangeBg";
    var operations = users2.FindAll(x => x.Position == "A4C2EBBE-9391-44AF-BD49-572BBC9EB22E");
    var segAccess = Model.PageSegmentAccess;
    var packages = Model.Packages;
}

<style>
    .content .form-control {
        font-size: 11px;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }

    .btn-info {
        background-color: #5bc0de;
    }
</style>
@{
    var canaccess = cu.Find(x => x.Keyword == "Subscription");

    if (canaccess != null && canaccess.IsUpdate)
    {
        <div class="row body-container" style="margin-top:20px;">
            <div class="bs-component" style="font-size:11px;">
                <div class="row col-lg-offset-1">
                    <h3 style="margin-top: 0px;">
                        Profile (Company)
                    </h3>

                </div>
                <div class="col-lg-offset-1 col-lg-2">
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2" class="background-color cpBG fontWhite">User</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="background-color" style="width:43%">
                                        Name:
                                    </td>
                                    <td style="word-break:break-all">
                                        @createdBy.Fullname
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        Position:
                                    </td>
                                    <td>
                                        @{
                                            var op = positions.Find(x => x.UserPositionId == createdBy.Position).Name;
                                            @op
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        Request Date:
                                    </td>
                                    <td>
                                        @request.RequestDate.ToString("dd MMM yyyy HH:mm:ss")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Request ID:
                                    </td>
                                    <td>
                                        @{
                                            string refrence = "S" + request.RequestDate.ToString("yyyyMM");

                                            if (request.id < 10)
                                            {
                                                refrence = refrence + "00" + request.id;
                                            }
                                            else if (request.id < 99)
                                            {
                                                refrence = refrence + "0" + request.id;
                                            }
                                            else
                                            {
                                                refrence = refrence + request.id;
                                            }
                                        }
                                        @refrence
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="background-color bg-white cpBG">
                                    <th colspan="3">
                                        Approval Committee
                                    </th>
                                </tr>
                                <tr class="background-color bg-white cpBG">
                                    <th style="width:43%">
                                        Assign To
                                    </th>
                                    <th style="width:30%">
                                        Date
                                    </th>
                                    <th style="text-align:center; width:27%">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="word-break:break-all">
                                        @foreach (var u in users2)
                                        {
                                            if (request.Approver1_id == u.UserId)
                                            {
                                                @u.Fullname
                                            }
                                        }
                                    </td>
                                    <td>
                                        @if (request.ApprovalAssignDate > request.Approval1_Date)
                                        {
                                            @request.ApprovalAssignDate.ToString("dd MMM yyyy HH:mm:ss")
                                        }
                                        else
                                        {
                                            @request.Approval1_Date.ToString("dd MMM yyyy HH:mm:ss")
                                        }
                                    </td>
                                    <td data-value="" style="text-align:center;">
                                        @if (request.Stage == 101)
                                        {
                                            <span>Pending</span>
                                        }
                                        else if (request.Stage == 102)
                                        {
                                            <span>Approved</span>
                                        }
                                        else if (request.Stage > 102)
                                        {
                                            <span>Complete</span>
                                        }
                                        else if (request.Approval1)
                                        {
                                            if (!string.IsNullOrEmpty(request.Approval1UserAction))
                                            {
                                                @request.Approval1UserAction
                                            }
                                        }
                                        else if (!request.Approval1)
                                        {
                                            if (!string.IsNullOrEmpty(request.Approval1UserAction))
                                            {
                                                @request.Approval1UserAction
                                            }
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="background-color bg-white cpBG">
                                    <th colspan="3">
                                        Final Approver
                                    </th>
                                </tr>
                                <tr class="background-color bg-white cpBG">
                                    <th style="width:43%">
                                        Assign To
                                    </th>
                                    <th style="width:30%">
                                        Date
                                    </th>
                                    <th style="text-align:center; width:27%">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="word-break:break-all">
                                        @foreach (var u in users2)
                                        {
                                            if (request.FinalApprover_Id == u.UserId)
                                            {
                                                @u.Fullname
                                            }
                                        }
                                    </td>
                                    <td>
                                        @if (request.ApprovalAssignDate > request.Approval2LastUpdateActionTime)
                                        {
                                            @request.ApprovalAssignDate.ToString("dd MMM yyyy HH:mm:ss")
                                        }
                                        else
                                        {
                                            @request.Approval2LastUpdateActionTime.ToString("dd MMM yyyy HH:mm:ss")
                                        }
                                    </td>
                                    <td data-value="" style="text-align:center;">
                                        @if (request.Stage == 102)
                                        {
                                            <span>Pending</span>
                                        }
                                        else if (request.Stage > 102)
                                        {
                                            <span>Complete</span>
                                        }
                                        else if (!request.FinalApproval && request.Approval1)
                                        {
                                            if (!string.IsNullOrEmpty(request.Approval2UserAction))
                                            {
                                                @request.Approval2UserAction
                                            }
                                            else
                                            {
                                                <span>N/A</span>
                                            }
                                        }
                                        else if (!request.FinalApproval && !request.Approval1)
                                        {
                                            if (!string.IsNullOrEmpty(request.Approval2UserAction))
                                            {
                                                @request.Approval2UserAction
                                            }
                                            else
                                            {
                                                <span>N/A</span>
                                            }
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row1" id="creditor">
                    <div class="col-lg-8">
                        <!---Requester-->
                        <table class="table table-bordered table-col-4">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="6">Profile Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="background-color alignRight" width="160" style="vertical-align:middle">
                                        Status :
                                    </td>
                                    <td style="vertical-align:middle">
                                        <label style="color:red;" id="lblStatus">@request.sName</label>
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Profile Name :
                                    </td>
                                    <td colspan="2">
                                        @profile.Name
                                    </td>
                                    <td class="background-color" style="vertical-align:middle">
                                        <div class="row" style="text-align:center;" id="companyBox" @if (profile.BusinessType != 1 && profile.BusinessType != 2) { @h }>
                                            <label>
                                                @if (profile.BusinessType == 1)
                                                {
                                                    <span>Sdn Bhd</span>
                                                }
                                            </label>
                                            &nbsp;
                                            <label>
                                                @if (profile.BusinessType == 2)
                                                {
                                                    <span>Berhad</span>
                                                }
                                            </label>
                                        </div>
                                        <div class="row" style="text-align:center;" id="businessBox" @if (profile.BusinessType != 3 && profile.BusinessType != 4) { @h }>
                                            &nbsp;
                                            <label>
                                                @if (profile.BusinessType == 3)
                                                {
                                                    <span>Sole Proprietor</span>
                                                }
                                            </label>
                                            &nbsp;
                                            <label>
                                                @if (profile.BusinessType == 4)
                                                {
                                                    <span>Partnership</span>
                                                }
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alignRight" style="vertical-align:middle">
                                        Business Reg No :
                                    </td>
                                    <td>
                                        @profile.BusinessRegNo
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Contact No :
                                    </td>
                                    <td style="width:16.5em">
                                        @profile.ContactNo
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle; width:5.65em">
                                        Email :
                                    </td>
                                    <td style="width:16.5em">
                                        @profile.Email
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color alignRight" style="vertical-align:middle">
                                        Profile Type :
                                    </td>
                                    <td style="width:16.5em; vertical-align:middle" id="test">
                                        Creditor
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        DMS Subscriber :
                                    </td>
                                    <td>
                                        @if (profile.DMS)
                                        {
                                            <span>Yes</span>
                                        }
                                        else
                                        {
                                            <span>No</span>
                                        }
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle">
                                        Source :
                                    </td>
                                    <td>
                                        @foreach (var s in Model.Sources)
                                        {
                                            if (profile.Source == s.SourceId)
                                            {
                                                @s.Name
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alignRight" style="vertical-align:middle">
                                        Nature of Business :
                                    </td>
                                    <td>
                                        Goods Sold & Delivered
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Website :
                                    </td>
                                    <td colspan="3">
                                        @profile.Website
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color alignRight" style="vertical-align:middle">
                                        Remark :
                                    </td>
                                    <td colspan="5">
                                        @profile.Remark
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-col-4" style="padding-top:10px;">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="6">Address Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="160" class="background-color alignRight" style="vertical-align:middle">
                                        Line 1 :
                                    </td>
                                    <td style="width:16.5em">
                                        @address.Line1
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Line 2 :
                                    </td>
                                    <td style="width:16.5em">
                                        @address.Line2
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:5.65em">
                                        City :
                                    </td>
                                    <td style="width:16.5em">
                                        @foreach (var s in Model.Cities)
                                        {
                                            if (address.City == s.Name)
                                            {
                                                @s.Name
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alignRight" style="vertical-align:middle">
                                        State :
                                    </td>
                                    <td style="width:16.5em">
                                        @foreach (var s in Model.States)
                                        {
                                            if (address.State == s.Name)
                                            {
                                                @s.Name
                                            }
                                        }
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Postal Code :
                                    </td>
                                    <td style="width:16.5em">
                                        @address.PostalCode
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:5.65em">
                                        Country :
                                    </td>
                                    <td style="width:16.5em; vertical-align:middle">
                                        @address.Country
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-col-4" style="padding-top:10px;">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="6">Person In Charge Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="160" class="background-color alignRight" style="vertical-align:middle">
                                        Name :
                                    </td>
                                    <td style="width:16.5em">
                                        @person.Name
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Contact No :
                                    </td>
                                    <td style="width:16.5em">
                                        @person.ContactNo
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle; width:5.65em">
                                        Email :
                                    </td>
                                    <td style="width:16.5em">
                                        @person.Email
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-col-4" style="padding-top:10px">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="5">Subscription Information</th>
                                </tr>
                            </thead>
                            <tr>
                                <td class="background-color alignRight" style="vertical-align:middle; width:20.8%">
                                    Package :
                                </td>
                                <td colspan="3">
                                    @foreach (var p in packages)
                                    {
                                        if (request.PackageId == p.PackageId)
                                        {
                                            <span style="margin-top:2px;">@p.PackageName</span>

                                            <a style="float:right" href="~/Subscriptions/PackagePreview?packageId=@request.PackageId&cameFrom=here" target="_blank" class="btn btn-xs btn-info">View</a>
                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="background-color alignRight" style="vertical-align:middle; width:20.8%">
                                    Supporting Documents :
                                </td>
                                <td colspan="4">
                                    <table class="table table-bordered sub-table" id="inptRequesterfile" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th style="width:39.6%">
                                                    File Name
                                                </th>
                                                <th style="width:26.4%">
                                                    File Type
                                                </th>
                                                <th>
                                                    Uploaded Date
                                                </th>
                                                <th style="width: 7%; text-align:center;">
                                                    Action
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (document != null)
                                            {
                                                foreach (var d in document)
                                                {
                                                    <tr>
                                                        <td>
                                                            <a href="/@d.Path@d.FileName" target="_blank">@d.FileName</a>
                                                        </td>
                                                        <td>
                                                            @{
                                                                var dd = docType.Find(x => x.DocumentTypeId == d.Type);

                                                                if (dd != null)
                                                                {
                                                                    @dd.Name
                                                                }
                                                            }
                                                        </td>
                                                        <td>
                                                            @d.CreatedDate.ToString("dd MMM yyyy")
                                                        </td>
                                                        <td style="text-align:center;">
                                                            -
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <table class="table table-bordered table-col-4" style="margin-top:10px">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="3">Comment/Remark</th>
                                </tr>
                            </thead>
                            <tr>
                                <td colspan="3">
                                    <table class="table table-bordered sub-table" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th width="20.3%">
                                                    Date/Time
                                                </th>
                                                <th width="32%">
                                                    User Name
                                                </th>
                                                <th>
                                                    Comment/Remark
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (cr.Count != 0)
                                            {
                                                foreach (var cc in cr)
                                                {
                                                    var u = users2.Find(x => x.UserId == cc.CreatedBy);
                                                    <tr>
                                                        <td>
                                                            @cc.CreatedAt.ToString("dd MMM yyyy HH:mm:ss")
                                                        </td>
                                                        <td>@u.Fullname</td>
                                                        <td>
                                                            @cc.Comment
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <!---Pex Team-->
                        <!-- Action Button -->
                        <div class="right-text" style="float:right; padding-bottom:10px;">
                            @if (Model.Page == "Box")
                            {
                                <a href="/Home/MyTask" class="btn btn-xs btn-default">Close</a>
                            }
                            else
                            {
                                <a href="/Subscriptions/Choice?" class="btn btn-xs btn-default">Close</a>
                            }
                        </div>

                        <table class="table table-bordered table-col-4" style="margin-top:10px">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="4">Audit Trail</th>
                                </tr>
                            </thead>
                            <tr>
                                <td colspan="4">
                                    <table class="table table-bordered sub-table" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th width="20.3%">
                                                    Date/Time
                                                </th>
                                                <th width="32%">
                                                    User
                                                </th>
                                                <th width="20.9%">
                                                    Action
                                                </th>
                                                <th>
                                                    Comment
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (auditTrails != null)
                                            {
                                                foreach (var a in auditTrails)
                                                {
                                                    var u = users2.Find(x => x.UserId == a.UserId);
                                                    <tr>
                                                        <td>
                                                            @a.Date.ToString("dd MMM yyyy HH:mm:ss")
                                                        </td>
                                                        <td>
                                                            @u.Fullname
                                                        </td>
                                                        <td>
                                                            @a.Action
                                                        </td>
                                                        <td>
                                                            @a.Comment
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h4 class="access-denied-page" style="color:black">
            Access denied, you don&acute;t have permission to access this page.
        </h4>
    }
}
