﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Subscription Preview";
}

@using CP.Models
@model SubscriptionIndexViewModal

@{
    //var disabled = "disabled";
    //var userId = Model.UserId;
    // var name = Model.Name;
    var cu = Model.CurrentUser;
    var page = "_SubscriptionAccount";
}

@*<script src="~/Scripts/Subscription.js"></script>

<script>
    $(function () {
        init();
    });
</script>*@

<style>
    .content .form-control {
        font-size: 11px;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }

    .btn-info {
        background-color: #5bc0de;
    }
</style>

<div class="bs-docs-section clearfix">
    <div class="col-lg-offset-1" style="margin-left:107px">

        <div class="col-lg-11 bg-white" style="margin-left:-15px;">
            <div class="bs-component" style="font-size:12px; margin-top: 20px; margin-bottom: 10px; margin-right:-1%">
                <ul class="nav nav-tabs cog-nav flex-display">
                    <li class="nav-item nav-link doc-nav active" style="width:170px; text-align:center"><a @*href="@Url.Action("Index", "Dashboard")"*@ id="account" class="btn btn-lg btn-module doc-type" role="button"><span class="glyphicon-lg glyphicon glyphicon-user"></span> <br /><span style="font-size:10px; font-weight:bold">ACCOUNT</span></a></li>
                    <li class="nav-item nav-link doc-nav" style="width:170px; text-align:center"><a @*href="@Url.Action("Index", "Dashboard")"*@ id="transaction" class="btn btn-lg btn-module doc-type" role="button"><span class="glyphicon-lg glyphicon glyphicon-list-alt"></span> <br /><span style="font-size:10px; font-weight:bold">TRANSACTION HISTORY</span></a></li>
                </ul>
            </div>
        </div><br /><br /><br /><br /><br /><br />
        <!-- jQuery and Bootstrap's JavaScript-->
        <div id="contentDiv">

        </div>

    </div>
</div>
<script>
     $(document).ready(function () {
        var url = '@Url.Action(page, "Subscriptions", new { profileId = Model.ProfileId, Page = Model.Page })';
        $("#contentDiv").load(url);
     });

    $(function () {
        $('#account').click(function () {
            $('#contentDiv').children().remove();
            var url = '@Url.Action("_SubscriptionAccount", "Subscriptions", new { profileId = Model.ProfileId, Page = Model.Page })';
            $('#account').parent().addClass('active');
            $('#transaction').parent().removeClass('active');
            $("#contentDiv").load(url);
        });
        $('#transaction').click(function () {
            $('#contentDiv').children().remove();
            var url = '@Url.Action("_RedemptionHistory", "Subscriptions", new { profileId = Model.ProfileId, Page = Model.Page })';
            $('#transaction').parent().addClass('active');
            $('#account').parent().removeClass('active');
            $("#contentDiv").load(url);
        });
    });
</script>
