﻿@{
    ViewBag.Title = "Creditor Profile Managment";
}


@using CP.Models
@model ProfileIndexViewModel

@{
    var source = Model.Sources;
    var cu = Model.CurrentUser;
}

<style>
    .blue-title {
        margin-bottom: 0px;
        color: #225fef;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }

    .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

        .btn-default:focus,
        .btn-default.focus {
            color: #333;
            background-color: #e6e6e6;
            border-color: #8c8c8c;
        }

        .btn-default:hover {
            color: #333;
            background-color: #e6e6e6;
            border-color: #adadad;
        }
</style>

<script src="~/Scripts/profileList.js"></script>

<script>
    $(function () {
        init();
    });
</script>

@{
    var canaccess = cu.Find(x => x.Keyword == "Profile");
    if (canaccess != null && canaccess.IsRead)
    {
        <div class="row body-container" style="margin-top:-10px;">
            <div class="bs-component" style="font-size:11px; margin-top: 10px;">
                <div class="row col-lg-offset-1" style="margin-top:10px; margin-left:17px; width:88%">
                    <div style="margin-top:-35px;">
                        @if (canaccess.IsCreate)
                        {
                            <a href="~/Profile/CreateProfile?page=Creditor&profileType=1" class="btn btn-danger btn-xs" style="float:right;">New Profile</a>
                        }
                    </div>
                    @*<div>
                            <table>
                                <thead>
                                    <tr>
                                        <th width="89%"></th>
                                        <th width="10%"></th>
                                        <th width="1%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input id="inptSearch" type="text" class="form-control" placeholder="Search">
                                        </td>
                                        <td style="padding-left:5px;">
                                            <select id="sortBy" class="form-control">
                                                <option value="0" selected="" disabled="">Sort By</option>
                                                <option value="name">Name</option>
                                                <option value="createddate">Created Date</option>
                                            </select>
                                        </td>
                                        <td style="padding-left:5px;">
                                            <span id="btnOrder" data-state="asc" class="btn btn-xs btn-default glyphicon glyphicon-triangle-bottom btn-order" style="height:25px; margin-top:-1.5px; padding-top:2px;"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>*@


                    @if (Model.Profiles != null)
                    {
                        <table id="tblProfileList" class="table sub-sub-table table-bordered" style="margin-top:5px;">
                            <thead>
                                <tr class="cpBG fontWhite">
                                    <th></th>
                                    <th @*style="font-style:italic;"*@>Name</th>
                                    <th>Business Type</th>
                                    @*<th>Profile Type</th>*@
                                    <th @*style="font-style:italic;"*@>Email</th>
                                    <th @*style="font-style:italic;"*@>Contact</th>
                                    <th @*style="font-style:italic;"*@>Business Reg No.</th>
                                    <th @*style="font-style:italic;"*@>
                                        Created Date
                                    </th>
                                    <th @*style="font-style:italic;"*@>DMS</th>
                                    <th @*style="font-style:italic;"*@>Source</th>
                                    <th class="center-text">Action</th>
                                </tr>

                                <tr class="search">
                                    <td style="vertical-align:middle" class="center-text" width="1%">
                                        <input type="checkbox" style="margin:0px" />
                                    </td>
                                    <td class="input-filter">
                                        <input type="text" class="form-control" placeholder="Name" />
                                    </td>
                                    <td class="input-filter">
                                        <input type="text" class="form-control" placeholder="Business Type" />
                                    </td>
                                    <td class="input-filter">
                                        <input type="text" class="form-control" placeholder="Email" />
                                    </td>
                                    <td class="input-filter">
                                        <input type="text" class="form-control" placeholder="Contact" />
                                    </td>
                                    <td class="input-filter">
                                        <input type="text" class="form-control" placeholder="Business Reg No" />
                                    </td>
                                    <td class="input-filter">
                                        <input type="text" class="form-control datepicker" placeholder="Created Date" />
                                    </td>
                                    <td class="input-filter" width="6.5%">
                                        <select class="form-control" id="dmsSelect">
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                        <input type="hidden" id="dms" class="form-control" placeholder="DMS" />
                                    </td>
                                    <td class="input-filter" width="12%">
                                        <select class="form-control" id="select">
                                            @foreach (var s in source)
                                            {
                                                <option value="@s.Name">@s.Name</option>
                                            }
                                        </select>
                                        <input type="hidden" class="form-control" placeholder="Source" hidden id="source" />
                                    </td>
                                    <td class="center-text" width="5%">
                                        <button class="btn btn-xs btn-warning" id="btnClear">Clear</button>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var p in Model.Profiles)
                                {
                                    <tr>
                                        <td style="vertical-align:middle" class="center-text">
                                            <input type="checkbox" style="margin:0px" />
                                        </td>
                                        <td style="vertical-align:middle">
                                            <div class="ellipsis">
                                                <span>
                                                    <a id="name" href="~/Profile/EditProfilePreview?profileId=@p.ProfileId&page=Creditor">@p.Name</a>
                                                </span>
                                            </div>
                                        </td>
                                        <td style="vertical-align:middle">
                                            @{
                                                int caseSwitchh = p.BusinessType;
                                                switch (caseSwitchh)
                                                {
                                                    case 1:
                                                        <span>Sdn Bhd</span>
                                                        break;
                                                    case 2:
                                                        <span>Berhad</span>
                                                        break;
                                                    case 3:
                                                        <span>Sole Proprietor</span>
                                                        break;
                                                    case 4:
                                                        <span>Partnership</span>
                                                        break;
                                                    default:
                                                        break;
                                                }
                                            }
                                        </td>
                                        @*<td style="vertical-align:middle">
                                                @{
                                                    int caseSwitch = p.ProfileType;
                                                    switch (caseSwitch)
                                                    {
                                                        case 1:
                                                            <span>Creditor</span>
                                                            break;
                                                        case 2:
                                                            <span>Debtor</span>
                                                            break;
                                                        default:
                                                            break;
                                                    }
                                                }
                                            </td>*@
                                        <td style="vertical-align:middle">
                                            <div class="ellipsis">
                                                <span>@p.Email</span>
                                            </div>
                                        </td>
                                        <td style="vertical-align:middle">
                                            <span>@p.ContactNo</span>
                                        </td>
                                        <td style="vertical-align:middle">
                                            <div class="ellipsis">
                                                <span>@p.BusinessRegNo</span>
                                            </div>
                                        </td>
                                        <td style="vertical-align:middle">
                                            <span>
                                                @p.CreatedAt.ToString("dd MMM yyyy HH:mm:ss")
                                            </span>
                                        </td>
                                        <td style="vertical-align:middle">
                                            <div class="ellipsis">
                                                @{
                                                    int b = p.DMS;

                                                    switch (b)
                                                    {
                                                        case 1:
                                                            <div class="ellipsis">
                                                                <span>
                                                                    <a id="name" href="/Subscriptions/Subscription?profileId=@p.ProfileId&page=Creditor">Yes</a>
                                                                </span>
                                                            </div>
                                                            break;
                                                        case 0:
                                                            <span>No</span>
                                                            break;
                                                        case 2:
                                                            <span>Pending Approval</span>
                                                            break;
                                                        default:
                                                            break;
                                                    }
                                                }
                                            </div>
                                        </td>
                                        <td style="vertical-align:middle">
                                            <span>
                                                @{
                                                    var s = source.Find(x => x.SourceId == p.Source);
                                                    if (s != null)
                                                    {
                                                        @s.Name
                                                    }
                                                }
                                            </span>
                                        </td>
                                        <td>
                                            @if (canaccess.IsUpdate)
                                            {
                                                <a href="~/Profile/EditProfile?profileId=@p.ProfileId&page=Creditor" class="btn btn-xs edit" title="Edit" style="padding:1px 1px;"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                            }

                                            @if (canaccess.IsDelete)
                                            {
                                                <a data-value="@p.ProfileId" class="btn btn-xs delete" title="Delete" onclick="deleteProfile(this)" style="padding:1px 1px;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a><br>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

                </div>
            </div>
        </div>
    }
    else
    {
        <h4 class="access-denied-page" style="color:black">
            Access denied, you don&acute;t have permission to access this page.
        </h4>
    }
}

<script>
    $(function () {
        $('.datepicker').datepicker({
            format: 'dd M yyyy'
        })
    });

    $(document).ready(function () {
            $('#creditor').parent().addClass('active');
            $('#debtor').parent().removeClass('active');
            $('#lawfirm').parent().removeClass('active');
            $('#negotiator').parent().removeClass('active');

        $('#select').on('change', function () {
            $('#source').val(this.value);
            $('#source').change();
        });

        $('#dmsSelect').on('change', function () {
            $('#dms').val(this.value);
            $('#dms').change();
        });

        $.fn.dataTable.moment('DD MMM YYYY');
        $.fn.dataTable.moment('DD MMM YYYY HH:mm:ss');
        // DataTable
        var table = $('#tblProfileList').DataTable({
            "pageLength": 25,
            "order": [[6, "desc"]],
            "dom": '<<"floatRight"p><t>>',
            "bSortCellsTop": true,
            "paging": true,
            "columnDefs": [
                { targets: 1, type: 'natural-nohtml' },
                { "orderable": false, "targets": 0 },
                { "orderable": false, "targets": 9 },
            ],
            "initComplete": function (settings, json) {
                //var a = $('#tblLeadList_paginate').parent().html();
                //$(a).insertAfter($('#createBtn'));
                $('#tblProfileList_paginate').css({
                    'margin-right': '5px', 'padding': '1px'
                });
            }
        });

        $.each($('.input-filter', table.table().header()), function () {
            var column = table.column($(this).index());

            $('input', this).on('keyup change', function () {
                if (column.search() !== this.value) {
                    column
                        .search(this.value)
                        .draw();
                }
            });
        });

        $('#btnClear').click(function () {
            $.each($('.input-filter', table.table().header()), function () {
                table.search('').draw();
                $('input', this).val('');
                $('input', this).change();
            });
        });

    });
</script>