﻿@{
    ViewBag.Title = "Law Firm Profile Managment";
}


@using CP.Models
@model ProfileIndexViewModel

@{
    var lawFirm = Model.LawFirmProfiles;
    var cu = Model.CurrentUser;
}

<style>
    .blue-title {
        margin-bottom: 0px;
        color: #225fef;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }

    .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

        .btn-default:focus,
        .btn-default.focus {
            color: #333;
            background-color: #e6e6e6;
            border-color: #8c8c8c;
        }

        .btn-default:hover {
            color: #333;
            background-color: #e6e6e6;
            border-color: #adadad;
        }
</style>

<script src="~/Scripts/lawfirmList.js"></script>

<script>
    $(function () {
        init();
    });

</script>

@{
    var canaccess = cu.Find(x => x.Keyword == "Profile");
    if (canaccess != null && canaccess.IsRead)
    {
        <div class="row body-container" style="margin-top:-10px;">
            <div class="bs-component" style="font-size:11px; margin-top: 10px;">
                <div class="row col-lg-offset-1" style="margin-top:10px; margin-left:17px; width:88%">
                    <div style="margin-top:-35px;">
                        @if (canaccess.IsCreate)
                        {
                            <a href="~/Profile/CreateLawFirmProfile" class="btn btn-danger btn-xs" style="float:right;">New Profile</a>
                        }
                    </div>
                    @*<div>
                            <table>
                                <thead>
                                    <tr>
                                        <th width="89%"></th>
                                        <th width="10%"></th>
                                        <th width="1%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input id="inptSearch" type="text" class="form-control" placeholder="Search">
                                        </td>
                                        <td style="padding-left:5px;">
                                            <select id="sortBy" class="form-control">
                                                <option value="0" selected="" disabled="">Sort By</option>
                                                <option value="name">Name</option>
                                                <option value="createddate">Created Date</option>
                                            </select>
                                        </td>
                                        <td style="padding-left:5px;">
                                            <span id="btnOrder" data-state="asc" class="btn btn-xs btn-default glyphicon glyphicon-triangle-bottom btn-order" style="height:25px; margin-top:-1.5px; padding-top:2px;"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>*@


                    @if (lawFirm != null)
                    {
                        <table id="tblProfileList" class="table sub-sub-table table-bordered" style="margin-top:5px; width:100%">
                            <thead>
                                <tr class="cpBG fontWhite">
                                    <th></th>
                                    <th @*style="font-style:italic;"*@>Name</th>
                                    <th @*style="font-style:italic;"*@>Email</th>
                                    <th @*style="font-style:italic;"*@>Contact</th>
                                    <th @*style="font-style:italic;"*@>Business Reg No</th>
                                    <th @*style="font-style:italic;"*@>
                                        Created Date
                                    </th>
                                    <th class="center-text">Action</th>
                                </tr>

                                <tr class="search">
                                    <td style="vertical-align:middle" class="center-text" width="1%">
                                        <input type="checkbox" style="margin:0px" />
                                    </td>
                                    <td class="input-filter">
                                        <input type="text" class="form-control" placeholder="Name" />
                                    </td>
                                    <td class="input-filter">
                                        <input type="text" class="form-control" placeholder="Email" />
                                    </td>
                                    <td class="input-filter">
                                        <input type="text" class="form-control" placeholder="Contact" />
                                    </td>
                                    <td class="input-filter">
                                        <input type="text" class="form-control" placeholder="Business Reg No" />
                                    </td>
                                    <td class="input-filter">
                                        <input type="text" class="form-control" placeholder="Created Date" />
                                    </td>
                                    <td class="center-text" width="5%">
                                        <button class="btn btn-xs btn-warning" id="btnClear">Clear</button>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var p in lawFirm)
                                {
                                    <tr>
                                        <td style="vertical-align:middle" class="center-text">
                                            <input type="checkbox" style="margin:0px" />
                                        </td>
                                        <td style="vertical-align:middle">
                                            <div class="ellipsis">
                                                <span>
                                                    <a id="name" href="~/Profile/EditLawFirmProfilePreview?profileId=@p.LawFirmProfileId">@p.Name</a>
                                                </span>
                                            </div>
                                        </td>
                                        <td style="vertical-align:middle">
                                            <div class="ellipsis">
                                                <span>
                                                    @p.Email
                                                </span>
                                            </div>
                                        </td>
                                        <td style="vertical-align:middle">
                                            <span>
                                                @p.ContactNo
                                            </span>
                                        </td>
                                        <td style="vertical-align:middle">
                                            <div class="ellipsis">
                                                <span>
                                                    @p.BusinessRegNo
                                                </span>
                                            </div>
                                        </td>
                                        <td style="vertical-align:middle">
                                            <span id="createddate">
                                                @p.CreatedAt.ToString("dd MMM yyyy HH:mm:ss")
                                            </span>
                                        </td>
                                        <td>
                                            @if (canaccess.IsUpdate)
                                            {
                                                <a href="~/Profile/EditLawFirmProfile?profileId=@p.LawFirmProfileId" class="btn btn-xs edit" title="Edit" style="padding:1px 1px;"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                            }
                                            @if (canaccess.IsDelete)
                                            {
                                                <a data-value="@p.LawFirmProfileId" class="btn btn-xs delete" title="Delete" onclick="deleteLawFirmProfile(this)" style="padding:1px 1px;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a><br>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

                </div>
            </div>
        </div>
    }
    else
    {
        <h4 class="access-denied-page" style="color:black">
            Access denied, you don&acute;t have permission to access this page.
        </h4>
    }
}

<script>
    $(document).ready(function () {
            $('#lawfirm').parent().addClass('active');
            $('#creditor').parent().removeClass('active');
            $('#debtor').parent().removeClass('active');
            $('#negotiator').parent().removeClass('active');

        $.fn.dataTable.moment('DD MMM YYYY');
        $.fn.dataTable.moment('DD MMM YYYY HH:mm:ss');
        // DataTable
        var table = $('#tblProfileList').DataTable({
            "pageLength": 25,
            "order": [[5, "desc"]],
            "dom": '<<"floatRight"p><t>>',
            "bSortCellsTop": true,
            "paging": true,
            "columnDefs": [
                { targets: 1, type: 'natural-nohtml' },
                { "orderable": false, "targets": 0 },
                { "orderable": false, "targets": 6 },
            ],
            "initComplete": function (settings, json) {
                //var a = $('#tblLeadList_paginate').parent().html();
                //$(a).insertAfter($('#createBtn'));
                $('#tblProfileList_paginate').css({
                    'margin-right': '5px', 'padding': '1px'
                });
            }
        });

        $.each($('.input-filter', table.table().header()), function () {
            var column = table.column($(this).index());

            $('input', this).on('keyup change', function () {
                if (column.search() !== this.value) {
                    column
                        .search(this.value)
                        .draw();
                }
            });
        });

        $('#btnClear').click(function () {
            $.each($('.input-filter', table.table().header()), function () {
                table.search('').draw();
                $('input', this).val('');
                $('input', this).change();
            });
        });

    });

    function deleteLawFirmProfile(e) {
        if (confirm("Please click OK to confirm delete.")) {
            $.ajax({
                url: window.location.origin + "/Profile/DeleteLawfirm",
                data: { "profileId": $(e).data('value') },
                cache: false,
                type: "POST",
                dataType: "html",
                success: function (data, textStatus, XMLHttpRequest) {
                    var d = JSON.parse(data);
                    if (d.Error === null) {
                        showToast(d.Message, "success");
                        $(e).parent().parent().remove();
                    }
                    else {
                        showToast(d.Error, "error");
                    }
                }
            });
        }
    }
</script>