﻿@using CP.Models
@model HomePageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var rmo = Model.RMO;
    var page = Model.Page;
}


<div class="bs-docs-section clearfix">
    <div class="col-lg-offset-1" style="margin-left:107px">

        <div class="col-lg-11 bg-white" style="margin-left:-15px;">
            <div class="bs-component" style="font-size:12px; margin-top: 20px; margin-bottom: 10px; margin-right:-1%">
                <ul class="nav nav-tabs cog-nav flex-display">
                    <li class="nav-item nav-link doc-nav active" style="width:170px; text-align:center"><a @*href="@Url.Action("Index", "Dashboard")"*@ id="creditor" class="btn btn-lg btn-module doc-type" role="button"><span class="glyphicon-lg glyphicon glyphicon-equalizer"></span> <br /><span style="font-size:10px; font-weight:bold">CREDITOR</span></a></li>
                    <li class="nav-item nav-link doc-nav" style="width:170px; text-align:center"><a @*href="@Url.Action("Choice","ChangeEquipment")"*@ id="debtor" class="btn btn-lg btn-module doc-type" role="button"><span class="glyphicon-lg glyphicon glyphicon-user"></span> <br /><span style="font-size:10px; font-weight:bold; margin-left:-5px;">DEBTOR</span></a></li>
                    <li class="nav-item nav-link doc-nav" style="width:170px; text-align:center"><a @*href="@Url.Action("Choice","Notification")"*@ id="lawfirm" class="btn btn-lg btn-module doc-type" role="button"><span class="glyphicon-lg glyphicon glyphicon-list"></span> <br /><span style="font-size:10px; font-weight:bold">LAW FIRM</span></a></li>
                    @*<li class="nav-item nav-link doc-nav" style="width:170px; text-align:center"><a @*href="@Url.Action("Choice","Notification")" id="negotiator" class="btn btn-lg btn-module doc-type" role="button"><span class="glyphicon-lg glyphicon glyphicon-cog"></span> <br /><span style="font-size:10px; font-weight:bold; margin-left:-5px;">NEGOTIATOR</span></a></li>*@
                </ul>
            </div>
        </div><br /><br /><br /><br /><br /><br />
        <!-- jQuery and Bootstrap's JavaScript-->
        <div id="contentDiv">

        </div>

    </div>
</div>
    <script>
    $(document).ready(function () {
        var url = '@Url.Action("_" + page, "Profile")';
        $("#contentDiv").load(url);
    });

    $(function () {
        $('#creditor').click(function () {
            $('#contentDiv').children().remove();
            var url = '@Url.Action("_Creditor", "Profile")';
            $("#contentDiv").load(url);
        });
        $('#debtor').click(function () {
            $('#contentDiv').children().remove();
            var url = '@Url.Action("_Debtor", "Profile")';
            $("#contentDiv").load(url);
        });
        $('#lawfirm').click(function() {
            $('#contentDiv').children().remove();
            var url = '@Url.Action("_LawFirm", "Profile")';
            $("#contentDiv").load(url);
        });
        $('#negotiator').click(function() {
            $('#contentDiv').children().remove();
            var url = '@Url.Action("_Negotiator", "Profile")';
            $("#contentDiv").load(url);
            $('#negotiator').parent().addClass('active');
            $('#lawfirm').parent().removeClass('active');
            $('#creditor').parent().removeClass('active');
            $('#debtor').parent().removeClass('active');
        });
    });
    </script>
