﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create Profile";

}

@using CP.Models
@model CreateProfileViewModel

@{
    var user = Model.User;
    var position = Model.UserPosition;
    var cu = Model.CurrentUser;
}
<script src="~/Scripts/CreditorDebtorProfile.js"></script>
<input type="hidden" value="CreateNewProfile" id="page" hidden />
<script>
    $(function () {
        init();
    });
</script>

<style>
    .content .form-control {
        font-size: 11px;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }

    .btn-info {
        background-color: #5bc0de;
    }
</style>

@{
    var canaccess = cu.Find(x => x.Keyword == "Profile");
    if (canaccess != null && canaccess.IsCreate)
    {
        <div class="row body-container" style="margin-top:20px;">
            <div class="bs-component" style="font-size:11px;">
                <div class="row col-lg-offset-1">
                    <h3 style="margin-top: 0px;">
                        Profile (Company)
                        <select class="form-control" style="float:right; width:220px; margin-bottom:10px; margin-right:11.4%" id="choice">
                            <option value="Company">Company</option>
                            <option value="Business">Business</option>
                        </select>
                    </h3>
                </div>

                <div class="col-lg-offset-1 col-lg-2">
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2" class="background-color cpBG fontWhite">User</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="background-color" width="43%">
                                        Name:
                                    </td>
                                    <td>
                                        @user.Fullname
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        Position:
                                    </td>
                                    <td>
                                        @position.Name
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        Request Date:
                                    </td>
                                    <td>
                                        @DateTime.Now.ToString("dd MMM yyyy HH:mm:ss")
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="row1">
                    <div class="col-lg-8">
                        <!---Requester-->
                        <table class="table table-bordered table-col-4">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="6">Profile Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="background-color alignRight" style="vertical-align:middle" width="160">
                                        Status :
                                    </td>
                                    <td style="vertical-align:middle">
                                        <label style="color:red;" id="lblStatus">New</label>
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Profile Name :<span class="red">*</span>
                                    </td>
                                    <td>
                                        <input class="form-control Pname" id="name" type="text" />
                                    </td>
                                    <td class="background-color" style="vertical-align:middle" colspan="2">
                                        <div class="row" style="text-align:center;" id="companyBox">
                                            <label>
                                                <input type="radio" value="1" name="businessTypeRB" class="businesstype" id="c1" checked="checked" style="margin-right:2px;">
                                                Sdn Bhd
                                            </label>
                                            &nbsp;
                                            <label>
                                                <input type="radio" value="2" name="businessTypeRB" class="businesstype" id="c2" style="margin-right:2px;">
                                                Berhad
                                            </label>
                                        </div>
                                        <div class="row" style="margin-left:-8px; text-align:center;" id="businessBox" hidden>
                                            <label>
                                                <input type="radio" value="3" name="businessTypeRB" class="businesstype" id="b1" style="margin-right:2px;">
                                                Sole Proprietor
                                            </label>
                                            &nbsp;
                                            <label>
                                                <input type="radio" value="4" name="businessTypeRB" class="businesstype" id="b2" style="margin-right:2px;">
                                                Partnership &nbsp;
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="160" class="background-color alignRight" style="vertical-align:middle">
                                        Profile Type :
                                    </td>
                                    <td style="width:16.5em; vertical-align:middle">
                                        <select class="form-control" id="profileType">
                                            <option value="1">Creditor</option>
                                            <option value="2">Debtor</option>
                                        </select>
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Contact No :<span class="red">*</span>
                                    </td>
                                    <td style="width:16.5em">
                                        <input class="form-control contact" id="contactNo" type="text" maxlength="12" />
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle; width:5.65em">
                                        Email :<span class="red">*</span>
                                    </td>
                                    <td style="width:16.5em">
                                        <input class="form-control email" id="email" type="email" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color alignRight" style="vertical-align:middle">
                                        Business Reg No :<span class="red">*</span>
                                    </td>
                                    <td>
                                        <input class="form-control" id="businessRegNo" type="text" maxlength="15" />
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        DMS Subscriber :
                                    </td>
                                    <td style="vertical-align:middle">
                                        <div id="firstDiv">
                                            <select class="form-control" id="dms" style="width: 30%; display:inline-block" onchange="dmsSelectOnChanged()">
                                                <option value="true">Yes</option>
                                                <option value="false" selected>No</option>
                                            </select>
                                        </div>
                                        <button id="btnSubscription" onclick="btnSubscriptionOnClick()" type="button" class="btn btn-xs btn-info pull-right" style="display:inline-block; margin-top: 2px">Subscription</button>
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle">
                                        Source :
                                    </td>
                                    <td style="vertical-align:middle">
                                        <select class="form-control" id="source">
                                            @foreach (var s in Model.Sources)
                                            {
                                                <option value="@s.SourceId">@s.Name</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alignRight" style="vertical-align:middle">
                                        Nature of Business :
                                    </td>
                                    <td>
                                        <select class="form-control" id="natureOfBusiness">
                                            <option value="gsd">Goods Sold & Delivered</option>
                                        </select>
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Website :
                                    </td>
                                    <td colspan="3">
                                        <input id="website" type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color alignRight" style="vertical-align:middle">
                                        Remark :
                                    </td>
                                    <td colspan="5">
                                        <textarea id="remark" rows="3" class="form-control"></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-col-4" style="padding-top:10px;">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="6">Address Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="160" class="background-color alignRight" style="vertical-align:middle">
                                        Line 1 :<span class="red">*</span>
                                    </td>
                                    <td style="width:16.5em">
                                        <input class="form-control" id="line1" type="text" />
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle; width:9.15em">
                                        Line 2 :<span class="red">*</span>
                                    </td>
                                    <td style="width:16.5em">
                                        <input class="form-control" id="line2" type="text" />
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:5.65em">
                                        City :
                                    </td>
                                    <td style="width:16.5em; vertical-align:middle">
                                        <select id="city" class="form-control">
                                            @foreach (var s in Model.City)
                                            {
                                                <option value="@s.Name">@s.Name</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alignRight" style="vertical-align:middle">
                                        State :
                                    </td>
                                    <td style="width:16.5em; vertical-align:middle">
                                        <select id="state" class="form-control">
                                            @foreach (var s in Model.State)
                                            {
                                                <option value="@s.Name">@s.Name</option>
                                            }
                                        </select>
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Postal Code :<span class="red">*</span>
                                    </td>
                                    <td style="width:16.5em">
                                        <input class="form-control contact" id="postalCode" type="text" maxlength="5" />
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle; width:5.65em">
                                        Country :
                                    </td>
                                    <td style="width:16.5em; vertical-align:middle">
                                        Malaysoa
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-col-4" style="padding-top:10px;">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="6">Person Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="160" class="background-color alignRight" style="vertical-align:middle">
                                        Name :<span class="red">*</span>
                                    </td>
                                    <td style="width:16.5em; vertical-align:middle">
                                        <input class="form-control name" id="picName" type="text" />
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Contact No :<span class="red">*</span>
                                    </td>
                                    <td style="width:16.5em; vertical-align:middle">
                                        <input class="form-control contact" id="picContact" type="text" maxlength="12" />
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle; width:5.65em">
                                        Email :<span class="red">*</span>
                                    </td>
                                    <td style="width:16.5em">
                                        <input class="form-control email" id="picEmail" type="email" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-col-4" style="padding-top:10px;">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="5">Comment/Remark</th>
                                </tr>
                            </thead>
                            <tr>
                                <td colspan="3">
                                    <table class="table table-bordered sub-table" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th width="20.3%">
                                                    Date/Time
                                                </th>
                                                <th width="32%">
                                                    User Name
                                                </th>
                                                <th>
                                                    Comment/Remark
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="3">
                                                    <textarea id="comment" rows="3" style="width:100%;"></textarea>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <!---Pex Team-->
                        <!-- Action Button -->
                        <div class="right-text" style="float:right; padding-bottom:10px;">
                            <button id="btnSaveCompany" type="button" class="btn btn-xs btn-success">Submit</button>
                            <a href="/Profile/Choice?page=@Model.Page" class="btn btn-xs btn-default">Close</a>
                        </div>

                        <table class="table table-bordered table-col-4" style="padding-top:10px;">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="4">Audit Trail</th>
                                </tr>
                            </thead>
                            <tr>
                                <td colspan="4">
                                    <table class="table table-bordered sub-table" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th width="20.3%">
                                                    Date/Time
                                                </th>
                                                <th width="32%">
                                                    User
                                                </th>
                                                <th width="20.9%">
                                                    Action
                                                </th>
                                                <th>
                                                    Comment
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </td>
                            </tr>
                        </table>



                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h4 class="access-denied-page" style="color:black">
            Access denied, you don&acute;t have permission to access this page.
        </h4>
    }
}

<br />
