﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Profile Preview";
}

@using CP.Models
@model UpdateProfileViewModel
@{
    var profile = Model.Profile;
    var address = Model.Address;
    var person = Model.Person;
    var cr = Model.CommentRemark;
    var c = "checked";
    var h = "hidden";
    var users = Model.Users;
    var positions = Model.Positions;
    var owner = Model.Users.Find(x => x.UserId == profile.CreatedBy);
    var cu = Model.CurrentUser;
    var auditTrails = Model.ProfileAuditTrails;
}

<style>
    .content .form-control {
        font-size: 10px;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }

    .btn-info {
        background-color: #5bc0de;
    }
</style>
@{
    var canaccess = cu.Find(x => x.Keyword == "Profile");
    if (canaccess != null && canaccess.IsRead)
    {
        <div class="row body-container" style="margin-top:20px;">
            <div class="bs-component" style="font-size:11px;">
                <div class="row col-lg-offset-1">
                    <h3 style="margin-top: 0px;">Profile (Company)</h3>
                </div>
                <div class="col-lg-offset-1 col-lg-2">
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2" class="background-color cpBG fontWhite">User</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="background-color" width="43%">
                                        Name:
                                    </td>
                                    <td>
                                        @{
                                            var created = users.Find(x => x.UserId == profile.CreatedBy);
                                            if (created != null)
                                            {
                                                @created.Fullname
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        Position:
                                    </td>
                                    <td>
                                        @{
                                            var position = positions.Find(x => x.UserPositionId == owner.Position);
                                            if (position != null)
                                            {
                                                @position.Name;
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        Request Date:
                                    </td>
                                    <td>
                                        @profile.CreatedAt.ToString("dd MMM yyyy HH:mm:ss")
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="row1">
                    <div class="col-lg-8">
                        <!---Requester-->
                        <table class="table table-bordered table-col-4">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="6">Profile Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="background-color alignRight" width="160" style="vertical-align:middle">
                                        Status :
                                    </td>
                                    <td style="vertical-align:middle">
                                        <label style="color:red;" id="lblStatus">New</label>
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Profile Name :
                                    </td>
                                    <td style="vertical-align:middle" colspan="3">
                                        @switch (profile.BusinessType)
                                        {
                                            case 1:
                                                profile.Name += " Sdn Bhd";
                                                break;
                                            case 2:
                                                profile.Name += " Berhad";
                                                break;
                                            default:
                                                break;
                                        }
                                        @profile.Name
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alignRight" style="vertical-align:middle">
                                        Profile Type :
                                    </td>
                                    <td style="width:16.5em; vertical-align:middle" id="test">
                                        <span>
                                            @if (profile.ProfileType == 1)
                                            {
                                                <span>Creditor</span>
                                            }
                                            else
                                            {
                                                <span>Debtor</span>
                                            }
                                        </span>
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Contact No :
                                    </td>
                                    <td style="vertical-align:middle; width:16.5em">
                                        @profile.ContactNo
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle; width:5.65em">
                                        Email :
                                    </td>
                                    <td style="vertical-align:middle; width:16.5em">
                                        @profile.Email
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color alignRight" style="vertical-align:middle">
                                        Business Reg No :
                                    </td>
                                    <td style="vertical-align:middle; width:16.5em">
                                        @profile.BusinessRegNo
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle; width:9.15em">
                                        DMS Subscriber :
                                    </td>
                                    <td style="vertical-align:middle; width:16.5em">
                                        @if (profile.DMS == 1)
                                        {
                                            <span>Yes</span>
                                            <a href="/Subscriptions/Subscription?profileId=@profile.ProfileId&page=Creditor" type="button" class="btn btn-xs btn-info pull-right">Subscription</a>
                                        }
                                        else if (profile.DMS == 0)
                                        {
                                            <span>No</span>
                                        } else
                                        {
                                            <span>Pending Approval</span>
                                        }
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:5.65em">
                                        Source :
                                    </td>
                                    <td style="vertical-align:middle; width:16.5em">
                                        @foreach (var s in Model.Sources)
                                        {
                                            if (profile.Source == s.SourceId)
                                            {
                                                @s.Name
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alignRight" style="vertical-align:middle">
                                        Nature of Business :
                                    </td>
                                    <td style="vertical-align:middle">
                                        Goods Sold & Delivered
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Website :
                                    </td>
                                    <td colspan="3" style="vertical-align:middle">
                                        @profile.Website
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color alignRight" style="vertical-align:middle">
                                        Remark :
                                    </td>
                                    <td colspan="5" style="vertical-align:middle">
                                        @profile.Remark
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-col-4" style="padding-top:10px;">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="6">Address Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="160" class="background-color alignRight" style="vertical-align:middle">
                                        Line 1 :
                                    </td>
                                    <td style="width:16.5em">
                                        @address.Line1
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle; width:9.15em">
                                        Line 2 :
                                    </td>
                                    <td style="width:16.5em">
                                        @address.Line2
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:5.65em">
                                        City :
                                    </td>
                                    <td style="width:16.5em">
                                        @address.City
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alignRight" style="vertical-align:middle">
                                        State :
                                    </td>
                                    <td style="width:16.5em">
                                        @address.State
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Postal Code :
                                    </td>
                                    <td style="width:16.5em">
                                        @address.PostalCode
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle; width:5.65em">
                                        Country :
                                    </td>
                                    <td style="width:16.5em">
                                        @address.Country
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-col-4" style="padding-top:10px;">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="6">Person Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="160" class="background-color alignRight" style="vertical-align:middle">
                                        Name :
                                    </td>
                                    <td style="width:16.5em">
                                        @person.Name
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Contact No :
                                    </td>
                                    <td style="width:16.5em">
                                        @person.ContactNo
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle; width:5.65em">
                                        Email :
                                    </td>
                                    <td style="width:16.5em">
                                        @person.Email
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-col-4" style="padding-top:10px;">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="5">Comment/Remark</th>
                                </tr>
                            </thead>
                            <tr>
                                <td colspan="3">
                                    <table class="table table-bordered sub-table" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th width="20.3%">
                                                    Date/Time
                                                </th>
                                                <th width="32%">
                                                    User Name
                                                </th>
                                                <th>
                                                    Comment/Remark
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (cr.Count != 0)
                                            {
                                                foreach (var cc in cr)
                                                {
                                                    var u = users.Find(x => x.UserId == cc.CreatedBy);
                                                    <tr>
                                                        <td>
                                                            @cc.CreatedAt.ToString("dd MMM yyyy HH:mm:ss")
                                                        </td>
                                                        <td>@u.Fullname</td>
                                                        <td colspan="3">
                                                            @cc.Comment
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <!---Pex Team-->
                        <!-- Action Button -->
                        <div class="right-text" style="float:right; padding-bottom:10px;">
                            @if (canaccess.IsUpdate)
                            {
                                <a href="/Profile/EditProfile?profileId=@profile.ProfileId&page=@Model.Page" type="button" class="btn btn-xs btn-warning">Edit</a>
                            }
                            <a href="/Profile/Choice?page=@Model.Page" class="btn btn-xs btn-default">Close</a>
                        </div>

                        <table class="table table-bordered table-col-4" style="padding-top:10px;">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="5">Audit Trail</th>
                                </tr>
                            </thead>
                            <tr>
                                <td colspan="4">
                                    <table class="table table-bordered sub-table" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th width="20.3%">
                                                    Date/Time
                                                </th>
                                                <th width="32%">
                                                    User
                                                </th>
                                                <th width="20.9%">
                                                    Action
                                                </th>
                                                <th>
                                                    Comment
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (auditTrails != null)
                                            {
                                                foreach (var a in auditTrails)
                                                {
                                                    var uu = users.Find(x => x.UserId == a.UserId);
                                                    <tr>
                                                        <td>
                                                            @a.Date.ToString("dd MMM yyyy HH:mm:ss")
                                                        </td>
                                                        <td>
                                                            @uu.Fullname
                                                        </td>
                                                        <td>
                                                            @a.Action
                                                        </td>
                                                        <td>
                                                            @a.Comment
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h4 class="access-denied-page" style="color:black">
            Access denied, you don&acute;t have permission to access this page.
        </h4>
    }
}
<br />