﻿  @{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Law Firm Profile Preview";

}

@using CP.Models
@model UpdateProfileViewModel

@{
    var profile = Model.LawFirmProfile;
    var address = Model.Address;
    var commentRemarks = Model.CommentRemark;
    var auditTrails = Model.ProfileAuditTrails;
    var users = Model.Users;
    var positions = Model.Positions;
    var owner = Model.Users.Find(x => x.UserId == profile.CreatedBy);
    var cu = Model.CurrentUser;
}
<script src="~/Scripts/Profile.js"></script>

<script>
    $(function () {
        init();
    });
</script>

<style>
    .content .form-control {
        font-size: 10px;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }

    .btn-info {
        background-color: #5bc0de;
    }
</style>

@{
    var canaccess = cu.Find(x => x.Keyword == "Profile");
    if (canaccess != null && canaccess.IsRead)
    {
        <div class="row body-container" style="margin-top:20px;">
            <div class="bs-component" style="font-size:11px;">
                <div class="row col-lg-offset-1">
                    <h3 style="margin-top: 0px;">
                        Profile (Law Firm)
                        @*<select class="form-control" style="float:right; width:220px; margin-bottom:10px; margin-right:11.4%" id="choice">
                                <option value="Company">Company</option>
                                <option value="Business">Business</option>
                            </select>*@
                    </h3>
                </div>

                <div class="col-lg-offset-1 col-lg-2">
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2" class="background-color cpBG fontWhite">User</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="background-color" width="43%">
                                        Name:
                                    </td>
                                    <td>
                                        @{
                                            var u = users.Find(x => x.UserId == profile.CreatedBy);
                                            if (u != null)
                                            {
                                                @u.Fullname
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        Position:
                                    </td>
                                    <td>
                                        @{
                                            var position = positions.Find(x => x.UserPositionId == owner.Position);
                                            if (position != null)
                                            {
                                                @position.Name;
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        Request Date:
                                    </td>
                                    <td>
                                        @profile.CreatedAt.ToString("dd MMM yyyy HH:mm:ss")
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="row1">
                    <div class="col-lg-8">
                        <!---Requester-->
                        <table class="table table-bordered table-col-4">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="6">Profile Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="160" class="background-color alignRight" style="vertical-align:middle">
                                        Active :
                                    </td>
                                    <td style="width:16.5em">
                                        @if (profile.Active)
                                        {
                                            <label>Yes</label>
                                        }
                                        else
                                        {
                                            <label>No</label>
                                        }
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Profile Name :
                                    </td>
                                    <td style="width:16.5em">
                                        @profile.Name
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:5.65em">
                                        Email :
                                    </td>
                                    <td style="width:16.5em;">
                                        @profile.Email
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alignRight">
                                        Contact No :
                                    </td>
                                    <td style="width:16.5em;">
                                        @profile.ContactNo
                                    </td>
                                    <td class="background-color alignRight" style="width:9.15em">
                                        Business Reg No :
                                    </td>
                                    <td style="width:16.5em;">
                                        @profile.BusinessRegNo
                                    </td>
                                    <td class="background-color alignRight" style="width:5.65em">
                                        Website :
                                    </td>
                                    <td style="width:16.5em; vertical-align:middle">
                                        <p style="word-break:break-all">
                                            @profile.Website
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color alignRight" style="vertical-align:middle">
                                        Remark :
                                    </td>
                                    <td colspan="5">
                                        @profile.Remark
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-col-4" style="padding-top:10px;">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="6">Address Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="160" class="background-color alignRight" style="vertical-align:middle">
                                        Line 1 :
                                    </td>
                                    <td style="width:16.5em">
                                        @address.Line1
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Line 2 :
                                    </td>
                                    <td style="width:16.5em">
                                        @address.Line2
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:5.65em">
                                        City :
                                    </td>
                                    <td style="width:16.5em">
                                        @address.City
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alignRight" style="vertical-align:middle">
                                        State :
                                    </td>
                                    <td style="width:16.5em">
                                        @address.State
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Postal Code :
                                    </td>
                                    <td style="width:16.5em">
                                        @address.PostalCode
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:5.65em">
                                        Country :
                                    </td>
                                    <td style="width:16.5em">
                                        @address.Country
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-col-4" style="padding-top:10px;">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="4">Administrator Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="3">
                                        <table class="table table-bordered sub-table" id="inptDebtor" style="margin-bottom:0px">
                                            <thead>
                                                <tr>
                                                    <th width="20.3%">
                                                        ID
                                                    </th>
                                                    <th width="32%">
                                                        Name
                                                    </th>
                                                    <th>
                                                        Designation
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                </tr>
                                                @*@{
                                                        if (debtors != null)
                                                        {
                                                            foreach (var d in debtors)
                                                            {
                                                                var dd = profiles.Find(x => x.ProfileId == d.ProfileId);

                                                                if (dd != null)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            <a data-type="show" data-value="@d.DebtorId" data-cname="@dd.Name" data-cno="@dd.ContactNo" data-brn="@dd.BusinessRegNo" data-ca="@string.Format("{0:#,##0.00}", d.ClaimAmount)" data-r="@d.Remark" data-isrb="@d.InsolvencyStatus" data-mdisrb="@d.MDIStatus" data-sibrb="@d.StillInBusiness" onclick="Debtor(this)">
                                                                                @dd.Name
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            @dd.BusinessRegNo
                                                                        </td>
                                                                        <td>
                                                                            @string.Format("{0:#,##0.00}", d.ClaimAmount)
                                                                        </td>
                                                                        @if (profile.BusinessType == 1 || profile.BusinessType == 2)
                                                                        {
                                                                            <td class="company">
                                                                                @if (d.InsolvencyStatus == true)
                                                                                {
                                                                                    <span>Yes</span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <span>No</span>
                                                                                }
                                                                            </td>
                                                                            <td class="company">
                                                                                @if (d.MDIStatus == true)
                                                                                {
                                                                                    <span>Yes</span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <span>No</span>
                                                                                }
                                                                            </td>
                                                                        }
                                                                        <td>
                                                                            @if (d.StillInBusiness == true)
                                                                            {
                                                                                <span>Yes</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span>No</span>
                                                                            }
                                                                        </td>
                                                                        <td style="text-align:center;">
                                                                            <a class="delete" data-value="@d.DebtorId" title="Delete" onclick="removeDebtor(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        }
                                                    }*@
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-col-4" style="padding-top:10px;">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="4">Interbank GIRO Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="4">
                                        <table class="table table-bordered sub-table" id="inptDebtor" style="margin-bottom:0px">
                                            <thead>
                                                <tr>
                                                    <th width="20.3%">
                                                        Account Number
                                                    </th>
                                                    <th width="32%">
                                                        Bank Name
                                                    </th>
                                                    <th>
                                                        Branch Name
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                </tr>
                                                @*@{
                                                        if (debtors != null)
                                                        {
                                                            foreach (var d in debtors)
                                                            {
                                                                var dd = profiles.Find(x => x.ProfileId == d.ProfileId);

                                                                if (dd != null)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            <a data-type="show" data-value="@d.DebtorId" data-cname="@dd.Name" data-cno="@dd.ContactNo" data-brn="@dd.BusinessRegNo" data-ca="@string.Format("{0:#,##0.00}", d.ClaimAmount)" data-r="@d.Remark" data-isrb="@d.InsolvencyStatus" data-mdisrb="@d.MDIStatus" data-sibrb="@d.StillInBusiness" onclick="Debtor(this)">
                                                                                @dd.Name
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            @dd.BusinessRegNo
                                                                        </td>
                                                                        <td>
                                                                            @string.Format("{0:#,##0.00}", d.ClaimAmount)
                                                                        </td>
                                                                        @if (profile.BusinessType == 1 || profile.BusinessType == 2)
                                                                        {
                                                                            <td class="company">
                                                                                @if (d.InsolvencyStatus == true)
                                                                                {
                                                                                    <span>Yes</span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <span>No</span>
                                                                                }
                                                                            </td>
                                                                            <td class="company">
                                                                                @if (d.MDIStatus == true)
                                                                                {
                                                                                    <span>Yes</span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <span>No</span>
                                                                                }
                                                                            </td>
                                                                        }
                                                                        <td>
                                                                            @if (d.StillInBusiness == true)
                                                                            {
                                                                                <span>Yes</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span>No</span>
                                                                            }
                                                                        </td>
                                                                        <td style="text-align:center;">
                                                                            <a class="delete" data-value="@d.DebtorId" title="Delete" onclick="removeDebtor(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        }
                                                    }*@
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-col-4">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="6">Subcription Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:20.8%">
                                        Subcription Plan :
                                    </td>
                                    <td style="width:21%; vertical-align:middle">
                                        -
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:10.6%">
                                        Law Firm Size :
                                    </td>
                                    <td style="width:16.5em">
                                        -
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:10.65em">
                                        Justice Online :
                                    </td>
                                    <td>
                                        -
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color alignRight" style="vertical-align:middle">
                                        Remark :
                                    </td>
                                    <td colspan="5">
                                        -
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-col-4" style="padding-top:10px;">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="5">Comment/Remark</th>
                                </tr>
                            </thead>
                            <tr>
                                <td colspan="3">
                                    <table class="table table-bordered sub-table" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th width="20.3%">
                                                    Date/Time
                                                </th>
                                                <th width="32%">
                                                    User Name
                                                </th>
                                                <th>
                                                    Comment/Remark
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (commentRemarks.Count != 0)
                                            {
                                                foreach (var cc in commentRemarks)
                                                {
                                                    var uu = users.Find(x => x.UserId == cc.CreatedBy);
                                                    <tr>
                                                        <td>
                                                            @cc.CreatedAt.ToString("dd MMM yyyy HH:mm:ss")
                                                        </td>
                                                        <td>@uu.Fullname</td>
                                                        <td colspan="3">
                                                            @cc.Comment
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <!---Pex Team-->
                        <!-- Action Button -->
                        <div class="right-text" style="float:right; padding-bottom:10px">
                            @if (canaccess.IsUpdate)
                            {
                                <a href="/Profile/EditLawFirmProfile?profileId=@profile.LawFirmProfileId" type="button" class="btn btn-xs btn-warning">Edit</a>
                            }
                            <a href="/Profile/Choice?page=LawFirm" class="btn btn-xs btn-default">Close</a>
                        </div>

                        <table class="table table-bordered table-col-4" style="padding-top:10px;">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="5">Audit Trail</th>
                                </tr>
                            </thead>
                            <tr>
                                <td colspan="4">
                                    <table class="table table-bordered sub-table" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th width="20.3%">
                                                    Date/Time
                                                </th>
                                                <th width="32%">
                                                    User
                                                </th>
                                                <th width="19.7%">
                                                    Action
                                                </th>
                                                <th>
                                                    Comment
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (auditTrails != null)
                                            {
                                                foreach (var a in auditTrails)
                                                {
                                                    var uu = users.Find(x => x.UserId == a.UserId);
                                                    <tr>
                                                        <td>
                                                            @a.Date.ToString("dd MMM yyyy HH:mm:ss")
                                                        </td>
                                                        <td>
                                                            @uu.Fullname
                                                        </td>
                                                        <td>
                                                            @a.Action
                                                        </td>
                                                        <td>
                                                            @a.Comment
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h4 class="access-denied-page" style="color:black">
            Access denied, you don&acute;t have permission to access this page.
        </h4>
    }
}

<br />
