﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit Profile";
}

@using CP.Models
@model UpdateProfileViewModel
@{
    var profile = Model.Profile;
    var address = Model.Address;
    var person = Model.Person;
    var cr = Model.CommentRemark;
    var c = "checked";
    var h = "hidden";
    var users = Model.Users;
    var positions = Model.Positions;
    var owner = Model.Users.Find(x => x.UserId == profile.CreatedBy);
    var cu = Model.CurrentUser;
    var auditTrails = Model.ProfileAuditTrails;
}

<script src="~/Scripts/CreditorDebtorProfile.js"></script>
<input type="hidden" value="UpdateProfile" id="page" hidden />
<script>
    $(function () {
        init();
    });
</script>

<style>
    .content .form-control {
        font-size: 11px;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }

    .btn-info {
        background-color: #5bc0de;
    }
</style>

@{
    var canaccess = cu.Find(x => x.Keyword == "Profile");
    if (canaccess != null && canaccess.IsUpdate)
    {
        <div class="row body-container" style="margin-top:20px;">
            <div class="bs-component" style="font-size:11px;">
                <div class="row col-lg-offset-1">
                    <h3 style="margin-top: 0px;">
                        Profile (Company)
                        <select class="form-control" style="float:right; width:220px; margin-bottom:10px; margin-right:11.4%" id="choice">
                            @if (profile.BusinessType == 1 || profile.BusinessType == 2)
                            {
                                <option value="Company" selected>Company</option>
                                <option value="Business">Business</option>
                            }
                            else
                            {
                                <option value="Company">Company</option>
                                <option value="Business" selected>Business</option>
                            }
                        </select>
                    </h3>
                </div>
                <div class="col-lg-offset-1 col-lg-2">
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2" class="background-color cpBG fontWhite">User</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="background-color" width="40%">
                                        Name:
                                    </td>
                                    <td>
                                        @{
                                            var created = users.Find(x => x.UserId == profile.CreatedBy);
                                            if (created != null)
                                            {
                                                @created.Fullname
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        Position:
                                    </td>
                                    <td>
                                        @{
                                            var position = positions.Find(x => x.UserPositionId == owner.Position);
                                            if (position != null)
                                            {
                                                @position.Name;
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        Request Date:
                                    </td>
                                    <td>
                                        @profile.CreatedAt.ToString("dd MMM yyyy HH:mm:ss")
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="row1">
                    <div class="col-lg-8">
                        <!---Requester-->
                        <table class="table table-bordered table-col-4">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="6">Profile Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="background-color alignRight" style="vertical-align:middle" width="160">
                                        Status :
                                    </td>
                                    <td style="vertical-align:middle">
                                        <label style="color:red;" id="lblStatus">New</label>
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Profile Name :<span class="red">*</span>
                                    </td>
                                    <td>
                                        <input class="form-control Pname" value="@profile.Name" id="name" type="text" />
                                    </td>
                                    <td class="background-color" style="vertical-align:middle" colspan="2">
                                        <div class="row" style="text-align:center" id="companyBox" @if (profile.BusinessType != 1 && profile.BusinessType != 2) { @h }>
                                            <label>
                                                <input type="radio" value="1" name="businessTypeRB" class="businesstype" id="c1" @if (profile.BusinessType == 1) { @c }>
                                                Sdn Bhd
                                            </label>
                                            &nbsp;
                                            <label>
                                                <input type="radio" value="2" name="businessTypeRB" class="businesstype" id="c2" style="margin-right:1px;" @if (profile.BusinessType == 2) { @c }>
                                                Berhad
                                            </label>
                                        </div>
                                        <div class="row" style="margin-left:-8px; text-align:center" id="businessBox" @if (profile.BusinessType != 3 && profile.BusinessType != 4) { @h }>
                                            <label>
                                                <input type="radio" value="3" name="businessTypeRB" class="businesstype" id="b1" @if (profile.BusinessType == 3) { @c }>
                                                Sole Proprietor
                                            </label>
                                            &nbsp;
                                            <label>
                                                <input type="radio" value="4" name="businessTypeRB" class="businesstype" id="b2" style="margin-right:1px;" @if (profile.BusinessType == 4) { @c }>
                                                Partnership &nbsp;
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alignRight" style="vertical-align:middle">
                                        Profile Type :
                                    </td>
                                    <td style="width: 16.5em;">
                                        <select class="form-control" id="profileType">
                                            @if (profile.ProfileType == 1)
                                            {
                                                <option value="1" selected>Creditor</option>
                                                <option value="2">Debtor</option>
                                            }
                                            else
                                            {
                                                <option value="1">Creditor</option>
                                                <option value="2" selected>Debtor</option>
                                            }
                                        </select>
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Contact No :<span class="red">*</span>
                                    </td>
                                    <td style="width: 16.5em;">
                                        <input class="form-control contact" id="contactNo" type="text" value="@profile.ContactNo" maxlength="12" />
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle; width:5.65em">
                                        Email :<span class="red">*</span>
                                    </td>
                                    <td style="width: 16.5em;">
                                        <input class="form-control email" id="email" type="email" value="@profile.Email" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color alignRight" style="vertical-align:middle">
                                        Business Reg No :<span class="red">*</span>
                                    </td>
                                    <td style="width: 16.5em;">
                                        <input class="form-control" id="businessRegNo" type="text" value="@profile.BusinessRegNo" maxlength="15" />
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle; width:9.15em">
                                        DMS Subscriber :
                                    </td>
                                    <td style="width: 16.5em; vertical-align:middle">
                                        <select class="form-control" id="dms">
                                            @if (profile.DMS == 1)
                                            {
                                                <option value="true" selected>Yes</option>
                                                <option value="false">No</option>
                                            }
                                            else
                                            {
                                                <option value="true">Yes</option>
                                                <option value="false" selected>No</option>
                                            }
                                        </select>
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle">
                                        Source :
                                    </td>
                                    <td style="vertical-align:middle">
                                        <select class="form-control" id="source">
                                            @foreach (var s in Model.Sources)
                                            {
                                                if (profile.Source == s.SourceId)
                                                {
                                                    <option selected value="@s.SourceId">@s.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@s.SourceId">@s.Name</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alignRight" style="vertical-align:middle">
                                        Nature of Business :
                                    </td>
                                    <td style="width: 16.5em;">
                                        <select class="form-control" id="natureOfBusiness">
                                            <option value="gsd">Goods Sold & Delivered</option>
                                        </select>
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Website :
                                    </td>
                                    <td colspan="3">
                                        <input id="website" type="text" class="form-control" value="@profile.Website">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color alignRight" style="vertical-align:middle">
                                        Remark :
                                    </td>
                                    <td colspan="5">
                                        <textarea id="remark" rows="3" class="form-control">@profile.Remark</textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-col-4" style="padding-top:10px;">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="6">Address Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="160" class="background-color alignRight" style="vertical-align:middle">
                                        Line 1 :<span class="red">*</span>
                                    </td>
                                    <td style="width: 16.5em;">
                                        <input class="form-control" id="line1" type="text" value="@address.Line1" />
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle; width:9.15em">
                                        Line 2 :<span class="red">*</span>
                                    </td>
                                    <td style="width: 16.5em;">
                                        <input class="form-control" id="line2" type="text" value="@address.Line2" />
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:5.65em">
                                        City :
                                    </td>
                                    <td style="width: 16.5em; vertical-align:middle">
                                        <select id="city" class="form-control">
                                            @foreach (var s in Model.City)
                                            {
                                                if (address.City == s.Name)
                                                {
                                                    <option selected value="@s.Name">@s.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@s.Name">@s.Name</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alignRight" style="vertical-align:middle">
                                        State :
                                    </td>
                                    <td style="width: 16.5em; vertical-align:middle">
                                        <select id="state" class="form-control">
                                            @foreach (var s in Model.State)
                                            {
                                                if (address.State == s.Name)
                                                {
                                                    <option selected value="@s.Name">@s.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@s.Name">@s.Name</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Postal Code :<span class="red">*</span>
                                    </td>
                                    <td style="width: 16.5em;">
                                        <input class="form-control contact" id="postalCode" type="text" value="@address.PostalCode" maxlength="5" />
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle; width:5.65em">
                                        Country :
                                    </td>
                                    <td style="width: 16.5em; vertical-align:middle">
                                        @address.Country
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-col-4" style="padding-top:10px;">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="6">Person Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="160" class="background-color alignRight" style="vertical-align:middle">
                                        Name :<span class="red">*</span>
                                    </td>
                                    <td style="width: 16.5em; vertical-align:middle">
                                        <input class="form-control name" id="picName" type="text" value="@person.Name" />
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Contact No :<span class="red">*</span>
                                    </td>
                                    <td style="width: 16.5em; vertical-align:middle">
                                        <input class="form-control contact" id="picContact" type="text" value="@person.ContactNo" maxlength="12" />
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle; width:5.65em">
                                        Email :<span class="red">*</span>
                                    </td>
                                    <td style="width: 16.5em;">
                                        <input class="form-control email" id="picEmail" type="email" value="@person.Email" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-col-4" style="padding-top:10px;">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="5">Comment/Remark</th>
                                </tr>
                            </thead>
                            <tr>
                                <td colspan="3">
                                    <table class="table table-bordered sub-table" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th width="20.3%">
                                                    Date/Time
                                                </th>
                                                <th width="32%">
                                                    User Name
                                                </th>
                                                <th>
                                                    Comment/Remark
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (cr.Count != 0)
                                            {
                                                foreach (var cc in cr)
                                                {
                                                    var u = users.Find(x => x.UserId == cc.CreatedBy);
                                                    <tr>
                                                        <td>
                                                            @cc.CreatedAt.ToString("dd MMM yyyy HH:mm:ss")
                                                        </td>
                                                        <td>@u.Fullname</td>
                                                        <td colspan="3">
                                                            @cc.Comment
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            <tr>
                                                <td colspan="3">
                                                    <textarea id="comment" rows="3" style="width:100%;"></textarea>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <!---Pex Team-->
                        <!-- Action Button -->
                        <div class="right-text" style="float:right; padding-bottom:10px;">
                            <button id="btnSaveCompany" type="button" class="btn btn-xs btn-success">Save</button>
                            <a href="/Profile/Choice?page=@Model.Page" class="btn btn-xs btn-default">Close</a>
                        </div>

                        <table class="table table-bordered table-col-4" style="padding-top:10px;">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="4">Audit Trail</th>
                                </tr>
                            </thead>
                            <tr>
                                <td colspan="4">
                                    <table class="table table-bordered sub-table" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th width="20.3%">
                                                    Date/Time
                                                </th>
                                                <th width="32%">
                                                    User
                                                </th>
                                                <th width="20.9%">
                                                    Action
                                                </th>
                                                <th>
                                                    Comment
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (auditTrails != null)
                                            {
                                                foreach (var a in auditTrails)
                                                {
                                                    var uu = users.Find(x => x.UserId == a.UserId);
                                                    <tr>
                                                        <td>
                                                            @a.Date.ToString("dd MMM yyyy HH:mm:ss")
                                                        </td>
                                                        <td>
                                                            @uu.Fullname
                                                        </td>
                                                        <td>
                                                            @a.Action
                                                        </td>
                                                        <td>
                                                            @a.Comment
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="profileId" value="@profile.ProfileId" />
        <input type="hidden" id="personId" value="@person.PersonId" />
        <input type="hidden" id="addressId" value="@address.AddressId" />
    }
    else
    {
        <h4 class="access-denied-page" style="color:black">
            Access denied, you don&acute;t have permission to access this page.
        </h4>
    }
}