﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Profile Managment";
}


@using CP.Models
@model ProfileIndexViewModel

<style>
    .blue-title {
        margin-bottom: 0px;
        color: #225fef;
    }

    .form-control {
        height: 27px;
    }

    .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

        .btn-default:focus,
        .btn-default.focus {
            color: #333;
            background-color: #e6e6e6;
            border-color: #8c8c8c;
        }

        .btn-default:hover {
            color: #333;
            background-color: #e6e6e6;
            border-color: #adadad;
        }
</style>

<script src="~/Scripts/profile.js"></script>

<script>
    $(function () {
        init();
    });

    /**/</script>
<div class="row body-container" style="margin-top:-10px;">
    <div class="bs-component" style="font-size:12px; margin-top: 10px;">
        <div class="row col-lg-offset-1">
            <h3 style="margin-top: 0px;">Profile Management</h3>
            <div style="margin-top:-35px;">
                <a href="~/Profile/CreateProfile" class="btn btn-danger btn-xs" style="float:right;margin-right:12%;">New Profile</a>
            </div>
        </div>
        <div class="row col-lg-offset-1" style="margin-top:10px; width:81.7%">
            <div>
                <table>
                    <thead>
                        <tr>
                            <th width="89%"></th>
                            <th width="10%"></th>
                            <th width="1%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input id="inptSearch" type="text" class="form-control" placeholder="Search">
                            </td>
                            <td style="padding-left:5px;">
                                <select id="sortBy" class="form-control">
                                    <option value="0" selected="" disabled="">Sort By</option>
                                    <option value="name">Name</option>
                                    <option value="createddate">Created Date</option>
                                </select>
                            </td>
                            <td style="padding-left:5px;">
                                <span id="btnOrder" data-state="asc" class="btn btn-xs btn-default glyphicon glyphicon-triangle-bottom btn-order" style="height:27.5px; margin-top:-1.5px; padding-top:4px;"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>


            @if (Model.Profiles.Count > 0)
            {
                <table id="tblEmployeeList" class="table sub-sub-table table-bordered" style="margin-top:5px;">
                    <thead>
                        <tr class="cpBG fontWhite">
                            <th @*style="font-style:italic;"*@>Name</th>
                            <th>Business Type</th>
                            <th>Profile Type</th>
                            <th @*style="font-style:italic;"*@>Email</th>
                            <th @*style="font-style:italic;"*@>Contact</th>
                            <th @*style="font-style:italic;"*@>Business Reg No</th>
                            <th @*style="font-style:italic;"*@>Created Date</th>
                            <th @*style="font-style:italic;"*@>DMS</th>
                            <th @*style="font-style:italic;"*@>Source</th>
                            <th style="font-style:italic;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var p in Model.Profiles)
                        {
                            <tr>
                                <td style="vertical-align:middle">
                                    <div class="ellipsis">
                                        <a id="name" href="~/Profile/EditProfilePreview?profileId=@p.ProfileId">@p.Name</a>
                                    </div>
                                </td>
                                <td style="vertical-align:middle">
                                    @{
                                        int caseSwitchh = p.BusinessType;
                                        switch (caseSwitchh)
                                        {
                                            case 1:
                                                <span>Sdn Bhd</span>
                                                break;
                                            case 2:
                                                <span>Berhad</span>
                                                break;
                                            case 3:
                                                <span>Sole Proprietor</span>
                                                break;
                                            case 4:
                                                <span>Partnership</span>
                                                break;
                                            default:
                                                break;
                                        }
                                    }
                                </td>
                                <td style="vertical-align:middle">
                                    @{
                                        int caseSwitch = p.ProfileType;
                                        switch (caseSwitch)
                                        {
                                            case 1:
                                                <span>Creditor</span>
                                                break;
                                            case 2:
                                                <span>Debtor</span>
                                                break;
                                            default:
                                                break;
                                        }
                                    }
                                </td>
                                <td style="vertical-align:middle">
                                    <div class="ellipsis">
                                        @p.Email
                                    </div>
                                </td>
                                <td style="vertical-align:middle">
                                    @p.ContactNo
                                </td>
                                <td style="vertical-align:middle">
                                    <div class="ellipsis">
                                        @p.BusinessRegNo
                                    </div>
                                </td>
                                <td style="vertical-align:middle">
                                    <span id="createddate">@p.CreatedAt</span>
                                </td>
                                <td style="vertical-align:middle">
                                    <div class="ellipsis">
                                        @{
                                            bool b = p.DMS;

                                            switch (b)
                                            {
                                                case true:
                                                    <span>Yes</span>
                                                    break;
                                                case false:
                                                    <span>No</span>
                                                    break;
                                                default:
                                                    break;
                                            }
                                        }
                                    </div>
                                </td>
                                <td style="vertical-align:middle">
                                    @p.Source
                                </td>
                                <td>
                                    <a href="~/Profile/EditProfile?profileId=@p.ProfileId" class="btn btn-xs edit" title="Edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                    <a data-value="@p.ProfileId" class="btn btn-xs delete" title="Delete" onclick="deleteProfile(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a><br>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div>
    </div>
</div>