﻿@using CP.Models
@model HeaderIconViewModel

@{ 
    var position = Model.Position;
    var name = Model.Name;
}

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-right:9%;">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("Index", "Home", new { area = "" })" id="home" title="Home" data-toggle="tooltip"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="@Url.Action("MyTask", "Home", new { area = "" })" title="My&nbsp;Task" data-toggle="tooltip"><span class="glyphicon glyphicon-tasks"></span></a></li>
        <li>
            @if (position == "011C9D8F-A82A-4BE3-9F30-4C2CEDE0D487" || position == "2788371D-8EC5-4ABE-A189-2A3B8562CAF1" || position == "E207490E-1A8C-405D-B415-B100ADB0D04F" || position == "7D68595F-726A-4D9F-8BF2-42DA814901C5")
            {
                <a href="@Url.Action("Calendar", "Home", new { area = "" })" title="Calendar" data-toggle="tooltip"><span class="glyphicon glyphicon-calendar"></span></a>
            }
            else
            {
                <a href="#" title="Calendar" data-toggle="tooltip"><span class="glyphicon glyphicon-calendar"></span></a>
            }
        </li>
        <li><a title="Five&nbsp;reminders" data-toggle="tooltip"><span class="glyphicon glyphicon-bell"></span></a></li>
        <li><a title="@name" data-toggle="tooltip"><span class="glyphicon glyphicon-user"></span></a></li>
        <li>
            <a title="Settings" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></a>
            <ul class="dropdown-menu" style="font-size: 13px;">

                <li>
                    <a id="btnUpdatePassword" data-toggle="modal" data-target="#updatePassword">Change Password</a>
                </li>

                <li class="divider"></li>
                <li>@Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, null)</li>
            </ul>
        </li>
    </ul>
</div>