﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create Lead";
}

@using CP.Models
@model CreateLeadViewModel

@{
    var disabled = "disabled";
    var position = Model.UserPosition;
    var userId = Model.UserId;
    var name = Model.Name;
    var cu = Model.CurrentUser;
    var h = "hidden";
}
<script src="~/Scripts/Lead.js"></script>

<script>
    $(function () {
        init();
    });
</script>

<style>
    .content .form-control {
        font-size: 11px;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }

    .btn-info {
        background-color: #5bc0de;
    }
</style>
@{
    var canaccess = cu.Find(x => x.Keyword == "Case");

    if (canaccess != null && canaccess.IsCreate)
    {
        <div class="row body-container" style="margin-top:20px;">
            <div class="bs-component" style="font-size:11px;">
                <div class="row col-lg-offset-1">
                    <h3 style="margin-top: 0px;">
                        Profile (Company)
                        <select class="form-control" style="float:right; width:220px; margin-bottom:10px; margin-right:11.4%" id="choice">
                            <option value="Company">Company</option>
                            <option value="Business">Business</option>
                        </select>
                    </h3>
                </div>
                @*<div class="col-lg-offset-1 col-lg-2">
                        <div class="row">
                            <h3 style="margin-top: 0px;">Profile (Company)</h3>
                        </div>
                    </div>*@


                <div class="col-lg-offset-1 col-lg-2">
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2" class="background-color cpBG fontWhite">User</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="background-color" style="width:43%">
                                        Name:
                                    </td>
                                    <td>
                                        @Model.Users.Find(x => x.UserId == userId).Fullname
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        Position:
                                    </td>
                                    <td>
                                        @{
                                            var op = position.Name;
                                            @op
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        Request Date:
                                    </td>
                                    <td>
                                        @DateTime.Now.ToString("dd MMM yyyy HH:mm:ss")
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>

                    <div class="row">
                        <table class="table table-bordered" id="Assign">
                            <thead>
                                <tr class="background-color bg-white cpBG">
                                    <th colspan="3">
                                        Risk Management
                                    </th>
                                </tr>
                                <tr class="background-color bg-white cpBG">
                                    <th style="width:43%">
                                        Assign To
                                    </th>
                                    <th style="width:30%">
                                        Date
                                    </th>
                                    <th style="text-align:center; width:27%">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (position.UserPositionId != "A4C2EBBE-9391-44AF-BD49-572BBC9EB22E")
                                {
                                    <tr>
                                        <td>
                                            @Model.Users.Find(x => x.UserId == userId).Fullname
                                        </td>
                                        <td>@DateTime.Now.ToString("dd MMM yyyy")</td>
                                        <td ata-value="" style="text-align:center;">N/A</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="2">
                                            <select id="assignToSelect" class="form-control" title="Select Risk Management Officer" @if (position.UserPositionId != "A4C2EBBE-9391-44AF-BD49-572BBC9EB22E") { @disabled }>
                                                @foreach (var u in Model.User)
                                                {
                                                    <option value="@u.UserId">@u.Fullname</option>
                                                }
                                            </select>
                                        </td>
                                        <td style="text-align:center; vertical-align:middle">
                                            <a onclick="add()" class="btn btn-xs btn-info">Add</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row1">
                    <div class="col-lg-8">
                        <!---Requester-->
                        <table class="table table-bordered table-col-4">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="6">Profile Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="background-color alignRight" width="160" style="vertical-align:middle">
                                        Status :
                                    </td>
                                    <td style="vertical-align:middle">
                                        <label style="color:red;" id="lblStatus">Lead (New)</label>
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Profile Name :<span class="red">*</span>
                                    </td>
                                    <td colspan="2">
                                        <input class="form-control Pname" id="name" type="text" />
                                    </td>
                                    <td class="background-color" style="vertical-align:middle;">
                                        <div class="row" style="text-align:center;" id="companyBox">
                                            <label>
                                                <input type="radio" value="1" name="businessTypeRB" class="businesstype" id="c1" checked="checked" style="margin-right:2px;">
                                                Sdn Bhd
                                            </label>
                                            &nbsp;
                                            <label>
                                                <input type="radio" value="2" name="businessTypeRB" class="businesstype" id="c2" style="margin-right:2px;">
                                                Berhad
                                            </label>
                                        </div>
                                        <div class="row" style="text-align:center;" id="businessBox" hidden>
                                            <label>
                                                <input type="radio" value="3" name="businessTypeRB" class="businesstype" id="b1" style="margin-right:2px;">
                                                Sole Proprietor
                                            </label>
                                            &nbsp;
                                            <label>
                                                <input type="radio" value="4" name="businessTypeRB" class="businesstype" id="b2" style="margin-right:2px;">
                                                Partnership &nbsp;
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="160" class="background-color alignRight" style="vertical-align:middle">
                                        Business Reg No :<span class="red">*</span>
                                    </td>
                                    <td>
                                        <input class="form-control" id="businessRegNo" type="text" maxlength="15" />
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Contact No :<span class="red">*</span>
                                    </td>
                                    <td style="width:16.5em">
                                        <input class="form-control contact" id="contactNo" type="text" maxlength="12" />
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle; width:5.65em">
                                        Email :<span class="red">*</span>
                                    </td>
                                    <td style="width:16.5em">
                                        <input class="form-control email" id="email" type="text" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color alignRight" style="vertical-align:middle">
                                        Profile Type :
                                    </td>
                                    <td style="width:16.5em; vertical-align:middle" id="test">
                                        Creditor
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        DMS Subscriber :
                                    </td>
                                    <td>
                                        <div id="firstDiv">
                                            <select class="form-control" id="dms" style="width: 30%; display:inline-block" onchange="dmsSelectOnChanged()">
                                                <option value="true">Yes</option>
                                                <option value="false" selected>No</option>
                                            </select>
                                            @*<a style="display:none" id="viewSubscription" target="_blank" href="/Subscriptions/Subscription?profileId=@Model.Profile.ProfileId&page=Creditor" type="button" class="btn btn-xs btn-info pull-right">Subscription</a>*@
                                            @*<button id="btnSubscription" onclick="btnSubscriptionOnClick()" type="button" class="btn btn-xs btn-info pull-right" style="display:inline-block; margin-top: 2px">Subscription</button>*@
                                        </div>
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle">
                                        Source :
                                    </td>
                                    <td>
                                        <select class="form-control" id="source">
                                            @foreach (var s in Model.Sources)
                                            {
                                                <option value="@s.SourceId">@s.Name</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alignRight" style="vertical-align:middle">
                                        Nature of Business :
                                    </td>
                                    <td>
                                        <select class="form-control" id="natureOfBusiness">
                                            <option value="gsd">Goods Sold & Delivered</option>
                                        </select>
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Website :
                                    </td>
                                    <td colspan="3">
                                        <input id="website" type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color alignRight" style="vertical-align:middle">
                                        Remark :
                                    </td>
                                    <td colspan="5">
                                        <textarea id="remark" rows="3" class="form-control"></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-col-4" style="padding-top:10px;">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="6">Address Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="160" class="background-color alignRight" style="vertical-align:middle">
                                        Line 1 :<span class="red">*</span>
                                    </td>
                                    <td style="width:16.5em">
                                        <input class="form-control" id="line1" type="text" />
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Line 2 :<span class="red">*</span>
                                    </td>
                                    <td style="width:16.5em">
                                        <input class="form-control" id="line2" type="text" />
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle; width:5.65em">
                                        City :
                                    </td>
                                    <td style="width:16.5em">
                                        <select id="city" class="form-control">
                                            @foreach (var s in Model.Cities)
                                            {
                                                <option value="@s.Name">@s.Name</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="160" class="background-color alignRight" style="vertical-align:middle">
                                        State :
                                    </td>
                                    <td style="width:16.5em">
                                        <select id="state" class="form-control">
                                            @foreach (var s in Model.States)
                                            {
                                                <option value="@s.Name">@s.Name</option>
                                            }
                                        </select>
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Postal Code :<span class="red">*</span>
                                    </td>
                                    <td style="width:16.5em">
                                        <input class="form-control contact" id="postalCode" type="text" maxlength="5" />
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle; width:5.65em">
                                        Country :
                                    </td>
                                    <td style="width:16.5em; vertical-align:middle">
                                        Malaysia
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-col-4" style="padding-top:10px;">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="6">Person In Charge Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="160" class="background-color alignRight" style="vertical-align:middle">
                                        Name :<span class="red">*</span>
                                    </td>
                                    <td style="width:16.5em">
                                        <input class="form-control name" id="picName" type="text" />
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.15em">
                                        Contact No :<span class="red">*</span>
                                    </td>
                                    <td style="width:16.5em">
                                        <input class="form-control contact" id="picContact" type="text" maxlength="12" />
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle; width:5.65em">
                                        Email :<span class="red">*</span>
                                    </td>
                                    <td style="width:16.5em">
                                        <input class="form-control email" id="picEmail" type="text" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-col-4" style="padding-top:10px">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="5">Lead Information</th>
                                </tr>
                            </thead>
                            <tr>
                                <td class="background-color alignRight" style="vertical-align:middle; width:20.8%">
                                    Attachments :
                                </td>
                                <td colspan="4">
                                    <table class="table table-bordered sub-table" id="inptRequesterfile" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th style="width:39.6%">
                                                    File Name
                                                </th>
                                                <th style="width:26.4%">
                                                    File Type
                                                </th>
                                                <th>
                                                    Uploaded Date
                                                </th>
                                                <th style="width: 7%; text-align:center;">
                                                    Action
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody> </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3">
                                                    <input id="fileSelectRequester" type="file" class="form-control" style="width: 100%;display: inline-block; padding-top:1.5px;">
                                                </td>
                                                <td colspan="1">
                                                    <button class="btn btn-xs btn-info" onclick="uploadDoc('65FECCE2-AA95-412D-95D2-0A271273B08F')">Upload</button>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <table class="table table-bordered table-col-4" style="margin-top:10px">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="3">Comment/Remark</th>
                                </tr>
                            </thead>
                            <tr>
                                <td colspan="3">
                                    <table class="table table-bordered sub-table" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th width="20.3%">
                                                    Date/Time
                                                </th>
                                                <th width="32%">
                                                    User Name
                                                </th>
                                                <th>
                                                    Comment/Remark
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="3">
                                                    <textarea id="comment" rows="3" style="width:100%;"></textarea>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <!---Pex Team-->
                        <!-- Action Button -->
                        <div class="right-text" style="float:right; padding-bottom:10px;">
                            <button id="btnSave" type="button" class="btn btn-xs btn-success">Submit</button>
                            <button id="btnSaveDraft" onclick="saveDraft('CreateNewLeadDraft')" type="button" class="btn btn-xs btn-info">Save Draft</button>
                            <a href="/Case/Choice?module=Lead" class="btn btn-xs btn-default">Close</a>
                        </div>

                        <table class="table table-bordered table-col-4" style="margin-top:10px">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="4">Audit Trail</th>
                                </tr>
                            </thead>
                            <tr>
                                <td colspan="4">
                                    <table class="table table-bordered sub-table" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th width="20.3%">
                                                    Date/Time
                                                </th>
                                                <th width="32%">
                                                    User
                                                </th>
                                                <th width="20.9%">
                                                    Action
                                                </th>
                                                <th>
                                                    Comment
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h4 class="access-denied-page" style="color:black">
            Access denied, you don&acute;t have permission to access this page.
        </h4>
    }
}
<br />

<input type="hidden" value="@Model.Request.RequestId" id="requestId" />
<input type="hidden" value="@if (position.UserPositionId != "A4C2EBBE-9391-44AF-BD49-572BBC9EB22E") { @userId } " id="assignToId" />
<input type="hidden" value="CreateNewLead" id="page" />
<input type="hidden" id="ProfileId" value="null" />
<input type="hidden" id="AddressId" value="null" />
<input type="hidden" id="PersonId" value="null" />
<input type="hidden" id="CommentRemarkId" value="null" />
<input type="hidden" id="LeadId" value="null" />
<input type="hidden" id="AssetForInvestigationId" value="null" />
<input type="hidden" id="AppointmentId" value="null" />
<input type="hidden" value="@position" id="CurrentUserGroup" />

<script>
$('#choice').on('change', function () {
    if (this.value == "Company") {
        $('#companyBox').show();
        $('#c1').prop('checked', true);
        $('#businessBox').hide();
        $('.business').hide();
        $('.company').show();
    }
    else {
        $('#companyBox').hide();
        $('#b1').prop('checked', true);
        $('#businessBox').show();
        $('.business').show();
        $('.company').hide();
    }
});

function add() {
    var date = $('#Date').val();
    $('#assignToId').val($('#assignToSelect option:selected').val());
    if ($('#assignToId').val() === "" || $('#assignToId').val() === "null") {
        $('#Assign').css('margin-bottom', 0);
        if ($('#Assign').next('.invalid-alert').length < 1) {
            $('<label class="invalid-alert">Please select rmo to proceed.</label>').insertAfter('#Assign');
        }
    }
    else {
        $('#Assign').next('.invalid-alert').remove();
        var r = $('#Assign tbody tr').length + 1;
        var row = "";
        var a = $('#assignToSelect option:selected').text();
        $('#Assign tbody')[0].innerHTML = '';
        row += '<tr>' +
            '<td width="96">' + a + '</td>' +
            '<td>' + "@DateTime.Now.ToString("dd MMM yyyy")" + '</td> ' +
            '<td width="20" data-value="" style="text-align:center;"><a class="delete" title="Delete" onclick="remove(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>'
        '</tr>';

        $('#Assign').append(row);
    }
}

function remove(e) {
    $('#assignToIdSelect option:selected').val('');
    $('#assignToId').removeAttr('value');
    $(e).parent().parent().remove();
    var r = $('#Assign tbody tr').length + 1;
    var row = "";
    $('#Assign tbody')[0].innerHTML = '';
    row += '<tr>' +
        '<td colspan="2"><select id="assignToSelect" class="form-control" title="Select Risk Management Officer" @if (position.UserPositionId != "A4C2EBBE-9391-44AF-BD49-572BBC9EB22E") { @disabled } > @if (position.UserPositionId == "A4C2EBBE-9391-44AF-BD49-572BBC9EB22E") { foreach (var u in Model.User) {<option value="@u.UserId">@u.Name</option>}} </select></td>' +
        '<td style="text-align:center; vertical-align:middle" width="20"><a onclick="add()" class="btn btn-xs btn-info">Add</a></td>'
    '</tr>';

    $('#Assign').append(row);
}
</script>