﻿@using CP.Models
@model RequestServicesViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Services";
    var cu = Model.CurrentUser;
    var rs = Model.RequestServices;
    var pd = Model.PackageServicesType;
    var sops = Model.Sops;
    var sopsRequest = Model.SopRequests;
    var c = "checked";
    var d = "disabled";
}

<script src="~/Scripts/LeadRequestServices.js"></script>
<script>
    $(function () {
        init();
    });
</script>

<style>
    .content .form-control {
        font-size: 11px;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }

    .grayout {
        opacity: 0.6; /* Real browsers */
        filter: alpha(opacity = 60); /* MSIE */
        cursor: not-allowed;
    }
</style>

<div class="col-lg-offset-1 col-lg-10">
    <div>
        <h3 class="h3-page-header">
            Services
        </h3>
    </div>
    <div class="col-lg-12 bg-white" style="padding:0">
        <div class="bs-component" style="font-size:11px;">
            @{
                var caccess = cu.Find(x => x.Keyword == "Case");
                if (caccess != null && caccess.IsRead && caccess.IsUpdate)
                {
                    <input type="hidden" value="@Model.RequestId" id="RequestId" />
                    <input type="hidden" value="@Model.ProfileId" id="ProfileId" />
                    if (Model.IsSubscriber)
                    {
                        <input type="hidden" value="@Model.Subscriber.SubscriptionId" id="SubscriptionId" />
                    }
                    <table class="table table-column-8 table-bordered">
                        <tbody>
                            <tr style="color:black" class="thisRow">
                                <td>
                                    <label class="font-weight-bold" style="color:black">SOP Services<span style="color:red">*</span></label>
                                </td>
                                <td>
                                    <table class="table table-bordered sub-table thisTable" style="margin-bottom:0px">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    Service Name
                                                </td>
                                                <td>
                                                    Status
                                                </td>
                                            </tr>
                                            @foreach (var s in sops)
                                            {
                                                <tr>
                                                    <td>
                                                        @if (rs.Count > 0)
                                                        {
                                                            var r = rs.Find(x => x.SopId == s.SopId && x.Type == "Sop");

                                                            if (r != null)
                                                            {
                                                                var selectedSops = sopsRequest.Find(x => x.SopId == s.SopId);

                                                                if (selectedSops != null)
                                                                {
                                                                    if (selectedSops.Status == 1 || selectedSops.Status == 2)
                                                                    {
                                                                        <input type="checkbox" disabled class="thisCb" name="packages_sop_type" @{ if (r.Active) { @c  } } data-requestservicesid="@r.RequestServicesId" data-type="Sop" value="@s.SopId" id="@s.SopId"> <label for="@s.SopId">@s.Name</label>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <input type="checkbox" class="thisCb" name="packages_sop_type" @{ if (r.Active) { @c  } } data-requestservicesid="@r.RequestServicesId" data-type="Sop" value="@s.SopId" id="@s.SopId"> <label for="@s.SopId">@s.Name</label>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" class="thisCb" name="packages_sop_type" data-type="Sop" value="@s.SopId" id="@s.SopId"> <label for="@s.SopId">@s.Name</label>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" class="thisCb" name="packages_sop_type" data-type="Sop" value="@s.SopId" id="@s.SopId"> <label for="@s.SopId">@s.Name</label>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (rs.Count > 0)
                                                        {
                                                            var r = rs.Find(x => x.SopId == s.SopId && x.Type == "Sop");

                                                            if (r != null)
                                                            {
                                                                var selectedSops = sopsRequest.Find(x => x.SopId == r.SopId);
                                                                if (selectedSops != null)
                                                                {
                                                                    if (selectedSops.Status == 2)
                                                                    {
                                                                        <span>Completed</span>
                                                                    }
                                                                    else if (selectedSops.Status == 1)
                                                                    {
                                                                        <span>Started</span>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    if (r.Active)
                                                                    {
                                                                        <span>Pending</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span>-</span>
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <span>-</span>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <label class="font-weight-bold" style="color:black">Manual Services<span style="color:red">*</span></label>
                                </td>
                                <td colspan="5">
                                    <table class="table table-bordered sub-table thisTable" style="margin-bottom:0px">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    Service Name
                                                </td>
                                                <td>
                                                    Status
                                                </td>
                                            </tr>
                                            @foreach (var s in pd)
                                            {
                                                <tr>
                                                    <td>
                                                        @if (rs.Count > 0)
                                                        {
                                                            var r = rs.Find(x => x.ServiceTypeId == s.ServiceId && x.Type == "Service");

                                                            if (r != null)
                                                            {
                                                                <input type="checkbox" class="thisCb" name="packages_service_type" @{ if (r.Active) { @c  } } data-requestservicesid="@r.RequestServicesId" data-type="Service" value="@s.ServiceId" id="@s.ServiceId"> <label for="@s.ServiceId">@s.ServiceName</label>
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" class="thisCb" name="packages_service_type" data-type="Service" value="@s.ServiceId" id="@s.ServiceId"> <label for="@s.ServiceId">@s.ServiceName</label>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" class="thisCb" name="packages_service_type" data-type="Service" value="@s.ServiceId" id="@s.ServiceId"> <label for="@s.ServiceId">@s.ServiceName</label>
                                                        }
                                                    </td>
                                                    <td>-</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="width:100%;">
                        <div class="bottom-left-panel">
                            @*<label class="invalid-alert" style="display:block;">* is mandatory field.</label>*@
                        </div>
                        <div class="bottom-right-panel">
                            <button id="btnSave" class="btn btn-xs btn-success" data-state="Update">Save</button>
                            <button class="btn btn-xs btn-warning" onclick="clearInput()">Clear</button>
                            <a onclick="CloseThisTab()" class="btn btn-xs btn-default">Close</a>
                        </div>
                    </div>
                }
                else
                {
                    <h4 class="access-denied-page" style="color:black">
                        Access denied, you don&acute;t have permission to access this page.
                    </h4>
                }
            }
        </div>
    </div>
</div>