﻿@using CP.Models
@model ConfigViewModel

@{
    Layout = "../Shared/_Layout.cshtml";
    string Module = Model.Module;
    var sops = Model.Sops;
}

<link href="~/Content/setting.css" rel="stylesheet" type="text/css" />

<style>
    .fixed-width {
        width: 175px !important;
    }
    .btn-group-vertical {
        width: 100%;
    }
</style>

<script>
    $(function () {
        var module = "@Module";
        var first = "DocType";

        if (module != "") {
            first = module;
        }

        var url = '@Url.Action("LoadConfigurationPage", "Confirguration")';
        $('.btn-sidenav').click(function () {
            $("#right-panel").load(url + "?module=_" + this.id);
        });
        $("#right-panel").load(url + "?module=_" + first);
    });
</script>

<div class="bs-docs-section clearfix body-container" style="margin-top:10px;">
    <div class="left-panel fixed-width">
        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <a id="DocType" class="text-left btn btn-sm btn-sidenav active btn-info">
                @*<span class="glyphicon glyphicon-hdd">&nbsp;</span>*@
                Doc Type
            </a>
            <a class="btn btn-info collapsed" style="text-align:left; font-size:13px;" data-toggle="collapse" href="#access" role="button" aria-expanded="false" aria-controls="collapseExample">
                Access
            </a>
            <div class="collapse" id="access" aria-expanded="false" style="height: 0px;">
                <a id="Group" class="text-right btn btn-sm btn-sidenav btn-info collapsed-btn" style="text-align:right;font-size:11px">
                    Group
                </a>
                <a id="User" class="text-right btn btn-sm btn-sidenav btn-info collapsed-btn" style="text-align:right;font-size:11px">
                    ID
                </a>
            </div>
            @*<a class="btn btn-info collapsed" style="text-align:left; font-size:13px;" data-toggle="collapse" href="#sops" role="button" aria-expanded="false" aria-controls="collapseExample">
                SOP
            </a>
            <div class="collapse" id="sops" aria-expanded="false" style="height: 0px;">
                @foreach (var s in sops)
                {
                    <a id="@s.Name.TrimEnd().Replace(" ","")" class="text-right btn btn-sm btn-sidenav btn-info collapsed-btn" style="text-align:right;font-size:11px">
                        @s.Name
                    </a>
                }
            </div>*@
            <a class="btn btn-info collapsed" style="text-align:left; font-size:13px;" data-toggle="collapse" href="#packages_list" role="button" aria-expanded="false" aria-controls="collapseExample">
                Packages
            </a>
            <div class="collapse" id="packages_list" aria-expanded="false" style="height: 0px;">
                <a id="Packages" class="text-right btn btn-sm btn-sidenav btn-info collapsed-btn" style="text-align:right;font-size:11px">
                    Package
                </a>
                <a id="PackageServicesType" class="text-right btn btn-sm btn-sidenav btn-info collapsed-btn" style="text-align:right;font-size:11px">
                    Package Services
                </a>
                <a id="PackageServicesConditionType" class="text-right btn btn-sm btn-sidenav btn-info collapsed-btn" style="text-align:right;font-size:11px">
                    Package Services Condition Type
                </a>
            </div>
            <a class="btn btn-info collapsed" style="text-align:left; font-size:13px;" data-toggle="collapse" href="#packages_list" role="button" aria-expanded="false" aria-controls="collapseExample">
                Packages
            </a>
            <div class="collapse" id="packages_list" aria-expanded="false" style="height: 0px;">
                <a id="Packages" class="text-right btn btn-sm btn-sidenav btn-info collapsed-btn" style="text-align:right;font-size:11px">
                    Package
                </a>
                <a id="PackageServices" class="text-right btn btn-sm btn-sidenav btn-info collapsed-btn" style="text-align:right;font-size:11px">
                    Package Services
                </a>
                <a id="PackageServicesConditionType" class="text-right btn btn-sm btn-sidenav btn-info collapsed-btn" style="text-align:right;font-size:11px">
                    Package Services Condition Type
                </a>
            </div>
        </div>
    </div>
    <div class="right-panel" id="right-panel">
        @RenderBody()
    </div>
</div>
