﻿@{
    ViewBag.Title = "Appointment Management";
}

@using CP.Models
@model AppointmentViewModel

@{
    var p = Model.Position;
    var cu = Model.CurrentUser;
}

<style>
    .blue-title {
        margin-bottom: 0px;
        color: #225fef;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }

    .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

        .btn-default:focus,
        .btn-default.focus {
            color: #333;
            background-color: #e6e6e6;
            border-color: #8c8c8c;
        }

        .btn-default:hover {
            color: #333;
            background-color: #e6e6e6;
            border-color: #adadad;
        }
</style>

@{
    var canaccess = cu.Find(x => x.Keyword == "Case");
    if (canaccess != null && canaccess.IsRead)
    {
        <div class="row body-container" style="margin-top:-10px;">
            <div class="bs-component" style="font-size:11px; margin-top: 10px;">
                <div class="row col-lg-offset-1" style="margin-top:10px; margin-left:17px; width:88%">
                    <div style="margin-top:-35px;">
                    </div>
                    @*<div>
                            <table>
                                <thead>
                                    <tr>
                                        <th width="5.6%"></th>
                                        <th width="1%"></th>
                                        <th width="1%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input id="inptSearch" type="text" class="form-control" placeholder="Search">
                                        </td>
                                        <td style="padding-left:5px;">
                                            <select id="sortBy" class="form-control">
                                                <option value="0" selected="" disabled="">Sort By</option>
                                                <option value="name">Name</option>
                                                <option value="createddate">Created Date</option>
                                            </select>
                                        </td>
                                        <td style="padding-left:5px;">
                                            <span id="btnOrder" data-state="asc" class="btn btn-xs btn-default glyphicon glyphicon-triangle-bottom btn-order" style="height:27.5px; margin-top:-1.5px; padding-top:4px;"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>*@


                    @if (Model.Appointments != null)
                    {
                        <table id="tblAppointmentList" class="table sub-sub-table table-bordered" style="margin-bottom:20px; width:100%;">
                            <thead>
                                <tr class="cpBG fontWhite font-weight-bold">
                                    <td></td>
                                    <td style="vertical-align:middle">
                                        Reference No.
                                    </td>
                                    <td style="vertical-align:middle">
                                        Status
                                    </td>
                                    <td style="vertical-align:middle">
                                        Appointment Type
                                    </td>
                                    <td style="vertical-align:middle">
                                        Subject
                                    </td>
                                    <td style="vertical-align:middle">
                                        Date
                                    </td>
                                    <td style="vertical-align:middle">
                                        Venue
                                    </td>
                                    <td style="vertical-align:middle">
                                        Created Date
                                    </td>
                                    <td class="center-text" style="vertical-align:middle">
                                        Action
                                    </td>
                                </tr>

                                <tr class="search">
                                    <td style="vertical-align:middle" class="center-text" width="1%">
                                        <input type="checkbox" style="margin:0px" />
                                    </td>
                                    <td class="input-filter">
                                        <input type="text" class="form-control" placeholder="App-XXX" />
                                    </td>
                                    <td class="input-filter">
                                        <select class="form-control" id="selectStatus">
                                            <option value="All">ALL</option>
                                            @if (p == "7D68595F-726A-4D9F-8BF2-42DA814901C5" || p == "E207490E-1A8C-405D-B415-B100ADB0D04F")
                                            {
                                                <option value="Case (3rd Appt Set)">Case (3rd Appt Set)</option>
                                                <option value="Case (3rd Appt Complete)">Case (3rd Appt Complete)</option>
                                                <option value="Case (4th Appt Set)">Case (4th Appt Set)</option>
                                                <option value="Case (4th Appt Complete)">Case (4th Appt Complete)</option>
                                            }
                                            else if (p == "2788371D-8EC5-4ABE-A189-2A3B8562CAF1" || p == "011C9D8F-A82A-4BE3-9F30-4C2CEDE0D487")
                                            {
                                                <option value="Lead (Appt Set)">Lead (Appt Set)</option>
                                                <option value="Lead (Appt Complete)">Lead (Appt Complete)</option>
                                                <option value="Case (2nd Appt Set)">Case (2nd Appt Set)</option>
                                                <option value="Case (2nd Appt Complete)">Case (2nd Appt Complete)</option>
                                            }

                                        </select>
                                        <input type="hidden" class="form-control" placeholder="Status" id="status" />
                                    </td>
                                    <td class="input-filter">
                                        <select class="form-control" id="selectAppointment">
                                            <option value="All">ALL</option>
                                            @foreach (var a in Model.AppointmentTypes)
                                            {
                                                <option value="@a.Name">@a.Name</option>
                                            }
                                        </select>
                                        <input type="hidden" class="form-control" placeholder="Appointment Type" id="appointmentType" />
                                    </td>
                                    <td class="input-filter">
                                        <input type="text" class="form-control" placeholder="Subject" />
                                    </td>
                                    <td class="input-filter">
                                        <input type="text" class="form-control datepicker" placeholder="Date" />
                                    </td>
                                    <td class="input-filter">
                                        <input type="text" class="form-control" placeholder="Venue" />
                                    </td>
                                    <td class="input-filter">
                                        <input type="text" class="form-control datepicker" placeholder="Created Date" />
                                    </td>
                                    <td class="center-text" width="5%">
                                        <button class="btn btn-xs btn-warning" id="btnClear">Clear</button>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var r in Model.Appointments)
                                {
                                    <tr>
                                        <td style="vertical-align:middle" class="center-text">
                                            <input type="checkbox" style="margin:0px" />
                                        </td>
                                        <td style="vertical-align:middle">
                                            <div class="ellipsis">
                                                @if (canaccess.IsUpdate)
                                                {
                                                    <a id="name" href="~/Appointment/EditAppointment?appointmentId=@r.AppointmentId">App-@r.id</a>
                                                }
                                                else
                                                {
                                                    <a id="name" href="~/Appointment/EditAppointmentPreview?appointmentId=@r.AppointmentId">App-@r.id</a>
                                                }
                                            </div>
                                        </td>
                                        <td style="vertical-align:middle">
                                            @r.Status
                                        </td>
                                        <td style="vertical-align:middle">
                                            @{
                                                var at = Model.AppointmentTypes.Find(x => x.AppointmentTypeId == r.AppointmentType);
                                                if (at != null)
                                                {
                                                    @at.Name
                                                }
                                            }
                                        </td>
                                        <td style="vertical-align:middle">
                                            @r.Subject
                                        </td>
                                        <td style="vertical-align:middle">
                                            @{ var d2 = r.Date?.ToString("dd MMM yyyy"); }
                                            @d2
                                        </td>
                                        <td style="vertical-align:middle">
                                            @r.Venue
                                        </td>
                                        <td style="vertical-align:middle">
                                            @r.CreatedDate.ToString("dd MMM yyyy HH:mm:ss")
                                        </td>
                                        <td class="text-center">
                                            @if (canaccess.IsUpdate)
                                            {
                                                <a href="~/Appointment/EditAppointment?requestId=@r.RequestId" class="btn btn-xs edit" title="Edit" style="padding:1px 1px;"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                            }

                                            @if (canaccess.IsDelete)
                                            {
                                                <a data-value="@r.AppointmentId" class="btn btn-xs delete" title="Delete" onclick="deleteAppointment(this)" style="padding:1px 1px;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a><br>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

                </div>
            </div>
        </div>
    }
    else
    {
        <h4 class="access-denied-page" style="color:black">
            Access denied, you don&acute;t have permission to access this page.
        </h4>
    }
}


<script>
    $(function () {
        $('.datepicker').datepicker({
            format: 'dd M yyyy'
        })
    });

    $(document).ready(function () {
        
        $('#selectStatus').on('change', function () {
            $('#status').val(this.value);
            if (this.value == "All") {
                $('#status').val('');
            }
            $('#status').change();
        });

        $('#selectAppointment').on('change', function () {
            $('#appointmentType').val(this.value);
            if (this.value == "All") {
                $('#appointmentType').val('');
            }
            $('#appointmentType').change();
        });

        $('#appointment').parent().addClass('active');
        $('#close').parent().removeClass('active');
        $('#lead').parent().removeClass('active');
        $('#case').parent().removeClass('active');

        $.fn.dataTable.moment('DD MMM YYYY');
        $.fn.dataTable.moment('DD MMM YYYY HH:mm:ss');
        // DataTable
        var table = $('#tblAppointmentList').DataTable({
            "pageLength": 25,
            "order": [[5, "desc"]],
            "dom": '<<"floatRight"p><t>>',
            "bSortCellsTop": true,
            "paging": true,
            "columnDefs": [
                { targets: 1, type: 'natural-nohtml' },
                { "orderable": false, "targets": 0 },
                { "orderable": false, "targets": 8 },
            ]
        });

        $.each($('.input-filter', table.table().header()), function () {
            var column = table.column($(this).index());

            $('input', this).on('keyup change', function () {
                if (column.search() !== this.value) {
                    column
                        .search(this.value)
                        .draw();
                }
            });
        });

        $('#btnClear').click(function () {
            $.each($('.input-filter', table.table().header()), function () {
                table.search('').draw();
                $('input', this).val('');
                $('input', this).change();
            });
        });

    });

    function deleteAppointment(e) {
    if (confirm("Please click OK to confirm delete.")) {
        $.ajax({
            url: window.location.origin + "/Appointment/DeleteAppointment",
            data: { "appointmentId": $(e).data('value') },
            cache: false,
            type: "POST",
            dataType: "html",
            success: function (data, textStatus, XMLHttpRequest) {
                var d = JSON.parse(data);
                if (d.Error === null) {
                    showToast(d.Message, "success");
                    $(e).parent().parent().remove();
                }
                else {
                    showToast(d.Error, "error");
                }
            }
        });
    }
}

</script>