﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create Appointment";
}

@using CP.Models
@model AppointmentViewModel

@{
    var requestId = Model.RequestId;
    var request = Model.Request;
    var position = Model.UserPosition.Name;
    var userId = Model.UserId;
    var name = Model.UserName;
    var appointmentType = Model.AppointmentTypes;
    var commentRemark = Model.CommentRemarks;
    var users = Model.Users;
    var auditTrails = Model.AuditTrails;
    var cu = Model.CurrentUser;
    var ap = Model.AppointmentType;
}
<script src="~/Scripts/Appointment.js"></script>

<script>
    $(function () {
        init();
    });
</script>

<style>
    .content .form-control {
        font-size: 11px;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }

    .btn-info {
        background-color: #5bc0de;
    }
</style>

@{
    var canaccess = cu.Find(x => x.Keyword == "Case");

    if (canaccess != null && canaccess.IsCreate)
    {
        <div class="row body-container" style="margin-top:20px;">
            <div class="bs-component" style="font-size:11px;">
                <div class="row col-lg-offset-1">
                    <h3 style="margin-top: 0px;">
                        Appointment
                        <select class="form-control" style="float:right; width:12.85%; margin-bottom:10px; margin-right:11.4%;" id="choice">
                            <option value="Lead Appointment">Lead Appointment</option>
                        </select>
                    </h3>
                </div>
                <div class="col-lg-offset-1 col-lg-2">
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2" class="background-color cpBG fontWhite">User</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="background-color" style="width:43%">
                                        Name:
                                    </td>
                                    <td>
                                        @users.Find(x => x.UserId == userId).Fullname
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        Position:
                                    </td>
                                    <td>
                                        @position
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        Request Date:
                                    </td>
                                    <td>
                                        @DateTime.Now.ToString("dd MMM yyyy HH:mm:ss")
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="row1">
                    <div class="col-lg-8">
                        <!---Requester-->
                        <table class="table table-bordered table-col-4" style="width:100%">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="6">Appointment Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="background-color alignRight" width="160" style="vertical-align:middle">
                                        Status :
                                    </td>
                                    <td style="width:16.5em; vertical-align:middle">
                                        <label id="lblStatus">New</label>
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle" colspan="2">
                                        Appointment Type :
                                    </td>
                                    <td colspan="2">
                                        @ap.Name
                                        <input type="hidden" class="form-control" id="AppointmentType" hidden value="@ap.AppointmentTypeId">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color alignRight" style="vertical-align:middle" width="160">
                                        Subject :<span class="red">*</span>
                                    </td>
                                    <td colspan="5">
                                        <input class="form-control" id="Subject" type="text" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color alignRight" style="vertical-align:middle" width="160">
                                        Description :<span class="red">*</span>
                                    </td>
                                    <td colspan="5">
                                        <textarea class="form-control" id="Description" rows="3"></textarea>
                                    </td>
                                </tr>
                                <tr id="datepairExample">
                                    <td class="background-color alignRight" style="vertical-align:middle" width="160">
                                        Start Date :<span class="red">*</span>
                                    </td>
                                    <td style="width:17.5em">
                                        <input class="form-control date start" id="Date" type="text" />
                                    </td>
                                    <td class="background-color alignRight" style="width:9.15em">
                                        <input class="form-control time start" id="StartTime" type="text" />
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.5em">
                                        End Date :<span class="red">*</span>
                                    </td>
                                    <td style="width:16.5em">
                                        <input class="form-control date end" id="EndDate" type="text" />
                                    </td>
                                    <td class="background-color alignRight" style="width:9.15em">
                                        <input class="form-control time end" id="EndTime" type="text" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alignRight" style="vertical-align:middle;" width="160">
                                        Venue :<span class="red">*</span>
                                    </td>
                                    <td colspan="3">
                                        <input class="form-control" id="Venue" type="text" />
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle;">
                                        All Day :
                                    </td>
                                    <td style="vertical-align:middle">
                                        <div class="row" style="margin-left:-8px; text-align:center;">
                                            <label>
                                                <input type="radio" value="true" name="isAllDayRb" class="IsAllDay" id="b1" style="margin-right:2px;">
                                                Yes
                                            </label>
                                            &nbsp;
                                            <label>
                                                <input type="radio" value="false" name="isAllDayRb" class="IsAllDay" id="b2" style="margin-right:2px;" checked>
                                                No &nbsp;
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="160" class="background-color alignRight" style="vertical-align:middle">
                                        Attachments :
                                    </td>
                                    <td colspan="5">
                                        <table class="table table-bordered sub-table" id="inptRequesterfile" style="margin-bottom:0px">
                                            <thead>
                                                <tr>
                                                    <th style="width:42.60%">
                                                        File Name
                                                    </th>
                                                    <th style="width:15.7%">
                                                        File Size
                                                    </th>
                                                    <th>
                                                        Uploaded Date
                                                    </th>
                                                    <th style="width: 7%; text-align:center;">
                                                        Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="3">
                                                        <input id="fileSelectRequester" type="file" class="form-control" style="width: 100%;display: inline-block; padding-top:2px;">
                                                    </td>
                                                    <td colspan="1" style="vertical-align:middle">
                                                        <button class="btn btn-xs btn-info" onclick="uploadDoc('C56ADBB5-2520-483B-BA80-1DA8CE61E461')">Upload</button>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-col-4" style="margin-top:10px">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="3">Comment/Remark</th>
                                </tr>
                            </thead>
                            <tr>
                                <td colspan="3">
                                    <table class="table table-bordered sub-table" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th width="20.9%">
                                                    Date/Time
                                                </th>
                                                <th width="22.5%">
                                                    User Name
                                                </th>
                                                <th>
                                                    Comment/Remark
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (commentRemark.Count != 0)
                                            {
                                                foreach (var cc in commentRemark)
                                                {
                                                    var u = users.Find(x => x.UserId == cc.CreatedBy);
                                                    <tr>
                                                        <td>
                                                            @cc.CreatedAt.ToString("dd MMM yyyy HH:mm:ss")
                                                        </td>
                                                        <td>@u.Fullname</td>
                                                        <td>
                                                            @cc.Comment
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3">
                                                    <textarea id="comment" rows="3" style="width:100%;"></textarea>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <!---Pex Team-->
                        <!-- Action Button -->
                        <div class="right-text" style="float:right; padding-bottom:10px">
                            <button id="btnSave" type="button" class="btn btn-xs btn-success">Submit</button>
                            <a href="/Case/Choice?module=Appointment" class="btn btn-xs btn-default">Close</a>
                        </div>

                        <table class="table table-bordered table-col-4" style="margin-top:10px">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="4">Audit Trail</th>
                                </tr>
                            </thead>
                            <tr>
                                <td colspan="4">
                                    <table class="table table-bordered sub-table" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th width="20.9%">
                                                    Date/Time
                                                </th>
                                                <th width="22.5%">
                                                    User
                                                </th>
                                                <th width="23.9%">
                                                    Action
                                                </th>
                                                <th>
                                                    Comment
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (auditTrails != null)
                                            {
                                                foreach (var a in auditTrails)
                                                {
                                                    var u = users.Find(x => x.UserId == a.UserId);
                                                    <tr>
                                                        <td>
                                                            @a.Date.ToString("dd MMM yyyy HH:mm:ss")
                                                        </td>
                                                        <td>
                                                            @u.Fullname
                                                        </td>
                                                        <td>
                                                            @a.Action
                                                        </td>
                                                        <td>
                                                            @a.Comment
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h4 class="access-denied-page" style="color:black">
            Access denied, you don&acute;t have permission to access this page.
        </h4>
    }
}

<br />

<input type="hidden" value="CreateNewAppointment" id="page" />
<input type="hidden" id="AppointmentId" value="null" />
<input type="hidden" id="RequestId" value="@request.RequestId" />
<input type="hidden" id="ProfileId" value="@request.ProfileId" />
<input type="hidden" id="AddressId" value="@request.AddressId" />
<input type="hidden" id="PersonId" value="@request.PersonId" />
<input type="hidden" id="LeadId" value="@request.LeadId" />
<input type="hidden" id="CommentRemarkId" value="null" />

<link href="~/Content/jquery.timepicker.css" rel="stylesheet" type="text/css" />
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.structure.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.datepicker.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/Scripts/jquery-ui.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.timepicker.min.js"></script>
<script type="text/javascript" src="~/Scripts/Datepair.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.datepair.js"></script>
<script>
    // initialize input widgets first
    $('#datepairExample .time').timepicker({
        'showDuration': true,
        'timeFormat': 'g:ia'
    });

    $('#datepairExample .date').datepicker({
        'dateFormat': 'dd M yy',
        'autoclose': true,
        'minDate': 0
    });

    $('#datepairExample').datepair({
        parseDate: function (input) {
            return $(input).datepicker('getDate');
        },
        updateDate: function (input, dateObj) {
            $(input).datepicker('setDate', dateObj);
            console.log(input);
        }
    });


    $('input[name=isAllDayRb]').change(function () {
        if ($(this).val() != "true") {
            $('.time').removeAttr('disabled');
        }
        else {
            $('.time').attr('disabled', 'true');
        }
    })
</script>