﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit Appointment";
}

@using CP.Models
@model AppointmentViewModel

@{
    var requestId = Model.RequestId;
    var request = Model.Request;
    var appointment = Model.Appointment;
    var documents = Model.Documents;
    var cr = Model.CommentRemarks;
    var users = Model.Users;
    var positions = Model.UserPositions;
    var owner = Model.Users.Find(x => x.UserId == appointment.CreatedBy);
    var appointmentType = Model.AppointmentTypes;
    var c = "checked";
    var cu = Model.CurrentUser;
    var auditTrails = Model.AuditTrails;
}
<script src="~/Scripts/Appointment.js"></script>

<script>
    $(function () {
        init();
    });
</script>

<style>
    .content .form-control {
        font-size: 11px;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }

    .btn-info {
        background-color: #5bc0de;
    }
</style>

@{
    var canaccess = cu.Find(x => x.Keyword == "Case");

    if (canaccess != null && canaccess.IsUpdate)
    {
        <div class="row body-container" style="margin-top:20px;">
            <div class="bs-component" style="font-size:11px;">
                <div class="row col-lg-offset-1">
                    <h3 style="margin-top: 0px;">
                        Appointment
                        <select class="form-control" style="float:right; width:12.85%; margin-bottom:10px; margin-right:11.4%;" id="choice">
                            <option value="Lead Appointment">Lead Appointment</option>
                        </select>
                    </h3>
                </div>
                <div class="col-lg-offset-1 col-lg-2">
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2" class="background-color cpBG fontWhite">User</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="background-color" style="width:43%">
                                        Name:
                                    </td>
                                    <td>
                                        @owner.Fullname
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        Position:
                                    </td>
                                    <td>
                                        @{
                                            var op = positions.Find(x => x.UserPositionId == owner.Position).Name;
                                            @op
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        Request Date:
                                    </td>
                                    <td>
                                        @appointment.CreatedDate.ToString("dd MMM yyyy HH:mm:ss")
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="row1">
                    <div class="col-lg-8">
                        <!---Requester-->
                        <table class="table table-bordered table-col-4">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="6">Appointment Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="background-color alignRight" width="160" style="vertical-align:middle">
                                        Status :
                                    </td>
                                    <td style="width:16.5em; vertical-align:middle">
                                        <label id="lblStatus">@appointment.Status</label>
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle" colspan="2">
                                        Appointment Type :
                                    </td>
                                    <td colspan="2">
                                        @foreach (var at in appointmentType)
                                        {
                                            if (appointment.AppointmentType == at.AppointmentTypeId)
                                            {
                                                @at.Name
                                                <input type="hidden" value="@at.AppointmentTypeId" class="form-control" id="AppointmentType">
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color alignRight" style="vertical-align:middle">
                                        Subject :<span class="red">*</span>
                                    </td>
                                    <td colspan="5">
                                        <input class="form-control" id="Subject" type="text" value="@appointment.Subject" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color alignRight" style="vertical-align:middle">
                                        Description :<span class="red">*</span>
                                    </td>
                                    <td colspan="5">
                                        <textarea class="form-control" id="Description" rows="3">@appointment.Description</textarea>
                                    </td>
                                </tr>
                                <tr id="datepairExample">
                                    <td class="background-color alignRight" style="vertical-align:middle" width="160">
                                        Start Date :<span class="red">*</span>
                                    </td>
                                    <td style="width:17.5em">
                                        @{ var d = appointment.Date?.ToString("dd MMM yyyy"); }
                                        <input class="form-control date start" value="@d" id="Date" type="text" />
                                    </td>
                                    <td class="background-color alignRight" style="width:9.15em">
                                        @{ var t = appointment.Date?.ToString("h mm tt"); }
                                        <input class="form-control time start" value="@t" id="StartTime" type="text" />
                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.5em">
                                        End Date :<span class="red">*</span>
                                    </td>
                                    <td style="width:16.5em">
                                        @{ var d2 = appointment.EndDate?.ToString("dd MMM yyyy"); }
                                        <input class="form-control date end" value="@d2" id="EndDate" type="text" />
                                    </td>
                                    <td class="background-color alignRight" style="width:9.15em">
                                        @{ var t2 = appointment.EndDate?.ToString("h mm tt"); }
                                        <input class="form-control time end" value="@t2" id="EndTime" type="text" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alignRight" style="vertical-align:middle;">
                                        Venue :<span class="red">*</span>
                                    </td>
                                    <td colspan="3">
                                        <input class="form-control" value="@appointment.Venue" id="Venue" type="text" />
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle;" width="100">
                                        All Day :
                                    </td>
                                    <td style="vertical-align:middle">
                                        <div class="row" style="margin-left:-8px; text-align:center;">
                                            <label>
                                                <input type="radio" value="true" name="isAllDayRb" class="IsAllDay" id="b1" style="margin-right:2px;" @if (appointment.IsAllDay) { @c }>
                                                Yes
                                            </label>
                                            &nbsp;
                                            <label>
                                                <input type="radio" value="false" name="isAllDayRb" class="IsAllDay" id="b2" style="margin-right:2px;" @if (!appointment.IsAllDay) { @c }>
                                                No
                                            </label>
                                            &nbsp;
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="160" class="background-color alignRight" style="vertical-align:middle">
                                        Attachments :
                                    </td>
                                    <td colspan="5">
                                        <table class="table table-bordered sub-table" id="inptRequesterfile" style="margin-bottom:0px">
                                            <thead>
                                                <tr>
                                                    <th style="width:42.60%">
                                                        File Name
                                                    </th>
                                                    <th style="width:15.7%">
                                                        File Size
                                                    </th>
                                                    <th>
                                                        Uploaded Date
                                                    </th>
                                                    <th style="width: 7%; text-align:center;">
                                                        Action
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (documents.Count != 0)
                                                {
                                                    foreach (var dc in documents)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <a href="/@dc.Path@dc.FileName" target="_blank">@dc.FileName</a>
                                                            </td>
                                                            <td class="alignRight">
                                                                @dc.Size
                                                            </td>
                                                            <td>
                                                                @dc.CreatedDate.ToString("dd MMM yyyy")
                                                            </td>
                                                            <td style="text-align:center;">
                                                                <a class="delete" data-value="@dc.DocumentId" title="Delete" onclick="removeAttachment(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="3">
                                                        <input id="fileSelectRequester" type="file" class="form-control" style="width: 100%;display: inline-block;padding-top:2px;">
                                                    </td>
                                                    <td colspan="1" style="vertical-align:middle">
                                                        <button class="btn btn-xs btn-info" onclick="uploadDoc('C56ADBB5-2520-483B-BA80-1DA8CE61E461')">Upload</button>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-col-4" style="margin-top:10px">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="3">Comment/Remark</th>
                                </tr>
                            </thead>
                            <tr>
                                <td colspan="3">
                                    <table class="table table-bordered sub-table" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th width="20.9%">
                                                    Date/Time
                                                </th>
                                                <th width="22.5%">
                                                    User Name
                                                </th>
                                                <th>
                                                    Comment/Remark
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (cr.Count != 0)
                                            {
                                                foreach (var cc in cr)
                                                {
                                                    var u = users.Find(x => x.UserId == cc.CreatedBy);
                                                    <tr>
                                                        <td>
                                                            @cc.CreatedAt.ToString("dd MMM yyyy HH:mm:ss")
                                                        </td>
                                                        <td>@u.Fullname</td>
                                                        <td>
                                                            @cc.Comment
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3">
                                                    <textarea id="comment" rows="3" style="width:100%;"></textarea>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </td>
                            </tr>
                        </table>

                        <!---Pex Team-->
                        <!-- Action Button -->
                        <div class="right-text" style="float:right; padding-bottom:10px">
                            <button id="btnSave" type="button" class="btn btn-xs btn-success">Save</button>
                            @if (!string.IsNullOrEmpty(Model.Page))
                            {
                                <a onclick="closeThisTab()" class="btn btn-xs btn-default">Close</a>
                            }
                            else
                            {
                                <a href="/Case/Choice?module=Appointment" class="btn btn-xs btn-default">Close</a>
                            }
                        </div>

                        <table class="table table-bordered table-col-4" style="margin-top:10px">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="4">Audit Trail</th>
                                </tr>
                            </thead>
                            <tr>
                                <td colspan="4">
                                    <table class="table table-bordered sub-table" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th width="20.9%">
                                                    Date/Time
                                                </th>
                                                <th width="22.5%">
                                                    User
                                                </th>
                                                <th width="23.9%">
                                                    Action
                                                </th>
                                                <th>
                                                    Comment
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (auditTrails != null)
                                            {
                                                foreach (var a in auditTrails)
                                                {
                                                    var u = users.Find(x => x.UserId == a.UserId);
                                                    <tr>
                                                        <td>
                                                            @a.Date.ToString("dd MMM yyyy HH:mm:ss")
                                                        </td>
                                                        <td>
                                                            @u.Fullname
                                                        </td>
                                                        <td>
                                                            @a.Action
                                                        </td>
                                                        <td>
                                                            @a.Comment
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h4 class="access-denied-page" style="color:black">
            Access denied, you don&acute;t have permission to access this page.
        </h4>
    }
}

<br />

<input type="hidden" value="UpdateAppointment" id="page" />
<input type="hidden" id="AppointmentId" value="@appointment.AppointmentId" />
<input type="hidden" id="RequestId" value="@request.RequestId" />
<input type="hidden" id="ProfileId" value="@request.ProfileId" />
<input type="hidden" id="AddressId" value="@request.AddressId" />
<input type="hidden" id="PersonId" value="@request.PersonId" />
<input type="hidden" id="LeadId" value="@request.LeadId" />
<input type="hidden" id="CommentRemarkId" value="null" />

<link href="~/Content/jquery.timepicker.css" rel="stylesheet" type="text/css" />
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.structure.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.datepicker.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/Scripts/jquery-ui.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.timepicker.min.js"></script>
<script type="text/javascript" src="~/Scripts/Datepair.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.datepair.js"></script>
<script>
    // initialize input widgets first
    $('#datepairExample .time').timepicker({
        'showDuration': true,
        'timeFormat': 'g:ia'
    });

    $('#datepairExample .date').datepicker({
        'dateFormat': 'dd M yy',
        'autoclose': true,
        'minDate': 0
    });

    $('#datepairExample').datepair({
        parseDate: function (input) {
            return $(input).datepicker('getDate');
        },
        updateDate: function (input, dateObj) {
            $(input).datepicker('setDate', dateObj);
            console.log(input);
        }
    });


    $('input[name=isAllDayRb]').change(function () {
        if ($(this).val() != "true") {
            $('.time').removeAttr('disabled');
        }
        else {
            $('.time').attr('disabled', 'true');
        }
    })

    function closeThisTab() {
        close();
    }
</script>
@*<script>
        function uploadDoc(type) {
            if ($('#fileSelectRequester').val() !== "" || $('#fileSelectPex').val() !== "") {
                var formdata = new FormData(); //FormData object
                formdata.append("RequestId", $('#requestId').val());
                formdata.append("UploadBy", type);
                var fileInput;
                if (type === "requester") {
                    fileInput = document.getElementById('fileSelectRequester');
                }
                else {
                    formdata.append("ClassificationId", $('input[name="classification"]:checked').val());
                    fileInput = document.getElementById('fileSelectPex');
                }
                //Iterating through each files selected in fileInput
                for (var i = 0; i < fileInput.files.length; i++) {
                    //Appending each file to FormData object
                    //formdata.append("LastModifiedDate", formatDateTime(fileInput.files[i].lastModifiedDate));
                    formdata.append(fileInput.files[i].name, fileInput.files[i]);
                }

                //Creating an XMLHttpRequest and sending
                var xhr = new XMLHttpRequest();
                xhr.open('POST', window.location.origin + '/Appointment/AttachmentUpload');
                xhr.send(formdata);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var d = JSON.parse(xhr.response);

                        var r = $('#inptRequesterfile tbody tr').length + 1;
                        var row = "";
                        if (type === "requester") {
                            $('#inptRequesterfile tbody')[0].innerHTML = '';
                            row += '<tr>' +
                                    '<td>' + d + '</td>' +
                                    '<td>' + d + '</td> ' +
                                    '<td>' + d + '</td>' +
                                    '<td data-value="' + d + '" style="text-align:center;"><a class="delete" title="Delete" onclick="removeAttachment(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>'
                                '</tr>';
                            //for (var i = 0; i < d.length; i++) {
                            //    row += '<tr>' +
                            //        '<td>' + d + '</td>' +
                            //        '<td>' + d + '</td> ' +
                            //        '<td>' + d + '</td>' +
                            //        '<td>' + d + '</td> ' +
                            //        '<td data-value="' + d + '" style="text-align:center;"><a class="delete" title="Delete" onclick="removeAttachment(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>'
                            //    '</tr>';
                            //}

                            $('#inptRequesterfile').append(row);
                            $('#fileSelectRequester').val('');
                        }
                        else {
                            $('#inptPexfile tbody')[0].innerHTML = '';
                            for (i = 0; i < d.length; i++) {
                                row += '<tr>' +
                                    '<td>' + d[i].fileName + '</td>' +
                                    '<td>' + d[i].Size + '</td> ' +
                                    '<td>' + d[i].CreatedDate + '</td>' +
                                    '<td>' + d[i].Name.substring(d[i].Name.lastIndexOf('.')) + '</td> ' +
                                    '<td data-value="' + d[i].AttachmentId + '" style="text-align:center;"><a class="delete" title="Delete" onclick="removeAttachment(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>'
                                '</tr>';
                            }

                            $('#inptPexfile').append(row);
                            $('#fileSelectPex').val('');

                            if ($('#inptPexfile tbody tr').length > 0) {
                                $('#pexFileUpload').toggle();
                            }
                            else {
                                $('#pexFileUpload').toggle();
                            }
                        }
                    }
                };
            }
        }

    function removeAttachment(e) {
        $.ajax({
            url: window.location.origin + "/Appointment/DeleteAttachment",
            data: { "documentId": $(e).data('value') },
            cache: false,
            type: "POST",
            dataType: "html",
            success: function (data, textStatus, XMLHttpRequest) {
                var d = JSON.parse(data);
                if (d.Error === null) {
                    showToast(d.Message, "success");
                    $(e).parent().parent().remove();
                }
                else {
                    showToast(d.Error, "error");
                }
            }
        });
    }

            $('#btnSubmit').click(function () {
                var appointment = {
                    "AppointmentId": "@appointment.AppointmentId",
                    "AppointmentType": $("#AppointmentType").val(),
                    "Subject": $('#Subject').val(),
                    "Description": $('#Description').val(),
                    "Date": $('#Date').val(),
                    "Venue":$('#Venue').val()
                };

                var request = {
                    "RequestId":"@request.RequestId",
                    "ProfileId":"@request.ProfileId",
                    "AddressId":"@request.AddressId",
                    "PersonId":"@request.PersonId",
                    "CommentRemarkId":"@request.CommentRemarkId",
                    "DocumentId":"@request.DocumentId",
                    "LeadId":"@request.LeadId"
                }

                var requestId = {
                    "requestId": "@requestId"
                };

                var cr = {
                    "ProfileId":"@request.ProfileId",
                    "CommentRemarkId": "@commentRemark.CommentRemarkId",
                    "Comment": $('#comment').val()
                };

                $.ajax({
                    url: window.location.origin + "/Appointment/UpdateAppointment",
                    data: { "appointment": appointment, "request":request, "requestId":requestId, "cr":cr },
                    cache: false,
                    type: "POST",
                    dataType: "html",
                    success: function (data, textStatus, XMLHttpRequest) {
                        var d = JSON.parse(data);
                        if (d.Error === null) {
                            showToast(d.Message, "success");
                            if (d.RedirectUrl !== null) {
                                setTimeout(function () {
                                    window.location.href = window.location.origin + d.RedirectUrl;
                                }, 2000);
                            }
                        }
                        else {
                            showToast(d.Error, "error");
                        }
                    }
                });
            });
    </script>*@