﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Appointment Preview";
}

@using CP.Models
@model AppointmentViewModel

@{
    var requestId = Model.RequestId;
    var request = Model.Request;
    var appointment = Model.Appointment;
    var documents = Model.Documents;
    var cr = Model.CommentRemarks;
    var users = Model.Users;
    var positions = Model.UserPositions;
    var owner = Model.Users.Find(x => x.UserId == appointment.CreatedBy);
    var appointmentType = Model.AppointmentTypes;
    appointment.AppointmentType = appointmentType.Find(x => x.AppointmentTypeId == appointment.AppointmentType).Name;
    var cu = Model.CurrentUser;
    var auditTrails = Model.AuditTrails;
}

@{
    var canaccess = cu.Find(x => x.Keyword == "Case");
    if (canaccess != null && canaccess.IsRead)
    {
        <div class="row body-container" style="margin-top:20px;">
            <div class="bs-component" style="font-size:11px;">
                <div class="row col-lg-offset-1">
                    <h3 style="margin-top: 0px;">Appointment</h3>
                </div>
                <div class="col-lg-offset-1 col-lg-2">
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2" class="background-color cpBG fontWhite">User</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="background-color" style="width:43%">
                                        Name:
                                    </td>
                                    <td>
                                        @owner.Fullname
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        Position:
                                    </td>
                                    <td>
                                        @{
                                            var op = positions.Find(x => x.UserPositionId == owner.Position).Name;
                                            @op
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color">
                                        Request Date:
                                    </td>
                                    <td>
                                        @appointment.CreatedDate.ToString("dd MMM yyyy HH:mm:ss")
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="row1">
                    <div class="col-lg-8">
                        <!---Requester-->
                        <table class="table table-bordered table-col-4">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="6">Appointment Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="background-color alignRight" width="160">
                                        Status :
                                    </td>
                                    <td style="width:16.5em;">
                                        <label id="lblStatus">@appointment.Status</label>
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle" colspan="2">
                                        Appointment Type :
                                    </td>
                                    <td style="vertical-align:middle" colspan="2">
                                        @appointment.AppointmentType
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color alignRight" style="vertical-align:middle">
                                        Subject :
                                    </td>
                                    <td colspan="5" style="vertical-align:middle">
                                        @appointment.Subject
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color alignRight" style="vertical-align:middle">
                                        Description :
                                    </td>
                                    <td colspan="5" style="vertical-align:middle">
                                        @appointment.Description
                                    </td>
                                </tr>
                                <tr>
                                    <td class="background-color alignRight" style="vertical-align:middle" width="160">
                                        Start Date :
                                    </td>
                                    <td style="width:17.5em">
                                        @{ var d = appointment.Date?.ToString("dd MMM yyyy"); }
                                        @d
                                    </td>
                                    <td class="background-color" style="width:9.15em">
                                        @{ var t = appointment.Date?.ToString("h:mmtt");
                                            if (t != null)
                                            {
                                                @t.ToLower()
                                            }
                                        }

                                    </td>
                                    <td class="background-color alignRight" style="vertical-align:middle; width:9.5em">
                                        End Date :
                                    </td>
                                    <td style="width:16.5em">
                                        @{ var d2 = appointment.EndDate?.ToString("dd MMM yyyy"); }
                                        @d2
                                    </td>
                                    <td class="background-color" style="width:9.15em">
                                        @{ var t2 = appointment.EndDate?.ToString("h:mmtt");
                                            if (t2 != null)
                                            {
                                                @t2.ToLower()
                                            }
                                        }

                                    </td>
                                </tr>
                                <tr>
                                    <td class="alignRight" style="vertical-align:middle;">
                                        Venue :
                                    </td>
                                    <td colspan="3">
                                        @appointment.Venue
                                    </td>
                                    <td class="alignRight" style="vertical-align:middle;">
                                        All Day :
                                    </td>
                                    <td style="vertical-align:middle">
                                        <div class="row" style="margin-left:-8px; text-align:center;">
                                            @if (appointment.IsAllDay)
                                            {
                                                <label>Yes</label>
                                            }
                                            else
                                            {
                                                <label>No</label>
                                            }
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="160" class="background-color alignRight" style="vertical-align:middle">
                                        Attachments :
                                    </td>
                                    <td colspan="5">
                                        <table class="table table-bordered sub-table" id="inptRequesterfile" style="margin-bottom:0px">
                                            <thead>
                                                <tr>
                                                    <th style="width:42.60%">
                                                        File Name
                                                    </th>
                                                    <th style="width:15.7%">
                                                        File Size
                                                    </th>
                                                    <th>
                                                        Uploaded Date
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (documents.Count != 0)
                                                {
                                                    foreach (var dd in documents)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <a href="/@dd.Path@dd.FileName" target="_blank">@dd.FileName</a>
                                                            </td>
                                                            <td class="alignRight">
                                                                @dd.Size
                                                            </td>
                                                            <td>
                                                                @dd.CreatedDate.ToString("dd MMM yyyy")
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td>-</td>
                                                        <td>-</td>
                                                        <td>-</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered table-col-4" style="margin-top:10px">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="3">Comment/Remark</th>
                                </tr>
                            </thead>
                            <tr>
                                <td colspan="3">
                                    <table class="table table-bordered sub-table" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th width="20.9%">
                                                    Date/Time
                                                </th>
                                                <th width="22.5%">
                                                    User Name
                                                </th>
                                                <th>
                                                    Comment/Remark
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (cr.Count != 0)
                                            {
                                                foreach (var cc in cr)
                                                {
                                                    var u = users.Find(x => x.UserId == cc.CreatedBy);
                                                    <tr>
                                                        <td>
                                                            @cc.CreatedAt.ToString("dd MMM yyyy HH:mm:ss")
                                                        </td>
                                                        <td>@u.Fullname</td>
                                                        <td>
                                                            @cc.Comment
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>


                        <!---Pex Team-->
                        <!-- Action Button -->
                        <div class="right-text" style="float:right; padding-bottom:10px">
                            <a href="/Appointment/EditAppointment?appointmentId=@appointment.AppointmentId" type="button" class="btn btn-xs btn-warning">Edit</a>
                            @if (!string.IsNullOrEmpty(Model.Page))
                            {
                                <a onclick="closeThisTab()" class="btn btn-xs btn-default">Close</a>
                            }
                            else
                            {
                                <a href="/Case/Choice?module=Appointment" class="btn btn-xs btn-default">Close</a>
                            }
                        </div>

                        <table class="table table-bordered table-col-4" style="margin-top:10px">
                            <thead>
                                <tr class="background-color fontWhite cpBG">
                                    <th colspan="4">Audit Trail</th>
                                </tr>
                            </thead>
                            <tr>
                                <td colspan="4">
                                    <table class="table table-bordered sub-table" style="margin-bottom:0px">
                                        <thead>
                                            <tr>
                                                <th width="20.9%">
                                                    Date/Time
                                                </th>
                                                <th width="22.5%">
                                                    User
                                                </th>
                                                <th width="23.9%">
                                                    Action
                                                </th>
                                                <th>
                                                    Comment
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (auditTrails != null)
                                            {
                                                foreach (var a in auditTrails)
                                                {
                                                    var u = users.Find(x => x.UserId == a.UserId);
                                                    <tr>
                                                        <td>
                                                            @a.Date.ToString("dd MMM yyyy HH:mm:ss")
                                                        </td>
                                                        <td>
                                                            @u.Fullname
                                                        </td>
                                                        <td>
                                                            @a.Action
                                                        </td>
                                                        <td>
                                                            @a.Comment
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h4 class="access-denied-page" style="color:black">
            Access denied, you don&acute;t have permission to access this page.
        </h4>
    }
}

<br />

<script>
    function closeThisTab() {
        close();
    }
</script>