﻿body {
    background-color: #eaeaeaa8;
    overflow-x: hidden;
}

.top-bar {
    border-radius: 0px;
    min-height: 40px;
    background-color: #3e7bc7;
    border-color: transparent;
    position: fixed;
    width: -webkit-fill-available;
    width: 100%;
    z-index: 5000;
}

.logo img {
    margin-bottom: 8px;
    margin-top: -3px;
    margin-left: 10px;
}

.top-logo .a {
    font-size: 25px;
    color: #f89d0d;
    margin-right: 0px;
    cursor: pointer;
}

.top-logo .b {
    font-size: 29px;
    color: white;
    cursor: pointer;
}

.top-logo label {
    margin-bottom: 0px;
    font-weight: bold;
}

.top-bar .navbar-nav > li > a {
    margin: 5px;
    color: #f9cc8b;
    border-radius: 2px;
    padding: 5px 10px;
}

.top-bar .nav > li > a > img {
    max-width: 16px;
    margin: 0px 5px;
}

.navbar-nav > li > .dropdown-menu {
    font-size: 13px;
}

.top-bar .navbar-nav > li > a:hover, .top-bar .navbar-nav > li > a:focus {
    color: grey;
}

/*.bg-white {
    background: #fff;
}*/

.datepicker table tr td, .datepicker table tr th {
    text-align: center;
    width: 30px;
    height: 26px;
    border-radius: 4px;
    font-size: 11px;
    border: none;
}

.body-container {
    margin-top: 45px;
}

.list-group-item {
    background-color: #3498db;
    margin-bottom: 10px;
}

a.list-group-item {
    color: #ffffff;
}
.panel-body1 {
    padding: 5px 18px;
}

.component {
    font-size: 12px;
    margin-top: 10px;
    background: #fff;
    padding: 10px;
}


.center-text {
    text-align: center;
    text-align: -webkit-center;
}

.left-text {
    text-align: left;
    text-align: -webkit-left;
}

.right-text {
    text-align: right;
    text-align: -webkit-right;
}

.search-criteria {
    margin-top: 5px;
}

.search-btn {
    float: right;
    margin-top: 25px;
}

.tab-content {
    margin-top: -15px;
}

.content {
    margin: -15px -20px -10px -15px;
    font-size: 11px;
}

input[type="radio"], input[type="checkbox"] {
    vertical-align: text-bottom;
    margin-right: 3px;
}


.content .form-control {
    font-size: 11px;
}

.form-control {
    font-size: 12px;
    padding: 0px 5px;
    height: 25px;
}



.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #333;
    cursor: default;
    background-color: #fff;
    border-top: 2px solid #f89d0d;
    border-bottom-color: transparent;
}

.nav-tabs > li > a {
    color: #9d9d9dd1;
    margin-right: 0px;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}

fieldset label {
    margin-top: 5px;
    margin-bottom: 0px;
}

/*.background-color {
    background-color: #8f9fb4;
    color: #fff;
    font-weight: bold;
}*/

.background-gray {
    background-color: lightgray;
}

.background-lightgray {
    background-color: #efefef;
}

.background-white {
    background-color: white;
}

table {
    background: #fff;
}

.row1 tr td:nth-child(1) {
    width: 185px;
    max-width: 185px;
    word-break: break-all;
}

.row.table > tbody > tr > td:nth-child(2) {
    padding: 2px;
}

.row1 tr td:nth-child(3) {
    width: 185px;
    max-width: 185px;
    word-break: break-all;
}

.row1.table > tbody > tr > td:nth-child(4) {
    padding: 2px;
}

.label-padding {
    padding: 5px 0px
}

.glyphicon-lg-5 {
    font-size: 50px;
    display: block;
}

.glyphicon-lg-4 {
    font-size: 40px;
    display: block;
}

.flex-display {
    display: inline-flex;
    width: 100%;
}

.doc-nav {
    width: 100%;
}

.doc-type {
    text-align: center;
    font: 14px;
}

.width-150 {
    width: 150px;
}

.width-200 {
    width: 200px;
}

.left-right-padding-5 {
    padding: 0px 5px;
}

.left-padding-5 {
    padding-left: 5px;
    padding-right: 0px;
}

.right-padding-5 {
    padding-right: 5px;
    padding-left: 0px;
}

.padding-5 {
    padding: 5px;
}

.no-padding {
    padding: 0px;
}

.nav-link {
    cursor: pointer;
}

.glyphicon-refresh-animate {
    -animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.sub-table > thead > tr > th {
    background-color: #f6f6f6;
}

.table:not(.sub-table) > thead > tr > th {
    font-size: 11px;
}

label {
    margin-bottom: 0px;
    font-weight: normal;
}

.btn-xs, .btn-group-xs > .btn {
    font-size: 11px;
}

.delete, .delete:hover {
    color: red;
    cursor: pointer;
}

.table-my-task > thead > tr > th {
    background-color: #f6f6f6;
}

.table-my-task thead th:nth-child(1) {
    width: 3%;
}

.table-my-task thead th:nth-child(2) {
    width: 13%;
}

.table-my-task thead th:nth-child(3) {
    width: 16%;
}

.table-my-task thead th:nth-child(4) {
    width: 20%;
}

.table-my-task thead th:nth-child(5) {
    width: 9%;
}

.table-my-task thead th:nth-child(6) {
    width: 13%;
}

.table-my-task thead th:nth-child(7) {
    width: 12%;
}

.table-bordered > thead > tr > th, 
.table-bordered > tbody > tr > th, 
.table-bordered > tfoot > tr > th, 
.table-bordered > thead > tr > td, 
.table-bordered > tbody > tr > td, 
.table-bordered > tfoot > tr > td {
    padding: 6px;
}

.font-weight-bold {
    font-weight: bold;
}

.clickable {
    cursor: pointer;
}

.nav-tabs > li > a:hover {
    text-decoration: none;
    background-color: #91cbda;
    color: white;
}

.collapsible-panel {
    background-color: gray;
    padding: 5px;
    color: white;
    width: 100%;
    font-size: 13px;
    text-align: left;
    border-radius: 0;
    margin-top: 1px;
}

viewer-pdf-toolbar {
    display: none;
}

.pdfobject-container {
    height: 80vh;
    margin: 1px 0px;
    padding-left: 1px;
}
.bottom-left-panel {
    width: 49.5%;
    margin-top: 5px;
    display: inline-block;
}

.bottom-right-panel {
    width: 49.5%;
    margin-top: 5px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
}