﻿@using CP.Models
@model ConfigViewModel

@{
    ViewBag.Title = "Doc Type";
    var docTypes = Model.DocumentType;
    var users = Model.Users;
    var showInSelect = Model.ShowInSelects;
    var s = showInSelect.GroupBy(x => x.ShowInSelectName);
    s = s.OrderBy(x => x.Key);
    var cu = Model.CurrentUser;
}

<style>
    .content .form-control {
        font-size: 11px;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }
</style>

<script>
    $(function () {
        $('.btn-sidenav.active').removeClass('active');
        $('#DocType').addClass('active');
    });
</script>

@{
    var caccess = cu.Find(x => x.Keyword == "Configuration");
    if (caccess != null && caccess.IsRead)
    {
        <h4>Doc Type</h4>
        <table id="tableAll" class="table table-hover table-bordered" style="font-size:11px">
            <thead>
                <tr class="Gridview cpBG fontWhite">
                    <th width="2.5%">No.</th>
                    <th width="30%">Name</th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                    <th>Created By</th>
                    <th width="4.2%">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var c = 1;
                    if (docTypes != null)
                    {
                        foreach (var d in docTypes)
                        {
                            <tr class="GridviewScrollItem">
                                <td>@c</td>
                                <td>@d.Name</td>
                                <td>@Convert.ToDateTime(d.CreatedAt).ToString("dd MMM yyyy HH:mm:ss")</td>
                                <td>
                                    @if (d.UpdatedAt.ToShortDateString() != "1/1/0001")
                                    {
                                        @Convert.ToDateTime(d.UpdatedAt).ToString("dd MMM yyyy HH:mm:ss")
                                    }
                                </td>
                                <td>
                                    @{
                                        var created = users.Find(x => x.UserId == d.CreatedBy);

                                        if (created != null){
                                            @created.Fullname
                                        }
                                    }
                                </td>
                                <td class="center-text">
                                    @if (caccess.IsUpdate)
                                    {
                                        <a onclick="editDoc(this)" class="edit" data-value="@d.DocumentTypeId" title="Edit" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                    }
                                    @if (caccess.IsDelete)
                                    {
                                        <a onclick="deleteDoc(this);" class="delete" data-value="@d.DocumentTypeId" title="Delete" data-toggle="tooltip" style="padding-left:5px;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                    }
                                </td>
                            </tr>
                            c++;
                        }
                    }
                }
                @if (caccess.IsCreate)
                {
                    <tr>
                        <td>
                            @c
                        </td>
                        <td colspan="4">
                            <input id="inptName" class="form-control" />
                        </td>
                        <td class="center-text" style="vertical-align:middle">
                            <button id="save" type="button" class="btn btn-xs btn-success" data-dismiss="modal">Add</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <h4 style="padding-top:20px;">Segment</h4>

        if (s != null)
        {
            foreach (var selectname in s)
            {
                int no = 1;
                var docs = selectname;
                <table id="@selectname.Key" class="table table-hover table-bordered" style="font-size:11px">
                    <thead>
                        <tr class="Gridview cpBG fontWhite">
                            <th colspan="8">
                                @selectname.Key
                            </th>
                        </tr>

                        <tr>
                            <th width="2.5%">No.</th>
                            <th width="30%">Name</th>
                            <th>Created Date</th>
                            <th>Updated Date</th>
                            <th>Created By</th>
                            <th width="5%">Stage</th>
                            <th width="5%">Required</th>
                            <th width="4.2%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var doc in docs)
                        {
                            docTypes.OrderBy(x => x.Name);
                            var documentType = docTypes.Find(x => x.DocumentTypeId == doc.DocumentTypeId);
                            <tr>
                                <td>
                                    @no
                                </td>
                                <td>
                                    @documentType.Name
                                </td>
                                <td>@Convert.ToDateTime(doc.CreatedAt).ToString("dd MMM yyyy HH:mm:ss")</td>
                                <td>
                                    @if (doc.UpdatedAt.ToShortDateString() != "1/1/0001")
                                    {
                                        @Convert.ToDateTime(doc.UpdatedAt).ToString("dd MMM yyyy HH:mm:ss")
                                    }
                                </td>
                                <td>
                                    @{
                                        var created = users.Find(x => x.UserId == doc.CreatedBy);

                                        if (created != null)
                                        {
                                            @created.Fullname
                                        }
                                    }
                                </td>
                                <td class="right-text">@doc.Stage</td>
                                <td class="center-text">
                                    @{
                                        switch (doc.Required)
                                        {
                                            case true:
                                                <span>True</span>
                                                break;
                                            case false:
                                                <span>False</span>
                                                break;
                                        }
                                    }
                                </td>
                                <td class="center-text">
                                    @if (caccess.IsUpdate)
                                    {
                                        <a onclick="editSegment(this)" class="edit" date-segment="@doc.ShowInSelectId" data-name="@docs.Key" data-value="@doc.ShowInSelectId" data-doc="@doc.DocumentTypeId" title="Edit" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                    }
                                    @if (caccess.IsDelete)
                                    {
                                        <a onclick="deleteSegment(this);" class="delete" data-value="@doc.ShowInSelectId" title="Delete" data-toggle="tooltip" style="padding-left:5px;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                    }
                                </td>
                            </tr>
                            no++;
                        }
                        @if (caccess.IsCreate)
                        {
                            <tr>
                                <td>
                                    @no
                                </td>
                                <td colspan="4">
                                    <select class="form-control addDocToSelect" name="showInSelectDoc">
                                        @foreach (var d in docTypes)
                                        {
                                            <option value="@d.DocumentTypeId">
                                                @d.Name
                                            </option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control number right-text DocToSelectStage" placeholder="0" />
                                </td>
                                <td class="center-text">
                                    <input type="checkbox" id="DocToSelectRequired" />
                                </td>
                                <td class="center-text" style="vertical-align:middle">
                                    <button onclick="saveSegment(this)" data-segment="@docs.ElementAt(0).ShowInSelectId" data-name="@docs.Key" type="button" class="btn btn-xs btn-success" data-dismiss="modal">Add</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
    }
    else
    {
        <h4 class="access-denied-page" style="color:black">
            Access denied, you don&acute;t have permission to access this page.
        </h4>
    }
}

<script>
    var url = '@Url.Action("LoadConfigurationPage", "Confirguration")';
    $('#save').click(function () {
        var docType = {
            "Name": $("#inptName").val(),
            //"Required": $('#inptRequired').is(':checked'),
        };
        $.ajax({
            url: window.location.origin + "/Confirguration/CreateNewDocType",
            data: { "docType": docType },
            cache: false,
            type: "POST",
            dataType: "html",
            success: function (data, textStatus, XMLHttpRequest) {
                var d = JSON.parse(data);
                if (d.Error === null) {
                    showToast(d.Message, "success");
                    if (d.RedirectUrl !== null) {
                        setTimeout(function () {
                             $("#right-panel").load(url + "?module=_DocType");
                            //location.reload();
                            //window.location.href = window.location.origin + d.RedirectUrl;
                        }, 2000);
                    }
                }
                else {
                    showToast(d.Error, "error");
                }
            }
        });
    });
    function deleteDoc(e) {
        if (confirm("Please click OK to confirm delete.")) {
            $.ajax({
                url: window.location.origin + "/Confirguration/DeleteDocType",
                data: { "docTypeId": $(e).data('value') },
                cache: false,
                type: "POST",
                dataType: "html",
                success: function (data, textStatus, XMLHttpRequest) {
                    var d = JSON.parse(data);
                    if (d.Error === null) {
                        showToast(d.Message, "success");
                        if (d.RedirectUrl !== null) {
                            setTimeout(function () {
                             $("#right-panel").load(url + "?module=_DocType");
                                //location.reload();
                                //window.location.href = window.location.origin + d.RedirectUrl;
                            }, 2000);
                        }
                    }
                    else {
                        showToast(d.Error, "error");
                    }
                }
            });
        }
    }

    function updateDoc(e) {
        var id = $(e).data('value');
        var name = $(e).parent().parent().children("td:nth-child(2)").children('input[type=text]').val();
        //var required = $(e).parent().parent().children("td:nth-child(3)").children('input[type=checkbox]').is(':checked');

        var docType = {
            "DocumentTypeId": id,
            "Name": name,
            //"Required": required,
        };

        $.ajax({
            url: window.location.origin + "/Confirguration/UpdateDocType",
            data: { "docType": docType },
            cache: false,
            type: "POST",
            dataType: "html",
            success: function (data, textStatus, XMLHttpRequest) {
                var d = JSON.parse(data);
                if (d.Error === null) {
                    showToast(d.Message, "success");
                    if (d.RedirectUrl !== null) {
                        setTimeout(function () {
                             $("#right-panel").load(url + "?module=_DocType");
                            //location.reload();
                            //window.location.href = window.location.origin + d.RedirectUrl;
                        }, 2000);
                    }
                }
                else {
                    showToast(d.Error, "error");
                }
            }
        });
    }

    function editDoc(e) {
        var id = $(e).data('value');
        var no = $(e).parent().parent().children("td:nth-child(1)").text();
        var name = $(e).parent().parent().children("td:nth-child(2)").text();
        var date = $(e).parent().parent().children("td:nth-child(3)").text();
        var created = $(e).parent().parent().children("td:nth-child(4)").text();
        var updated = $(e).parent().parent().children("td:nth-child(5)").text();

        //var required = $(e).parent().parent().children("td:nth-child(3)").text();
        $(e).parent().parent().children("td:nth-child(1)").html(no);
        $(e).parent().parent().children("td:nth-child(2)").html('<input type="text" class="form-control" id="updateName">');
        $(e).parent().parent().children("td:nth-child(2)").children().val(name);

        //if (required == "False") {
        //    $(e).parent().parent().children("td:nth-child(3)").html('<input type="checkbox" id="updateRequired">');
        //}
        //else {
        //    $(e).parent().parent().children("td:nth-child(3)").html('<input type="checkbox" checked id="updateRequired">');
        //}

        $(e).parent().parent().children("td:nth-child(3)").html(date);
        $(e).parent().parent().children("td:nth-child(4)").html(created);
        $(e).parent().parent().children("td:nth-child(5)").html(updated);
        $(e).parent().parent().children("td:nth-child(6)").html('<a data-value=' + id + ' class="btn btn-xs" style="color:green; padding:0px" title="Update" onclick="updateDoc(this)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a> <a data-value=' + id + ' class="btn btn-xs" style="color:red; padding:0px;" title="Close" onclick="closeThis(this)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>');

    }

    function closeThis(e) {
        var id = $(e).data('value');
        var no = $(e).parent().parent().children("td:nth-child(1)").text();
        var name = $(e).parent().parent().children("td:nth-child(2)").children('input[type=text]').val();
        //var required = $(e).parent().parent().children("td:nth-child(3)").children('input[type=checkbox]').is(':checked');
        var date = $(e).parent().parent().children("td:nth-child(3)").text();
        var created = $(e).parent().parent().children("td:nth-child(4)").text();
        var updated = $(e).parent().parent().children("td:nth-child(5)").text();

        $(e).parent().parent().children("td:nth-child(1)").html(no);
        $(e).parent().parent().children("td:nth-child(2)").html(name);
        //debugger
        //if (required == false) {
        //    $(e).parent().parent().children("td:nth-child(3)").html('False');
        //}
        //else {
        //    $(e).parent().parent().children("td:nth-child(3)").html('True');
        //}

        $(e).parent().parent().children("td:nth-child(3)").html(date);
        $(e).parent().parent().children("td:nth-child(4)").html(created);
        $(e).parent().parent().children("td:nth-child(5)").html(updated);
        $(e).parent().parent().children("td:nth-child(6)").html('<a onclick="editDoc(this)" class="edit" data-value=' + id + ' title="Edit" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>&nbsp;&nbsp; <a onclick="deleteDoc(this);" class="delete" data-value=' + id + ' title="Delete" data-toggle="tooltip"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>');

    }

    function saveSegment(e) {
        var showInSelect = {
            //"ShowInSelectId": $(e).data('segment'),
            "ShowInSelectName": $(e).data('name'),
            "DocumentTypeId": $(e).parent().parent().children("td:nth-child(2)").find("[name=showInSelectDoc] option:selected").val(),
            "Required": $(e).parent().parent().children("td:nth-child(4)").children('input[type=checkbox]').is(':checked'),
            "Stage": $(e).parent().parent().children("td:nth-child(3)").children('input[type=text]').val(),
        };
        debugger

        $.ajax({
            url: window.location.origin + "/Confirguration/CreateNewSegmentDocType",
            data: { "showInSelect": showInSelect },
            cache: false,
            type: "POST",
            dataType: "html",
            success: function (data, textStatus, XMLHttpRequest) {
                var d = JSON.parse(data);
                if (d.Error === null) {
                    showToast(d.Message, "success");
                    if (d.RedirectUrl !== null) {
                        setTimeout(function () {
                             //$("#right-panel").load(url + "?module=_DocType");
                            location.reload();
                            //window.location.href = window.location.origin + d.RedirectUrl;
                        }, 2000);
                    }
                }
                else {
                    showToast(d.Error, "error");
                }
            }
        });
    }

    function deleteSegment(e) {
        if (confirm("Please click OK to confirm delete.")) {
            $.ajax({
                url: window.location.origin + "/Confirguration/DeleteSegmentDocType",
                data: { "showInSelectId": $(e).data('value') },
                cache: false,
                type: "POST",
                dataType: "html",
                success: function (data, textStatus, XMLHttpRequest) {
                    var d = JSON.parse(data);
                    if (d.Error === null) {
                        showToast(d.Message, "success");
                        if (d.RedirectUrl !== null) {
                            setTimeout(function () {
                             //$("#right-panel").load(url + "?module=_DocType");
                                location.reload();
                                //window.location.href = window.location.origin + d.RedirectUrl;
                            }, 2000);
                        }
                    }
                    else {
                        showToast(d.Error, "error");
                    }
                }
            });
        }
    }

    function updateSegment(e) {
        //var required = $(e).parent().parent().children("td:nth-child(3)").children('input[type=checkbox]').is(':checked');

        var showInSelect = {
            "ShowInSelectId": $(e).data('value'),
            "ShowInSelectName": $(e).data('name'),
            "DocumentTypeId": $(e).parent().parent().children("td:nth-child(2)").find("[name=showInSelectDoc] option:selected").val(),
            "Required": $(e).parent().parent().children("td:nth-child(7)").children('input[type=checkbox]').is(':checked'),
            "Stage": $(e).parent().parent().children("td:nth-child(6)").children('input[type=text]').val(),
        };

        $.ajax({
            url: window.location.origin + "/Confirguration/UpdateSegmentDocType",
            data: { "showInSelect": showInSelect },
            cache: false,
            type: "POST",
            dataType: "html",
            success: function (data, textStatus, XMLHttpRequest) {
                var d = JSON.parse(data);
                if (d.Error === null) {
                    showToast(d.Message, "success");
                    if (d.RedirectUrl !== null) {
                        setTimeout(function () {
                             //$("#right-panel").load(url + "?module=_DocType");
                            location.reload();
                            //window.location.href = window.location.origin + d.RedirectUrl;
                        }, 2000);
                    }
                }
                else {
                    showToast(d.Error, "error");
                }
            }
        });
    }

    function editSegment(e) {
        var id = $(e).data('value');
        var name = $(e).data('name');
        var docId = $(e).data('doc');
        var no = $(e).parent().parent().children("td:nth-child(1)").text();
        var created = $(e).parent().parent().children("td:nth-child(3)").text();
        var updated = $(e).parent().parent().children("td:nth-child(4)").text();
        var date = $(e).parent().parent().children("td:nth-child(5)").text();
        var stage = $(e).parent().parent().children("td:nth-child(6)").text();
        var required = $(e).parent().parent().children("td:nth-child(7)").text();
        $(e).parent().parent().children("td:nth-child(1)").html(no);
        $(e).parent().parent().children("td:nth-child(2)").html('<select id="showInSelectDoc" name="showInSelectDoc" class="form-control">@{ foreach (var d in docTypes){<option value="@d.DocumentTypeId">@d.Name</option>} }</select>');
        $(e).parent().parent().children("td:nth-child(6)").html('<input type="text" class="form-control number right-text" value="' + stage + '" id="updateStage">');
        $(e).parent().parent().children("td:nth-child(2)").find("#showInSelectDoc option[value=" + docId + "]").attr('selected', 'selected');

        if (required.trim() == "False") {
            $(e).parent().parent().children("td:nth-child(7)").html('<input type="checkbox" id="updateRequired">');
        }
        else {
            $(e).parent().parent().children("td:nth-child(7)").html('<input type="checkbox" checked id="updateRequired">');
        }

        $(e).parent().parent().children("td:nth-child(5)").html(date);
        $(e).parent().parent().children("td:nth-child(3)").html(created);
        $(e).parent().parent().children("td:nth-child(4)").html(updated);
        $(e).parent().parent().children("td:nth-child(8)").html('<a data-value=' + id + ' data-name=' + name + ' class="btn btn-xs" style="color:green; padding:0px" title="Update" onclick="updateSegment(this)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a> <a data-value=' + id + ' class="btn btn-xs" style="color:red; padding:0px;" title="Close" onclick="closeSegment(this)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>');

    }

    function closeSegment(e) {
        var id = $(e).data('value');
        var name = $(e).data('name');
        var docId = $('#showInSelectDoc option:selected').val();
        var no = $(e).parent().parent().children("td:nth-child(1)").text();
        var name = $(e).parent().parent().children("td:nth-child(2)").find('#showInSelectDoc option:selected').text();
        var stage = $(e).parent().parent().children("td:nth-child(6)").children('input[id=updateStage]').val();
        var required = $(e).parent().parent().children("td:nth-child(7)").children('input[type=checkbox]').is(':checked');
        var date = $(e).parent().parent().children("td:nth-child(5)").text();
        var created = $(e).parent().parent().children("td:nth-child(3)").text();
        var updated = $(e).parent().parent().children("td:nth-child(4)").text();

        $(e).parent().parent().children("td:nth-child(1)").html(no);
        $(e).parent().parent().children("td:nth-child(2)").html(name.trim());
        $(e).parent().parent().children("td:nth-child(6)").html(stage);
        //debugger
        if (required == false) {
            $(e).parent().parent().children("td:nth-child(7)").html('False');
        }
        else {
            $(e).parent().parent().children("td:nth-child(7)").html('True');
        }

        $(e).parent().parent().children("td:nth-child(5)").html(date);
        $(e).parent().parent().children("td:nth-child(3)").html(created);
        $(e).parent().parent().children("td:nth-child(4)").html(updated);
        $(e).parent().parent().children("td:nth-child(8)").html('<a onclick="editSegment(this)" class="edit"data-name=' + name + ' data-value=' + id + ' data-doc=' + docId + ' title="Edit" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>&nbsp;&nbsp; <a onclick="deleteSegment(this);" class="delete" data-value=' + id + ' title="Delete" data-toggle="tooltip"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>');

    }
</script>