﻿
@using CP.Models
@model ConfigViewModel

@{
    ViewBag.Title = "Packages";
    var users = Model.Users;
    var packages = Model.Packages;
    var cu = Model.CurrentUser;
    string nbsp = "&nbsp; &nbsp;";
    var position = Model.Positions;
}

<style>
    .content .form-control {
        font-size: 11px;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }
</style>
<script>
    $(function () {
        $('.btn-sidenav.active').removeClass('active');
        $('#Packages').addClass('active');
    });
</script>

@{
    var caccess = cu.Find(x => x.Keyword == "Configuration");
    if (caccess != null && caccess.IsRead)
    {
        <h4>
            Package List

            @if (caccess.IsCreate)
            {
                <a href="~/Confirguration/AddNewPackage" class="btn btn-xs btn-danger" style="float:right">Add New Package</a>
            }
        </h4>
        <table id="tableAll" class="table table-hover table-bordered" style="font-size:11px">
            <thead>
                <tr class="Gridview cpBG fontWhite">
                    <th width="2.5%">No.</th>
                    <th width="15%">Package Name</th>
                    <th>Package Desc</th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                    <th>Created By</th>
                    <th>Status</th>
                    <th width="4.2%">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var c = 1;
                    if (packages != null)
                    {
                        foreach (var p in packages)
                        {
                            <tr class="GridviewScrollItem">
                                <td>@c</td>
                                <td>
                                    @if (caccess.IsUpdate)
                                    {
                                        <a href="~/Confirguration/EditPackage?packageId=@p.PackageId">@p.PackageName</a>
                                    }
                                    else
                                    {
                                        <a href="~/Confirguration/EditPackagePreview?packageId=@p.PackageId">@p.PackageName</a>
                                    }
                                </td>
                                <td>
                                    @p.PackageDesc
                                </td>
                                <td>@Convert.ToDateTime(p.createDate).ToString("dd MMM yyyy HH:mm:ss")</td>
                                <td>
                                    @if (p.updateDate.ToShortDateString() != "1/1/0001")
                                    {
                                        @Convert.ToDateTime(p.updateDate).ToString("dd MMM yyyy HH:mm:ss")
                                    }
                                </td>
                                <td>
                                    @{
                                        var created = users.Find(x => x.UserId == p.createBy);
                                        if (created != null)
                                        {
                                            @created.Fullname
                                        }
                                    }
                                </td>
                                <td>
                                    <span>
                                        @{
                                            var status = "";
                                            var color = "";
                                        }
                                        @switch (p.status)
                                        {
                                            case true:
                                                status = "Active";
                                                color = "green";
                                                break;
                                            case false:
                                                status = "Inactive";
                                                color = "red";
                                                break;
                                        }

                                        <label style="font-weight:bold; color:@color">@status</label>
                                    </span>
                                </td>
                                <td class="center-text">
                                    @if (caccess.IsUpdate)
                                    {
                                        <a href="~/Confirguration/EditPackage?packageId=@p.PackageId" class="edit" data-value="@p.PackageId" title="Edit" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                    }
                                    @if (caccess.IsDelete)
                                    {
                                        <a onclick="deletePackage(this);" class="delete" data-value="@p.PackageId" title="Delete" data-toggle="tooltip" style="padding-left:5px;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                    }
                                </td>
                            </tr>
                            c++;
                        }
                    }
                }
                @*@if (caccess.IsCreate)
                    {
                        <tr>
                            <td>
                                @c
                            </td>
                            <td colspan="6">
                                <input id="inptName" class="form-control" />
                            </td>
                            <td class="center-text" style="vertical-align:middle">
                                <button id="save" type="button" class="btn btn-xs btn-success" data-dismiss="modal">Add</button>
                            </td>
                        </tr>
                    }*@
            </tbody>
        </table>
    }
    else
    {
        <h4 class="access-denied-page" style="color:black">
            Access denied, you don&acute;t have permission to access this page.
        </h4>
    }
}



<script>
    var url = '@Url.Action("LoadConfigurationPage", "Confirguration")';
    function deletePackage(e) {
        if (confirm("Please click OK to confirm delete.")) {
            $.ajax({
                url: window.location.origin + "/Confirguration/DeletePackage",
                data: { "packageId": $(e).data('value') },
                cache: false,
                type: "POST",
                dataType: "html",
                success: function (data, textStatus, XMLHttpRequest) {
                    var d = JSON.parse(data);
                    if (d.Error === null) {
                        showToast(d.Message, "success");
                        if (d.RedirectUrl !== null) {
                            setTimeout(function () {
                                $("#right-panel").load(url + "?module=_Packages");
                                //location.reload();
                                //window.location.href = window.location.origin + d.RedirectUrl;
                            }, 1000);
                        }
                    }
                    else {
                        showToast(d.Error, "error");
                    }
                }
            });
        }
    }
</script>