﻿
@using CP.Models
@model ConfigViewModel

@{
    ViewBag.Title = "Package Services";
    var users = Model.Users;
    var package_s = Model.PackageServices;
    var cu = Model.CurrentUser;
    var position = Model.Positions;
    var sops = Model.Sops;
}

<style>
    .content .form-control {
        font-size: 11px;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }
</style>

<script>
    $(function () {
        $('.btn-sidenav.active').removeClass('active');
        $('#PackageServicesType').addClass('active');
    });
</script>

@{
    var caccess = cu.Find(x => x.Keyword == "Configuration");
    if (caccess != null && caccess.IsRead)
    {
        <h4>
            Manual Services

            @if (caccess.IsCreate)
            {
                <a href="~/Confirguration/AddNewPackageServiceType" class="btn btn-xs btn-danger" style="float:right">Add New Manual Service</a>
            }
        </h4>
        <table id="tableAll" class="table table-hover table-bordered" style="font-size:11px">
            <thead>
                <tr class="Gridview cpBG fontWhite">
                    <th width="2.5%">No.</th>
                    <th width="15%">Service Name</th>
                    <th width="42.2%">Service Desc</th>
                    <th>Created Date</th>
                    <th>Created By</th>
                    <th>Status</th>
                    <th width="4.2%">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var c = 1;
                    if (package_s != null)
                    {
                        foreach (var p in package_s)
                        {
                            <tr class="GridviewScrollItem">
                                <td>@c</td>
                                <td>
                                    @if (caccess.IsUpdate)
                                    {
                                        <a href="~/Confirguration/EditPackageServiceType?serviceId=@p.ServiceId">@p.ServiceName</a>
                                    }
                                    else
                                    {
                                        <a href="~/Confirguration/EditPackageServiceTypePreview?serviceId=@p.ServiceId">@p.ServiceName</a>
                                    }
                                </td>
                                <td>
                                    @p.ServiceDesc
                                </td>
                                <td>@Convert.ToDateTime(p.CreatedAt).ToString("dd MMM yyyy HH:mm:ss")</td>
                                <td>
                                    @{
                                        var created = users.Find(x => x.UserId == p.CreatedBy);
                                        if (created != null)
                                        {
                                            @created.Fullname
                                        }
                                    }
                                </td>
                                <td>
                                    <span>
                                        @{
                                            var status = "";
                                            var color = "";
                                        }
                                        @switch (p.Status)
                                        {
                                            case true:
                                                status = "Active";
                                                color = "green";
                                                break;
                                            case false:
                                                status = "Inactive";
                                                color = "red";
                                                break;
                                        }

                                        <label style="font-weight:bold; color:@color">@status</label>
                                    </span>
                                </td>
                                <td class="center-text">
                                    @if (caccess.IsUpdate)
                                    {
                                        <a href="~/Confirguration/EditPackageServiceType?serviceId=@p.ServiceId" class="edit" data-value="@p.ServiceId" title="Edit" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                    }
                                    @if (caccess.IsDelete)
                                    {
                                        <a onclick="deleteServiceType(this);" class="delete" data-value="@p.ServiceId" title="Delete" data-toggle="tooltip" style="padding-left:5px;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                    }
                                </td>
                            </tr>
                            c++;
                        }
                    }
                }
            </tbody>
        </table>

        <div class="row"></div>

        <h4>
            SOP Services
        </h4>
        <table id="tableSop" class="table table-hover table-bordered" style="font-size:11px">
            <thead>
                <tr class="Gridview cpBG fontWhite">
                    <th width="2.5%">No.</th>
                    <th width="15%">Service Name</th>
                    <th width="42.2%">Service Desc</th>
                    <th>Created Date</th>
                    <th>Created By</th>
                    <th>Status</th>
                    <th width="4.2%">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var cc = 1;
                    if (sops != null)
                    {
                        foreach (var s in sops)
                        {
                            <tr class="GridviewScrollItem">
                                <td>@cc</td>
                                <td>
                                    @if (caccess.IsUpdate)
                                    {
                                        <a href="~/Confirguration/EditSop?sopId=@s.SopId">@s.Name</a>
                                    }
                                    else
                                    {
                                        <a href="~/Confirguration/EditSopPreview?sopId=@s.SopId">@s.Name</a>
                                    }
                                </td>
                                <td>
                                    @s.Description
                                </td>
                                <td>@Convert.ToDateTime(s.CreatedAt).ToString("dd MMM yyyy HH:mm:ss")</td>
                                <td>
                                    @{
                                        var created = users.Find(x => x.UserId == s.CreatedBy);
                                        if (created != null)
                                        {
                                            @created.Fullname
                                        }
                                    }
                                </td>
                                <td>
                                    <span>
                                        @{
                                            var status = "";
                                            var color = "";
                                        }
                                        @switch (s.Status)
                                        {
                                            case true:
                                                status = "Active";
                                                color = "green";
                                                break;
                                            case false:
                                                status = "Inactive";
                                                color = "red";
                                                break;
                                        }

                                        <label style="font-weight:bold; color:@color">@status</label>
                                    </span>
                                </td>
                                <td class="center-text">
                                    @if (caccess.IsUpdate)
                                    {
                                        <a href="~/Confirguration/EditSop?sopId=@s.SopId" class="edit" data-value="@s.SopId" title="Edit" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                    }
                                </td>
                            </tr>
                            cc++;
                        }
                    }
                }
                @*@if (caccess.IsCreate)
                    {
                        <tr>
                            <td>
                                @c
                            </td>
                            <td colspan="6">
                                <input id="inptName" class="form-control" />
                            </td>
                            <td class="center-text" style="vertical-align:middle">
                                <button id="save" type="button" class="btn btn-xs btn-success" data-dismiss="modal">Add</button>
                            </td>
                        </tr>
                    }*@
            </tbody>
        </table>
    }
    else
    {
        <h4 class="access-denied-page" style="color:black">
            Access denied, you don&acute;t have permission to access this page.
        </h4>
    }
}



<script>
    function deleteServiceType(e) {
        if (confirm("Please click OK to confirm delete.")) {
            $.ajax({
                url: window.location.origin + "/Confirguration/DeletePackageServiceType",
                data: { "packageServiceTypeId": $(e).data('value') },
                cache: false,
                type: "POST",
                dataType: "html",
                success: function (data, textStatus, XMLHttpRequest) {
                    var d = JSON.parse(data);
                    if (d.Error === null) {
                        showToast(d.Message, "success");
                        $(e).parent().parent().remove();
                    }
                    else {
                        showToast(d.Error, "error");
                    }
                }
            });
        }
    }

</script>