﻿@using CP.Models
@model ConfigViewModel

@{
    ViewBag.Title = "User";
    var groupType = Model.UserPositions;
    var users = Model.Users;
    var cu = Model.CurrentUser;
    string nbsp = "&nbsp; &nbsp;";
    var position = Model.Positions;
}

<style>
    .content .form-control {
        font-size: 11px;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }
</style>

<script>
    $(function () {
        $('.btn-sidenav.active').removeClass('active');
        $('#User').addClass('active');
    });
</script>

@{
    var caccess = cu.Find(x => x.Keyword == "Configuration");
    if (caccess != null && caccess.IsRead)
    {
        <h4>
            User List

            @if (caccess.IsCreate)
            {
                <a href="~/Confirguration/CreateUser" class="btn btn-xs btn-danger" style="float:right">Create User</a>
            }
        </h4>
        <table id="tableAll" class="table table-hover table-bordered" style="font-size:11px">
            <thead>
                <tr class="Gridview cpBG fontWhite">
                    <th width="2.5%">No.</th>
                    <th width="15%">ID</th>
                    <th width="15%">Name</th>
                    <th>Group</th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                    <th>Created By</th>
                    <th width="4.2%">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var c = 1;
                    if (users != null)
                    {
                        foreach (var u in users)
                        {
                            <tr class="GridviewScrollItem">
                                <td>@c</td>
                                <td>
                                    @if (caccess.IsUpdate)
                                    {
                                        <a href="~/Confirguration/EditUser?userId=@u.UserId">@u.Name</a>
                                    }
                                    else
                                    {
                                        <a href="~/Confirguration/EditUserPreview?userId=@u.UserId">@u.Name</a>
                                    }
                                </td>
                                <td>
                                    @u.Fullname
                                </td>
                                <td>
                                    @{
                                        var p = groupType.Find(x => x.UserPositionId == u.Position);
                                        if (p != null)
                                        {
                                            @p.Name
                                        }
                                    }
                                </td>
                                <td>@Convert.ToDateTime(u.CreatedAt).ToString("dd MMM yyyy HH:mm:ss")</td>
                                <td>
                                    @if (u.UpdatedAt.ToShortDateString() != "1/1/0001")
                                    {
                                        @Convert.ToDateTime(u.UpdatedAt).ToString("dd MMM yyyy HH:mm:ss")
                                    }
                                </td>
                                <td>
                                    @{
                                        var created = users.Find(x => x.UserId == u.CreatedBy);
                                        if (created != null)
                                        {
                                            @created.Fullname
                                        }
                                    }
                                </td>
                                <td class="center-text">
                                    @if (caccess.IsUpdate)
                                    {
                                        <a href="~/Confirguration/EditUser?userId=@u.UserId" class="edit" data-value="@u.UserId" title="Edit" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                    }
                                    @if (caccess.IsDelete)
                                    {
                                        <a onclick="deleteUser(this);" class="delete" data-value="@u.UserId" title="Delete" data-toggle="tooltip" style="padding-left:5px;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                    }
                                </td>
                            </tr>
                            c++;
                        }
                    }
                }
                @*@if (caccess.IsCreate)
                {
                    <tr>
                        <td>
                            @c
                        </td>
                        <td colspan="6">
                            <input id="inptName" class="form-control" />
                        </td>
                        <td class="center-text" style="vertical-align:middle">
                            <button id="save" type="button" class="btn btn-xs btn-success" data-dismiss="modal">Add</button>
                        </td>
                    </tr>
                }*@
            </tbody>
        </table>
    }
    else
    {
        <h4 class="access-denied-page" style="color:black">
            Access denied, you don&acute;t have permission to access this page.
        </h4>
    }
}



<script>
    var url = '@Url.Action("LoadConfigurationPage", "Confirguration")';
    $('#save').click(function () {
        var groupType = {
            "Name": $("#inptName").val(),
            //"Required": $('#inptRequired').is(':checked'),
        };
        $.ajax({
            url: window.location.origin + "/Confirguration/CreateNewUser",
            data: { "groupType": groupType },
            cache: false,
            type: "POST",
            dataType: "html",
            success: function (data, textStatus, XMLHttpRequest) {
                var d = JSON.parse(data);
                if (d.Error === null) {
                    showToast(d.Message, "success");
                    if (d.RedirectUrl !== null) {
                        setTimeout(function () {
                             $("#right-panel").load(url + "?module=_User");
                            //location.reload();
                            //window.location.href = window.location.origin + d.RedirectUrl;
                        }, 2000);
                    }
                }
                else {
                    showToast(d.Error, "error");
                }
            }
        });
    });
    function deleteUser(e) {
        if (confirm("Please click OK to confirm delete.")) {
            $.ajax({
                url: window.location.origin + "/Confirguration/DeleteUser",
                data: { "userId": $(e).data('value') },
                cache: false,
                type: "POST",
                dataType: "html",
                success: function (data, textStatus, XMLHttpRequest) {
                    var d = JSON.parse(data);
                    if (d.Error === null) {
                        showToast(d.Message, "success");
                        $(e).parent().parent().remove();
                    }
                    else {
                        showToast(d.Error, "error");
                    }
                }
            });
        }
    }

    function updateUser(e) {
        var id = $(e).data('value');
        var name = $(e).parent().parent().children("td:nth-child(2)").children('input[type=text]').val();
        //var required = $(e).parent().parent().children("td:nth-child(3)").children('input[type=checkbox]').is(':checked');

        var docType = {
            "DocumentTypeId": id,
            "Name": name,
            //"Required": required,
        };

        $.ajax({
            url: window.location.origin + "/Confirguration/UpdateUser",
            data: { "docType": docType },
            cache: false,
            type: "POST",
            dataType: "html",
            success: function (data, textStatus, XMLHttpRequest) {
                var d = JSON.parse(data);
                if (d.Error === null) {
                    showToast(d.Message, "success");
                    if (d.RedirectUrl !== null) {
                        setTimeout(function () {
                            //location.reload();
                             $("#right-panel").load(url + "?module=_User");
                        }, 2000);
                    }
                }
                else {
                    showToast(d.Error, "error");
                }
            }
        });
    }

    function editUser(e) {
        var id = $(e).data('value');
        var no = $(e).parent().parent().children("td:nth-child(1)").text();
        var name = $(e).parent().parent().children("td:nth-child(2)").text();
        var date = $(e).parent().parent().children("td:nth-child(3)").text();
        var created = $(e).parent().parent().children("td:nth-child(4)").text();
        var updated = $(e).parent().parent().children("td:nth-child(5)").text();

        //var required = $(e).parent().parent().children("td:nth-child(3)").text();
        $(e).parent().parent().children("td:nth-child(1)").html(no);
        $(e).parent().parent().children("td:nth-child(2)").html('<input type="text" class="form-control" id="updateName">');
        $(e).parent().parent().children("td:nth-child(2)").children().val(name);

        //if (required == "False") {
        //    $(e).parent().parent().children("td:nth-child(3)").html('<input type="checkbox" id="updateRequired">');
        //}
        //else {
        //    $(e).parent().parent().children("td:nth-child(3)").html('<input type="checkbox" checked id="updateRequired">');
        //}

        $(e).parent().parent().children("td:nth-child(3)").html(date);
        $(e).parent().parent().children("td:nth-child(4)").html(created);
        $(e).parent().parent().children("td:nth-child(5)").html(updated);
        $(e).parent().parent().children("td:nth-child(6)").html('<a data-value=' + id + ' class="btn btn-xs" style="color:green; padding:0px" title="Update" onclick="updateUser(this)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a> <a data-value=' + id + ' class="btn btn-xs" style="color:red; padding:0px;" title="Close" onclick="closeUser(this)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>');

    }

    function closeUser(e) {
        var id = $(e).data('value');
        var no = $(e).parent().parent().children("td:nth-child(1)").text();
        var name = $(e).parent().parent().children("td:nth-child(2)").children('input[type=text]').val();
        //var required = $(e).parent().parent().children("td:nth-child(3)").children('input[type=checkbox]').is(':checked');
        var date = $(e).parent().parent().children("td:nth-child(3)").text();
        var created = $(e).parent().parent().children("td:nth-child(4)").text();
        var updated = $(e).parent().parent().children("td:nth-child(5)").text();

        $(e).parent().parent().children("td:nth-child(1)").html(no);
        $(e).parent().parent().children("td:nth-child(2)").html(name);
        //debugger
        //if (required == false) {
        //    $(e).parent().parent().children("td:nth-child(3)").html('False');
        //}
        //else {
        //    $(e).parent().parent().children("td:nth-child(3)").html('True');
        //}

        $(e).parent().parent().children("td:nth-child(3)").html(date);
        $(e).parent().parent().children("td:nth-child(4)").html(created);
        $(e).parent().parent().children("td:nth-child(5)").html(updated);
        $(e).parent().parent().children("td:nth-child(6)").html('<a onclick="editUser(this)" class="edit" data-value=' + id + ' title="Edit" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>&nbsp;&nbsp; <a onclick="deleteUser(this);" class="delete" data-value=' + id + ' title="Delete" data-toggle="tooltip"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>');

    }
</script>