﻿@using CP.Models
@model ConfigViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cu = Model.CurrentUser;
    var cond = Model.ConditionTypes;
    ViewBag.Title = "Add New Package Service";
}

<script src="~/Scripts/Packages.js"></script>
<script>
    $(function () {
        init();
    });
</script>

<style>
    .content .form-control {
        font-size: 11px;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }

    .grayout {
        opacity: 0.6; /* Real browsers */
        filter: alpha(opacity = 60); /* MSIE */
        cursor: not-allowed;
    }
</style>

<div class="col-lg-offset-1 col-lg-10">
    <div>
        <h3 class="h3-page-header">Add New Package Service</h3>
    </div>
    <div class="col-lg-12 bg-white" style="padding:0">
        <div class="bs-component" style="font-size:11px;">
            @{
                var caccess = cu.Find(x => x.Keyword == "Configuration");
                if (caccess != null && caccess.IsRead && caccess.IsCreate)
                {
                    <table id="tblPackageServices" class="table table-column-4 table-bordered">
                        <tbody>
                            <tr class="cpBG fontWhite">
                                <td colspan="4">PACKAGE SERVICE INFORMATION</td>
                            </tr>
                            <tr style="color:black">
                                <td style="vertical-align:middle; width:15%">
                                    <label class="font-weight-bold" style="color:black">Service Name<span style="color:red">*</span></label>
                                </td>
                                <td style="vertical-align:middle; width:30%">
                                    <input id="txtServiceName" type="text" class="form-control" placeholder="Service Name" />
                                </td>
                                <td style="vertical-align:middle">
                                    <label class="font-weight-bold" style="color:black">Status<span style="color:red">*</span></label>
                                </td>
                                <td style="vertical-align:middle">
                                    <label>
                                        <input type="radio" name="status" value="true" checked /><span>Active</span>
                                    </label>
                                    &nbsp;
                                    <label>
                                        <input type="radio" name="status" value="false" /><span>Inactive</span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label style="color:black">Service Description</label>
                                </td>
                                <td colspan="3">
                                    <textarea id="txtServiceDesc" maxlength="500" class="form-control" rows="4" style="resize:none;"></textarea>
                                </td>
                            </tr>
                            <tr style="color:black" class="thisRow">
                                <td>
                                    <label class="font-weight-bold" style="color:black">2 Levels Conditions?<span style="color:red">*</span></label>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="cond" id="YesSecond" onchange="initSecondLevelCondition()" value="2" /><span>Yes</span>
                                    </label>
                                    &nbsp;
                                    <label>
                                        <input type="radio" name="cond" id="NoSecond" value="1" onchange="initSecondLevelCondition()" checked /><span>No</span>
                                    </label>
                                </td>
                                <td style="width: 10%">
                                    <label class="font-weight-bold" style="color:black">Price & Conditions<span style="color:red">*</span></label>
                                </td>
                                <td style="vertical-align:middle">                                 
                                    <div id="divFirstLevel">
                                        <input id="txtSC" class="form-control contact" style="display:inline-block; width:10%" placeholder="SC" />/<input id="txtRM" class="form-control contact" style="display:inline-block; width: 10%" placeholder="RM" />
                                        per
                                        <select id="condition" class="form-control" style="display:inline-block; width: 75%">
                                            @foreach (var c in Model.ConditionTypes)
                                            {
                                                <option value="@c.CondTypeId">@c.CondName</option>
                                            }
                                        </select>
                                    </div>
                                    <div id="divSecondLevel">
                                        <br />
                                        <input id="txtSC2" class="form-control contact" style="display:inline-block; width:10%" placeholder="SC" />/<input id="txtRM2" class="form-control contact" style="display:inline-block; width: 10%" placeholder="RM" />
                                        per
                                        <select id="condition2" class="form-control" style="display:inline-block; width: 75%">
                                            @foreach (var c in Model.ConditionTypes)
                                            {
                                                <option value="@c.CondTypeId">@c.CondName</option>
                                            }
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div style="width:100%;">
                        <div class="bottom-left-panel">
                            <label class="invalid-alert" style="display:block;">* is mandatory field.</label>
                        </div>
                        <div class="bottom-right-panel">
                            <button id="btnSavePS" class="btn btn-xs btn-success" data-state="CreateNew">Save</button>
                            <button class="btn btn-xs btn-warning" onclick="clearInput()">Clear</button>
                            <a href="~/Confirguration/Index?module=PackageServices" class="btn btn-xs btn-default">Close</a>
                        </div>
                    </div>
                }
                else
                {
                    <h4 class="access-denied-page" style="color:black">
                        Access denied, you don&acute;t have permission to access this page.
                    </h4>
                }
            }
        </div>
    </div>
</div>