﻿@using CP.Models
@model PackageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cu = Model.CurrentUser;
   // var groups = Model.Groups;
    //var lawFirms = Model.LawFirmProfiles;
    ViewBag.Title = "Add New Package";
    //var position = Model.Positions;
}

<script src="~/Scripts/Packages.js"></script>
<script>
    $(function () {
        init();
    });
</script>

<style>
    .content .form-control {
        font-size: 11px;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }

    .grayout {
        opacity: 0.6; /* Real browsers */
        filter: alpha(opacity = 60); /* MSIE */
        cursor: not-allowed;
    }
</style>

<div class="col-lg-offset-1 col-lg-10">
    <div>
        <h3 class="h3-page-header">Add New Package</h3>
    </div>
    <div class="col-lg-12 bg-white" style="padding:0">
        <div class="bs-component" style="font-size:11px;">
            @{
                var caccess = cu.Find(x => x.Keyword == "Configuration");
                if (caccess != null && caccess.IsRead && caccess.IsCreate)
                {
                    <table id="tblPackage" class="table table-column-8 table-bordered">
                        <tbody>
                            <tr class="cpBG fontWhite">
                                <td colspan="8">PACKAGE INFORMATION</td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <label class="font-weight-bold" style="color:black">Package Name<span style="color:red">*</span></label>
                                </td>
                                <td style="vertical-align:middle; width:30%">
                                    <input id="txtPackageName" type="text" class="form-control" placeholder="Package Name" />
                                </td>
                                <td style="vertical-align:middle">
                                    <label class="font-weight-bold" style="color:black">Price (RM)<span style="color:red">*</span></label>
                                </td>
                                <td style="vertical-align:middle; width:8%">
                                    <input id="txtPrice" type="text" class="form-control contact" placeholder="Price (RM)" />
                                </td>
                                <td style="vertical-align:middle">
                                    <label class="font-weight-bold" style="color:black">Service Credit(SC) Given<span style="color:red">*</span></label>
                                </td>
                                <td>
                                    <input id="txtSC" type="text" class="form-control contact" placeholder="Service Credit" />
                                </td>
                                <td style="vertical-align:middle;">
                                    <label class="font-weight-bold" style="color:black">Validity Period<span style="color:red">*</span></label>
                                </td>
                                <td style="vertical-align:middle; width:8%">
                                    <input id="txtValidityPeriod" type="text" class="form-control contact" placeholder="Months" />
                                </td>
                            </tr>
                            <tr style="color:black" class="thisRow">
                                <td>
                                    <label class="font-weight-bold" style="color:black">Status<span style="color:red">*</span></label>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="status" value="true" checked /><span>Active</span>
                                    </label>
                                    &nbsp;
                                    <label>
                                        <input type="radio" name="status" value="false" /><span>Inactive</span>
                                    </label>
                                </td>

                                <td>
                                    <label class="font-weight-bold" style="color:black">Package Description<span style="color:red">*</span></label>
                                </td>
                                <td colspan="5">
                                    <textarea id="txtDesc" maxlength="500" class="form-control" rows="4" style="resize:none;"></textarea>
                                </td>
                            </tr>
                            <tr style="color:black" class="thisRow">
                                <td style="vertical-align:middle">
                                    <label class="font-weight-bold" style="color:black">Any Sub Services?<span style="color:red">*</span></label>
                                </td>
                                <td style="vertical-align:middle">
                                    <label>
                                        <input type="radio" name="sub" id="subYes" value="true" onchange="initSubServices()" /><span>Yes</span>
                                    </label>
                                    &nbsp;
                                    <label>
                                        <input type="radio" name="sub" id="subNo" value="false" onchange="initSubServices()" checked /><span>No</span>
                                    </label>
                                </td>
                                <td style="vertical-align:middle">
                                    <label class="font-weight-bold" style="color:black">Sub Services<span style="color:red">*</span></label>
                                </td>
                                <td colspan="5" style="vertical-align:middle">
                                    <table id="tblSub" class="table table-bordered sub-table grayout" style="margin-bottom:0px">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="sub_services" value="dtrl">Debtor Trade Record Listing
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div style="width:100%;">
                        <div class="bottom-left-panel">
                            <label class="invalid-alert" style="display:block;">* is mandatory field.</label>
                        </div>
                        <div class="bottom-right-panel">
                            <button id="btnSave" class="btn btn-xs btn-success" data-state="CreateNew">Save</button>
                            <button class="btn btn-xs btn-warning" onclick="clearInput()">Clear</button>
                            <a href="~/Confirguration/Index?module=Packages" class="btn btn-xs btn-default">Close</a>
                        </div>
                    </div>
                }
                else
                {
                    <h4 class="access-denied-page" style="color:black">
                        Access denied, you don&acute;t have permission to access this page.
                    </h4>
                }
            }
        </div>
    </div>
</div>