﻿@using CP.Models
@model GroupViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var group = Model.Group;
    var accesses = Model.UserAccess;
    var currentUser = Model.CurrentUser;
    ViewBag.Title = "Group Preview";
}


<script src="~/Scripts/group.js"></script>
<script>
    $(function () {
        init();
    });
</script>

<style>
    .content .form-control {
        font-size: 11px;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }
</style>

<input type="hidden" id="groupId" value="@group.UserPositionId" />

<div class="col-lg-offset-1 col-lg-10">
    <div>
        <h3 class="h3-page-header">Group Preview</h3>
    </div>
    <div class="col-lg-12 bg-white" style="padding:0px">
        <div class="bs-component" style="font-size:11px;">
            @{
                var caccess = currentUser.Find(x => x.Keyword == "Configuration");
                if (caccess != null && caccess.IsRead)
                {
                    <table id="tblGroup" class="table table-col-4 table-bordered">
                        <tbody>
                            <tr class="cpBG fontWhite">
                                <td colspan="4">GROUP INFORMATION</td>
                            </tr>
                            <tr style="color:black">
                                <td style="vertical-align:middle" width="16%">
                                    <label style="color:black" class="font-weight-bold">Group Name</label>
                                </td>
                                <td width="28%">
                                    @group.Name
                                </td>
                                <td style="vertical-align:middle" width="28%">
                                    <label style="color:black" class="font-weight-bold">Remark / Description</label>
                                </td>
                                <td width="28%">
                                    @group.Description
                                </td>
                            </tr>

                            <tr class="cpBG fontWhite">
                                <td colspan="5">GROUP ACCESS</td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <table id="tblGroupAccess" class="table table-bordered sub-table">
                                        <thead>
                                            <tr style="color:black">
                                                <th rowspan="2" width="10%">Module</th>
                                                <th colspan="5">Access</th>
                                            </tr>
                                            <tr style="color:black">
                                                <th>View Only<p style="color:red" class="sub-th">view only access</p></th>
                                                <th>Create Only<p style="color:red" class="sub-th">create only access </p></th>
                                                <th>Update Only<p style="color:red" class="sub-th">update only access</p></th>
                                                <th>Delete Only<p style="color:red" class="sub-th">delete only access</p></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var a in Model.AccessTypes)
                                                {
                                                    var access = accesses.Find(x => x.AccessId == a.AccessId);
                                                    <tr>
                                                        <td data-access="@a.AccessId" style="color:black" width="15.55%">
                                                            @a.Name
                                                        </td>
                                                        <td width="21%">
                                                            @{
                                                                if (access != null && access.IsRead)
                                                                {
                                                                    <input type="checkbox" name="readonly" disabled checked @*onchange="validateCheck(this)"*@ />
                                                                }
                                                                else
                                                                {
                                                                    <input type="checkbox" name="readonly" disabled @*onchange="validateCheck(this)"*@ />
                                                                }
                                                            }
                                                        </td>
                                                        <td width="21%">
                                                            @{
                                                                if (access != null && access.IsCreate)
                                                                {
                                                                    <input type="checkbox" name="create" disabled checked @*onchange="validateCheck(this)"*@ />
                                                                }
                                                                else
                                                                {
                                                                    <input type="checkbox" name="create" disabled @*onchange="validateCheck(this)"*@ />
                                                                }
                                                            }

                                                        </td>
                                                        <td width="21%">
                                                            @{
                                                                if (access != null && access.IsUpdate)
                                                                {
                                                                    <input type="checkbox" name="update" disabled checked @*onchange="validateCheck(this)"*@ />
                                                                }
                                                                else
                                                                {
                                                                    <input type="checkbox" name="update" disabled @*onchange="validateCheck(this)"*@ />
                                                                }
                                                            }
                                                        </td>
                                                        <td width="21%">
                                                            @{
                                                                if (access != null && access.IsDelete)
                                                                {
                                                                    <input type="checkbox" name="delete" disabled checked @*onchange="validateCheck(this)"*@ />
                                                                }
                                                                else
                                                                {
                                                                    <input type="checkbox" name="delete" disabled @*onchange="validateCheck(this)"*@ />
                                                                }
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="text-align:right; margin-top:5px;">
                        @if (caccess.IsUpdate)
                        {
                            <a href="@Url.Action("EditGroup", "Confirguration", new { groupId = group.UserPositionId })" class="btn btn-xs btn-danger">Edit</a>
                        }
                        <a href="~/Confirguration/Index?module=Group" class="btn btn-xs btn-default">Close</a>
                    </div>
                }
                else
                {
                    <h4 class="access-denied-page" style="color:black">
                        Access denied, you don&acute;t have permission to access this page.
                    </h4>
                }
            }
        </div>
    </div>
</div>