﻿@using CP.Models
@model ConfigViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cu = Model.CurrentUser;
    var cond = Model.ConditionTypes;
    var ps = Model.PackageService;
    var psc = Model.PackageServiceConditions;
    ViewBag.Title = "Edit Package Service";
    var c = "checked";
    var hidden = "style=display:none";
}

<script src="~/Scripts/PackageServiceType.js"></script>
<script>
    $(function () {
        init();
    });
</script>

<style>
    .content .form-control {
        font-size: 11px;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }

    .grayout {
        opacity: 0.6; /* Real browsers */
        filter: alpha(opacity = 60); /* MSIE */
        cursor: not-allowed;
    }
</style>

<div class="col-lg-offset-1 col-lg-10">
    <div>
        <h3 class="h3-page-header">Edit Manual Service</h3>
    </div>
    <div class="col-lg-12 bg-white" style="padding:0">
        <div class="bs-component" style="font-size:11px;">
            @{
                var caccess = cu.Find(x => x.Keyword == "Configuration");
                if (caccess != null && caccess.IsRead && caccess.IsUpdate)
                {
                    <input id="txtServiceId" hidden value="@ps.ServiceId" />
                    <table id="tblPackageServices" class="table table-column-4 table-bordered">
                        <tbody>
                            <tr class="cpBG fontWhite">
                                <td colspan="4">PACKAGE SERVICE INFORMATION</td>
                            </tr>
                            <tr style="color:black">
                                <td style="vertical-align:middle; width:15%">
                                    <label class="font-weight-bold" style="color:black">Service Name<span style="color:red">*</span></label>
                                </td>
                                <td style="vertical-align:middle; width:30%">
                                    <input id="txtServiceName" type="text" class="form-control" value="@ps.ServiceName" placeholder="Service Name" />
                                </td>
                                <td style="vertical-align:middle">
                                    <label class="font-weight-bold" style="color:black">Status<span style="color:red">*</span></label>
                                </td>
                                <td style="vertical-align:middle">
                                    <label>
                                        <input type="radio" class="thisCb" name="status" value="true" @{ if (ps.Status) { @c } } /><span>Active</span>
                                    </label>
                                    <label> </label>
                                    <label>
                                        <input type="radio" name="status" value="false" @{ if (!ps.Status) { @c } } /><span>Inactive</span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label style="color:black">Service Description</label>
                                </td>
                                <td colspan="3">
                                    <textarea id="txtServiceDesc" maxlength="500" class="form-control" rows="4" style="resize:none;">@ps.ServiceDesc</textarea>
                                </td>
                            </tr>
                            <tr style="color:black" class="thisRow">
                                <td>
                                    <label class="font-weight-bold" style="color:black">2 Levels Conditions?<span style="color:red">*</span></label>
                                </td>
                                <td>
                                    <label>
                                        <input type="radio" name="cond" id="YesSecond" onchange="initSecondLevelCondition()" value="true" @{ if (ps.Condition2) { @c } } /><span>Yes</span>
                                    </label>
                                    <label> </label>
                                    <label>
                                        <input type="radio" class="thisCb" name="cond" id="NoSecond" value="false" onchange="initSecondLevelCondition()" @{ if (!ps.Condition2) { @c } } /><span>No</span>
                                    </label>
                                </td>
                                <td style="width: 10%">
                                    <label class="font-weight-bold" style="color:black">Price & Conditions<span style="color:red">*</span></label>
                                </td>
                                <td style="vertical-align:middle">
                                    <div id="divFirstLevel">
                                        <input id="txtSC" class="form-control money" value="@ps.Point1.ToString("F")" style="display:inline-block; width:10%" placeholder="SC" />/<input id="txtRM" value="@ps.Price1.ToString("F")" class="form-control money" style="display:inline-block; width: 10%" placeholder="RM" />
                                        per
                                        <select id="condition" class="form-control thisSelect" style="display:inline-block; width: 75%">
                                            @foreach (var ct in Model.ConditionTypes)
                                            {
                                                if (ps.ServiceConditionId1 == ct.CondTypeId)
                                                {
                                                    <option selected value="@ct.CondTypeId">@ct.CondName</option>
                                                }
                                                else
                                                {
                                                    <option value="@ct.CondTypeId">@ct.CondName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div id="divSecondLevel" @{ if (!ps.Condition2) { @hidden } } >
                                        <br />
                                        <input id="txtSC2" class="form-control money" value="@ps.Point2.ToString("F")" style="display:inline-block; width:10%" placeholder="SC" />/<input id="txtRM2" value="@ps.Price2.ToString("F")" class="form-control money" style="display:inline-block; width: 10%" placeholder="RM" />
                                        per
                                        <select id="condition2" class="form-control thisSelect" style="display:inline-block; width: 75%">
                                            @foreach (var ct in Model.ConditionTypes)
                                            {
                                                if (ps.ServiceConditionId2 == ct.CondTypeId)
                                                {
                                                    <option selected value="@ct.CondTypeId">@ct.CondName</option>
                                                }
                                                else
                                                {
                                                    <option value="@ct.CondTypeId">@ct.CondName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div style="width:100%;">
                        <div class="bottom-left-panel">
                            <label class="invalid-alert" style="display:block;">* is mandatory field.</label>
                        </div>
                        <div class="bottom-right-panel">
                            <button id="btnSave" class="btn btn-xs btn-success" data-state="Update">Save</button>
                            <button class="btn btn-xs btn-warning" onclick="clearInput()">Clear</button>
                            <a href="~/Confirguration/Index?module=PackageServicesType" class="btn btn-xs btn-default">Close</a>
                        </div>
                    </div>
                }
                else
                {
                    <h4 class="access-denied-page" style="color:black">
                        Access denied, you don&acute;t have permission to access this page.
                    </h4>
                }
            }
        </div>
    </div>
</div>