﻿@using CP.Models
@model ConfigViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cu = Model.CurrentUser;
    var cond = Model.ConditionTypes;
    var ps = Model.PackageService;
    var psc = Model.PackageServiceConditions;
    ViewBag.Title = "Edit Package Service Preview";
    var c = "checked";
    var hidden = "style=display:none";
}

<style>
    .content .form-control {
        font-size: 11px;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }

    .grayout {
        opacity: 0.6; /* Real browsers */
        filter: alpha(opacity = 60); /* MSIE */
        cursor: not-allowed;
    }
</style>

<div class="col-lg-offset-1 col-lg-10">
    <div>
        <h3 class="h3-page-header">Manual Service Preview</h3>
    </div>
    <div class="col-lg-12 bg-white" style="padding:0">
        <div class="bs-component" style="font-size:11px;">
            @{
                var caccess = cu.Find(x => x.Keyword == "Configuration");
                if (caccess != null && caccess.IsRead)
                {
                    <input id="txtServiceId" hidden value="@ps.ServiceId" />
                    <table id="tblPackageServices" class="table table-column-4 table-bordered">
                        <tbody>
                            <tr class="cpBG fontWhite">
                                <td colspan="4">PACKAGE SERVICE INFORMATION</td>
                            </tr>
                            <tr style="color:black">
                                <td style="vertical-align:middle; width:15%">
                                    <label class="font-weight-bold" style="color:black">Service Name<span style="color:red">*</span></label>
                                </td>
                                <td style="vertical-align:middle; width:30%">
                                    @ps.ServiceName
                                </td>
                                <td style="vertical-align:middle">
                                    <label class="font-weight-bold" style="color:black">Status<span style="color:red">*</span></label>
                                </td>
                                <td style="vertical-align:middle">
                                    @{
                                        var status = "";
                                        var color = "";
                                    }
                                    @switch (ps.Status)
                                    {
                                        case true:
                                            status = "Active";
                                            color = "green";
                                            break;
                                        case false:
                                            status = "Inactive";
                                            color = "red";
                                            break;
                                    }

                                    <label style="font-weight:bold; color:@color">@status</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label style="color:black">Service Description</label>
                                </td>
                                <td colspan="3" class="blackFont">
                                    @ps.ServiceDesc
                                </td>
                            </tr>
                            <tr style="color:black" class="thisRow">
                                <td>
                                    <label class="font-weight-bold" style="color:black">2 Levels Conditions?<span style="color:red">*</span></label>
                                </td>
                                <td>
                                    <label>
                                        @if (ps.Condition2)
                                        {
                                            <span>Yes</span>
                                        }
                                        else
                                        {
                                            <span>No</span>
                                        }
                                    </label>
                                </td>
                                <td style="width: 10%">
                                    <label class="font-weight-bold" style="color:black">Price & Conditions<span style="color:red">*</span></label>
                                </td>
                                <td style="vertical-align:middle">
                                    <div id="divFirstLevel">
                                        @ps.Point1.ToString("F") / @ps.Price1.ToString("F")
                                        per
                                        @foreach (var ct in Model.ConditionTypes)
                                        {
                                            if (ps.ServiceConditionId1 == ct.CondTypeId)
                                            {
                                                @ct.CondName
                                            }
                                        }
                                    </div>
                                    <div id="divSecondLevel" @{ if (!ps.Condition2) { @hidden  } }>
                                        <br />
                                        @ps.Point2.ToString("F") / @ps.Price2.ToString("F")
                                        per
                                        @foreach (var ct in Model.ConditionTypes)
                                        {
                                            if (ps.ServiceConditionId2 == ct.CondTypeId)
                                            {
                                                @ct.CondName
                                            }
                                        }
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div style="text-align:right; margin-top:5px;">
                        @if (caccess.IsUpdate)
                        {
                            <a href="@Url.Action("EditPackageServiceType", "Confirguration", new { serviceId = ps.ServiceId })" class="btn btn-xs btn-danger">Edit</a>
                        }
                        <a href="~/Confirguration/Index?module=PackageServicesType" class="btn btn-xs btn-default">Close</a>
                    </div>
                }
                else
                {
                    <h4 class="access-denied-page" style="color:black">
                        Access denied, you don&acute;t have permission to access this page.
                    </h4>
                }
            }
        </div>
    </div>
</div>