﻿@using CP.Models
@model PackageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cu = Model.CurrentUser;
    var pd = Model.PackageServicesType;
    var sops = Model.Sops;
    var package = Model.Package;
    var pss = Model.PackageService_Sops;
    ViewBag.Title = "Edit Package Preview";
    var c = "checked";
}

<style>
    .content .form-control {
        font-size: 11px;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }

    .grayout {
        opacity: 0.6; /* Real browsers */
        filter: alpha(opacity = 60); /* MSIE */
        cursor: not-allowed;
    }
</style>

<div class="col-lg-offset-1 col-lg-10">
    <div>
        <h3 class="h3-page-header">Edit Package Preview</h3>
    </div>
    <div class="col-lg-12 bg-white" style="padding:0">
        <div class="bs-component" style="font-size:11px;">
            @{
                var caccess = cu.Find(x => x.Keyword == "Configuration");
                if (caccess != null && caccess.IsRead)
                {
                    <table id="tblPackage" class="table table-column-8 table-bordered">
                        <tbody>
                            <tr class="cpBG fontWhite">
                                <td colspan="8">PACKAGE INFORMATION</td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle">
                                    <label class="font-weight-bold" style="color:black">Package Name</label>
                                </td>
                                <td style="vertical-align:middle; width:30%" class="blackFont">
                                    @package.PackageName
                                </td>
                                <td style="vertical-align:middle">
                                    <label class="font-weight-bold" style="color:black">Price (RM)</label>
                                </td>
                                <td style="vertical-align:middle; width:8%" class="blackFont">
                                    @package.SubscriptionFee_RM.ToString("F")
                                </td>
                                <td style="vertical-align:middle">
                                    <label class="font-weight-bold" style="color:black">Service Credit(SC)</label>
                                </td>
                                <td class="blackFont">
                                    @package.CreditGiven.ToString("F")
                                </td>
                                <td style="vertical-align:middle;">
                                    <label class="font-weight-bold" style="color:black">Validity Period</label>
                                </td>
                                <td style="vertical-align:middle; width:8%" class="blackFont">
                                    @package.Validity_Months
                                </td>
                            </tr>
                            <tr style="color:black" class="thisRow">
                                <td>
                                    <label class="font-weight-bold" style="color:black">Status</label>
                                </td>
                                <td>
                                    <label>
                                        @{
                                            var status = "";
                                            var color = "";
                                        }
                                        @switch (package.Status)
                                        {
                                            case true:
                                                status = "Active";
                                                color = "green";
                                                break;
                                            case false:
                                                status = "Inactive";
                                                color = "red";
                                                break;
                                        }

                                        <label style="font-weight:bold; color:@color">@status</label>
                                    </label>

                                </td>

                                <td>
                                    <label class="font-weight-bold" style="color:black">Package Description</label>
                                </td>
                                <td colspan="5" class="blackFont">
                                    @package.PackageDesc
                                </td>
                            </tr>
                            <tr style="color:black" class="thisRow">
                                <td>
                                    <label class="font-weight-bold" style="color:black">SOP Services</label>
                                </td>
                                <td>
                                    <table class="table table-bordered sub-table thisTable" style="margin-bottom:0px">
                                        <tbody>
                                            @foreach (var s in sops)
                                            {
                                                <tr>
                                                    <td>
                                                        @{
                                                            var ps = pss.Find(x => x.SopId == s.SopId && x.Type == "Sop");

                                                            if (ps != null)
                                                            {
                                                                <input disabled type="checkbox" class="thisCb" name="packages_sop_type" @{ if (ps.Active) { @c  } } data-packageserviceid="@ps.PackageServiceId" data-type="Sop" value="@s.SopId" id="@s.SopId"> <label for="@s.SopId">@s.Name</label>
                                                            }
                                                            else
                                                            {
                                                                <input disabled type="checkbox" class="thisCb" name="packages_sop_type" data-type="Sop" value="@s.SopId" id="@s.SopId"> <label for="@s.SopId">@s.Name</label>
                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <label class="font-weight-bold" style="color:black">Manual Services</label>
                                </td>
                                <td colspan="5">
                                    <table class="table table-bordered sub-table thisTable" style="margin-bottom:0px">
                                        <tbody>
                                            @foreach (var s in pd)
                                            {
                                                <tr>
                                                    <td>
                                                        @{
                                                            var ps = pss.Find(x => x.ServiceTypeId == s.ServiceId && x.Type == "Service");

                                                            if (ps != null)
                                                            {
                                                                <input disabled type="checkbox" class="thisCb" name="packages_service_type" @{ if (ps.Active) { @c  } } data-packageserviceid="@ps.PackageServiceId" data-type="Service" value="@s.ServiceId" id="@s.ServiceId"> <label for="@s.ServiceId">@s.ServiceName</label>
                                                            }
                                                            else
                                                            {
                                                                <input disabled type="checkbox" class="thisCb" name="packages_service_type" data-type="Service" value="@s.ServiceId" id="@s.ServiceId"> <label for="@s.ServiceId">@s.ServiceName</label>
                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="text-align:right; margin-top:5px;">
                        @if (caccess.IsUpdate)
                        {
                            <a href="@Url.Action("EditPackage", "Confirguration", new { packageId = package.PackageId })" class="btn btn-xs btn-danger">Edit</a>
                        }
                        <a href="~/Confirguration/Index?module=Packages" class="btn btn-xs btn-default">Close</a>
                    </div>
                }
                else
                {
                    <h4 class="access-denied-page" style="color:black">
                        Access denied, you don&acute;t have permission to access this page.
                    </h4>
                }
            }
        </div>
    </div>
</div>