﻿@using CP.Models
@model UserViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cu = Model.CurrentUser;
    var groups = Model.Groups;
    var lawFirms = Model.LawFirmProfiles;
    var user = Model.User;
    string c = "checked";
    ViewBag.Title = "Edit User";
    var position = Model.Positions;
}

<script src="~/Scripts/user.js"></script>
<script>
    $(function () {
        init();
    });
</script>

<style>
    .content .form-control {
        font-size: 11px;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }
</style>

<input type="hidden" hidden value="@user.UserId" id="userId" />
<input type="hidden" hidden value="@user.Name" id="oldName" />

<div class="col-lg-offset-1 col-lg-10">
    <div>
        <h3 class="h3-page-header">Edit User</h3>
    </div>
    <div class="col-lg-12 bg-white" style="padding:0">
        <div class="bs-component" style="font-size:11px;">
            @{
                var caccess = cu.Find(x => x.Keyword == "Configuration");
                if (caccess != null && caccess.IsRead && caccess.IsCreate && caccess.IsUpdate)
                {
                    <table id="tblAccount" class="table table-column-4 table-bordered">
                        <tbody>
                            <tr class="cpBG fontWhite">
                                <td colspan="4">USER INFORMATION</td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle" width="16%">
                                    <label class="font-weight-bold" style="color:black">User ID<span style="color:red">*</span></label>
                                </td>
                                <td width="34%">
                                    <input id="inptUsername" value="@user.Name" maxlength="50" type="text" class="form-control" />
                                </td>
                                <td style="vertical-align:middle" width="16%">
                                    <label class="font-weight-bold" style="color:black">Name<span style="color:red">*</span></label>
                                </td>
                                <td width="34%">
                                    <input id="inptName" value="@user.Fullname" maxlength="100" type="text" class="form-control" />
                                </td>
                            </tr>
                            <tr style="color:black" class="thisRow">
                                <td style="vertical-align:middle">
                                    <label class="font-weight-bold" style="color:black">Group<span style="color:red">*</span></label>
                                </td>
                                <td>
                                    <select id="inptGroup" class="form-control">
                                        @foreach (var g in groups)
                                        {
                                            if (user.Position == g.UserPositionId)
                                            {
                                                <option selected value="@g.UserPositionId">@g.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@g.UserPositionId">@g.Name</option>
                                            }
                                        }
                                    </select>
                                </td>
                                <td style="vertical-align:middle">
                                    <label class="font-weight-bold" style="color:black">Position<span style="color:red">*</span></label>
                                </td>
                                <td>
                                    <select id="inptPosition" class="form-control">
                                        @foreach (var p in position)
                                        {
                                            <option value="@p.PositionId">@p.Name</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            @if(user.Position == "47461275-5753-47D1-8A8B-9A26D91E03A4")
                            {
                                <tr class="thatRow">
                                    <td style="vertical-align:middle; color:black;" class="font-weight-bold">
                                        Law Firm<span style="color:red">*</span>
                                    </td>
                                    <td colspan="3">
                                        <select id="inptProfile" class="form-control">
                                            <option disabled></option>
                                            @foreach (var l in lawFirms)
                                            {
                                                if (l.LawFirmProfileId == user.ProfileId)
                                                {
                                                    <option selected value="@l.LawFirmProfileId">@l.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@l.LawFirmProfileId">@l.Name</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                </tr>
                            }
                            <tr style="color:black">
                                <td style="vertical-align:middle">
                                    <label class="grey-title">Status</label>
                                </td>
                                <td style="vertical-align:middle">
                                    <label>
                                        <input type="radio" name="status" value="true" @if(user.Active){@c} /><span>Active</span>
                                    </label>
                                    &nbsp;
                                    <label>
                                        <input type="radio" name="status" value="false" @if(!user.Active){@c} /><span>Inactive</span>
                                    </label>
                                </td>
                                <td style="vertical-align:middle">
                                    <label class="font-weight-bold" style="color:black">Email<span style="color:red">*</span></label>
                                </td>
                                <td>
                                    <input id="inptEmail" value="@user.Email" max="50" type="text" class="form-control" />
                                </td>
                            </tr>
                            <tr style="color:black">
                                <td style="vertical-align:middle">
                                    <label class="grey-title">Remark</label>
                                </td>
                                <td colspan="3">
                                    <textarea id="inptRemark" maxlength="500" class="form-control" rows="4" style="resize:none;">@user.Remark</textarea>
                                </td>
                            </tr>
                            @*<tr style="background-color:#3e7bc7;color:white;">
                                    <td colspan="4">ACCOUNT ACCESS (WEB)</td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <table id="tblAccountAccess" class="table table-bordered sub-sub-table">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2">Module</th>
                                                    <th colspan="4">Access</th>
                                                </tr>
                                                <tr>
                                                    <th>View Only<p class="sub-th">view only access</p></th>
                                                    <th>Editor<p class="sub-th">view, create &amp; update only access </p></th>
                                                    <th>Admin<p class="sub-th">view, create, update &amp; delete access</p></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    foreach (var a in Model.AccessTypes)
                                                    {
                                                        <tr>
                                                            <td data-access="@a.AccessId">
                                                                @a.Name
                                                            </td>
                                                            <td>
                                                                <input type="checkbox" name="readonly" onchange="validateCheck(this)" />
                                                            </td>
                                                            <td>
                                                                <input type="checkbox" name="editor" onchange="validateCheck(this)" />
                                                            </td>
                                                            <td>
                                                                <input type="checkbox" name="admin" onchange="validateCheck(this)" />
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>*@
                        </tbody>
                    </table>
                    <div style="width:100%;">
                        <div class="bottom-left-panel">
                            <label class="invalid-alert" style="display:block;">* is mandatory field.</label>
                        </div>
                        <div class="bottom-right-panel">
                            <button id="btnSave" class="btn btn-xs btn-success" data-state="Update">Save</button>
                            <button id="btnResetPassword" class="btn btn-xs btn-danger">Reset Password</button>
                            <button class="btn btn-xs btn-warning" onclick="clearInput()">Clear</button>
                            <a href="~/Confirguration/Index?module=User" class="btn btn-xs btn-default">Close</a>
                        </div>
                    </div>
                }
                else
                {
                    <h4 class="access-denied-page" style="color:black">
                        Access denied, you don&acute;t have permission to access this page.
                    </h4>
                }
            }
        </div>
    </div>
</div>

<script>
    $('#inptGroup').on('change', function () {
        var value = this.value;
        if (value === "47461275-5753-47D1-8A8B-9A26D91E03A4") {
            var block = '<tr class="thatRow">' +
                '<td style="vertical-align:middle; color:black;" class="font-weight-bold">Law Firm<span style="color:red">*</span></td>' +
                '<td colspan=3><select id="inptProfile" class="form-control"><option disabled></option> @foreach (var l in lawFirms) { <option value="@l.LawFirmProfileId">@l.Name</option> } </select></td>' +
                '</tr>';


            $('.thisRow').last().after(block);
        }
        else {
            $('.thatRow').remove();
        }
    });
</script>