﻿@using CP.Models
@model ConfigurationSopViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cu = Model.CurrentUser;
    var sop = Model.Sop;
    var sopRequiredDocs = Model.SopShowInSelects;
    ViewBag.Title = "Edit SOP Service";
    var c = "checked";
}

<script src="~/Scripts/Sop.js"></script>
<script>
    $(function () {
        init();
    });
</script>

<style>
    .content .form-control {
        font-size: 11px;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }

    .grayout {
        opacity: 0.6; /* Real browsers */
        filter: alpha(opacity = 60); /* MSIE */
        cursor: not-allowed;
    }
</style>

<div class="col-lg-offset-1 col-lg-10">
    <div>
        <h3 class="h3-page-header">Edit SOP Service</h3>
    </div>
    <div class="col-lg-12 bg-white" style="padding:0">
        <div class="bs-component" style="font-size:11px;">
            @{
                var caccess = cu.Find(x => x.Keyword == "Configuration");
                if (caccess != null && caccess.IsRead && caccess.IsUpdate)
                {
                    <input id="SopId" hidden value="@sop.SopId" />
                    <table id="tblSOPServices" class="table table-column-4 table-bordered">
                        <tbody>
                            <tr class="cpBG fontWhite">
                                <td colspan="4">SOP SERVICE INFORMATION</td>
                            </tr>
                            <tr style="color:black">
                                <td style="vertical-align:middle; width:15%">
                                    <label class="font-weight-bold" style="color:black">SOP Service Name<span style="color:red">*</span></label>
                                </td>
                                <td style="vertical-align:middle; width:30%">
                                    <input id="Name" type="text" class="form-control" value="@sop.Name" placeholder="SOP Service Name" />
                                </td>
                                <td style="vertical-align:middle">
                                    <label class="font-weight-bold" style="color:black">Status<span style="color:red">*</span></label>
                                </td>
                                <td style="vertical-align:middle">
                                    <label>
                                        <input type="radio" class="thisCb" name="status" value="true" @{ if (sop.Status) { @c  } } /><span>Active</span>
                                    </label>
                                    <label> </label>
                                    <label>
                                        <input type="radio" name="status" value="false" @{ if (!sop.Status) { @c  } } /><span>Inactive</span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label style="color:black">SOP Service Description</label>
                                </td>
                                <td colspan="3">
                                    <textarea id="Description" maxlength="500" class="form-control" rows="4" style="resize:none;">@sop.Description</textarea>
                                </td>
                            </tr>
                            <tr style="color:black" class="thisRow">

                                <td style="width: 10%">
                                    <label class="font-weight-bold" style="color:black">Price & Conditions<span style="color:red">*</span></label>
                                </td>
                                <td style="vertical-align:middle" colspan="3">
                                    <div id="divFirstLevel">
                                        <input id="Point" class="form-control money" value="@sop.Point.ToString("F")" style="display:inline-block; width:10%" placeholder="SC" />/<input id="Price" value="@sop.Price.ToString("F")" class="form-control money" style="display:inline-block; width: 10%" placeholder="RM" />
                                        per SOP
                                        @*<select id="condition" class="form-control thisSelect" style="display:inline-block; width: 75%">
                                                @foreach (var ct in Model.ConditionTypes)
                                                {
                                                    if (ps.ServiceConditionId1 == ct.CondTypeId)
                                                    {
                                                        <option selected value="@ct.CondTypeId">@ct.CondName</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@ct.CondTypeId">@ct.CondName</option>
                                                    }
                                                }
                                            </select>*@
                                    </div>
                                    @*<div id="divSecondLevel" @{ if (!ps.Condition2) { @hidden  } }>
                                            <br />
                                            <input id="txtSC2" class="form-control money" value="@ps.Point2.ToString("F")" style="display:inline-block; width:10%" placeholder="SC" />/<input id="txtRM2" value="@ps.Price2.ToString("F")" class="form-control money" style="display:inline-block; width: 10%" placeholder="RM" />
                                            per
                                            <select id="condition2" class="form-control thisSelect" style="display:inline-block; width: 75%">
                                                @foreach (var ct in Model.ConditionTypes)
                                                {
                                                    if (ps.ServiceConditionId2 == ct.CondTypeId)
                                                    {
                                                        <option selected value="@ct.CondTypeId">@ct.CondName</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@ct.CondTypeId">@ct.CondName</option>
                                                    }
                                                }
                                            </select>
                                        </div>*@
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div style="width:100%;">
                        <div class="bottom-left-panel">
                            <label class="invalid-alert" style="display:block;">* is mandatory field.</label>
                        </div>
                        <div class="bottom-right-panel">
                            <button id="btnSave" class="btn btn-xs btn-success" data-state="Update">Save</button>
                            <button class="btn btn-xs btn-warning" onclick="clearInput()">Clear</button>
                            <a href="~/Confirguration/Index?module=PackageServicesType" class="btn btn-xs btn-default">Close</a>
                        </div>
                    </div>
                }
                else
                {
                    <h4 class="access-denied-page" style="color:black">
                        Access denied, you don&acute;t have permission to access this page.
                    </h4>
                }
            }
        </div>
    </div>
</div>