﻿@using CP.Models
@model UserViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cu = Model.CurrentUser;
    var groups = Model.Groups;
    var lawFirms = Model.LawFirmProfiles;
    var user = Model.User;
    string c = "checked";
    ViewBag.Title = "Preview User";
    var position = Model.Positions;
}

<script src="~/Scripts/user.js"></script>
<script>
    $(function () {
        init();
    });
</script>

<style>
    .content .form-control {
        font-size: 11px;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }
</style>

<input type="hidden" hidden value="@user.UserId" id="userId" />
<input type="hidden" hidden value="@user.Name" id="oldName" />

<div class="col-lg-offset-1 col-lg-10">
    <div>
        <h3 class="h3-page-header">User Preview</h3>
    </div>
    <div class="col-lg-12 bg-white" style="padding:0">
        <div class="bs-component" style="font-size:11px;">
            @{
                var caccess = cu.Find(x => x.Keyword == "Configuration");
                if (caccess != null && caccess.IsRead)
                {
                    <table id="tblAccount" class="table table-column-4 table-bordered">
                        <tbody>
                            <tr class="cpBG fontWhite">
                                <td colspan="4">USER INFORMATION</td>
                            </tr>
                            <tr style="color:black">
                                <td style="vertical-align:middle" width="16">
                                    <label class="font-weight-bold">User ID</label>
                                </td>
                                <td width="34%">
                                    @user.Name
                                </td>
                                <td style="vertical-align:middle" width="16%">
                                    <label class="font-weight-bold">Name</label>
                                </td>
                                <td width="34%">
                                    @user.Fullname
                                </td>
                            </tr>
                            <tr style="color:black" class="thisRow">
                                <td style="vertical-align:middle">
                                    <label class="font-weight-bold">Group</label>
                                </td>
                                <td>
                                    @foreach (var g in groups)
                                    {
                                        if (user.Position == g.UserPositionId)
                                        {
                                            @g.Name
                                        }
                                    }
                                </td>
                                <td style="vertical-align:middle">
                                    <label class="font-weight-bold">Position</label>
                                </td>
                                <td>
                                </td>
                            </tr>
                            @if (user.Position == "47461275-5753-47D1-8A8B-9A26D91E03A4")
                            {
                                <tr class="thatRow">
                                    <td style="vertical-align:middle; color:black;" class="font-weight-bold">
                                        Law Firm
                                    </td>
                                    <td colspan="3" style="color:black">
                                        @foreach (var l in lawFirms)
                                        {
                                            if (l.LawFirmProfileId == user.ProfileId)
                                            {
                                                @l.Name
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                            <tr style="color:black">
                                <td style="vertical-align:middle">
                                    <label class="grey-title">Status</label>
                                </td>
                                <td style="vertical-align:middle">
                                    <label>
                                        <input type="radio" name="status" value="true" @if (user.Active) { @c } disabled /><span>Active</span>
                                    </label>
                                    &nbsp;
                                    <label>
                                        <input type="radio" name="status" value="false" @if (!user.Active) { @c } disabled /><span>Inactive</span>
                                    </label>
                                </td>
                                <td style="vertical-align:middle">
                                    <label class="font-weight-bold">Email</label>
                                </td>
                                <td>
                                    @user.Email
                                </td>
                            </tr>
                            <tr style="color:black">
                                <td style="vertical-align:middle">
                                    <label class="grey-title">Remark</label>
                                </td>
                                <td colspan="3">
                                    @user.Remark
                                </td>
                            </tr>
                            @*<tr style="background-color:#3e7bc7;color:white;">
                                    <td colspan="4">ACCOUNT ACCESS (WEB)</td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <table id="tblAccountAccess" class="table table-bordered sub-sub-table">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2">Module</th>
                                                    <th colspan="4">Access</th>
                                                </tr>
                                                <tr>
                                                    <th>View Only<p class="sub-th">view only access</p></th>
                                                    <th>Editor<p class="sub-th">view, create &amp; update only access </p></th>
                                                    <th>Admin<p class="sub-th">view, create, update &amp; delete access</p></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    foreach (var a in Model.AccessTypes)
                                                    {
                                                        <tr>
                                                            <td data-access="@a.AccessId">
                                                                @a.Name
                                                            </td>
                                                            <td>
                                                                <input type="checkbox" name="readonly" onchange="validateCheck(this)" />
                                                            </td>
                                                            <td>
                                                                <input type="checkbox" name="editor" onchange="validateCheck(this)" />
                                                            </td>
                                                            <td>
                                                                <input type="checkbox" name="admin" onchange="validateCheck(this)" />
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>*@
                        </tbody>
                    </table>
                    <div style="text-align:right; margin-top:5px;">
                        @if (caccess.IsUpdate)
                        {
                            <a href="@Url.Action("EditUser", "Confirguration", new { userId = user.UserId })" class="btn btn-xs btn-danger">Edit</a>
                        }
                        <a href="~/Confirguration/Index?module=User" class="btn btn-xs btn-default">Close</a>
                    </div>
                }
                else
                {
                    <h4 class="access-denied-page" style="color:black">
                        Access denied, you don&acute;t have permission to access this page.
                    </h4>
                }
            }
        </div>
    </div>
</div>