﻿@{
    ViewBag.Title = "Case Management";
}
@using CP.Models
@model LeadIndexViewModel

@{
    var cu = Model.CurrentUser;
}

<style>
    .blue-title {
        margin-bottom: 0px;
        color: #225fef;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 11px;
    }

    .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }

        .btn-default:focus,
        .btn-default.focus {
            color: #333;
            background-color: #e6e6e6;
            border-color: #8c8c8c;
        }

        .btn-default:hover {
            color: #333;
            background-color: #e6e6e6;
            border-color: #adadad;
        }
</style>

@{
    var canaccess = cu.Find(x => x.Keyword == "Case");
    if (canaccess != null && canaccess.IsRead)
    {
        <div class="row body-container" style="margin-top:-10px;">
            <div class="bs-component" style="font-size:11px; margin-top: 10px;">
                <div class="row col-lg-offset-1" style="margin-top:10px; margin-left:17px; width:88%">
                    <div style="margin-top:-35px;">
                    </div>
                    <div>
                            <table>
                                <thead>
                                    <tr>
                                        <th width="89%"></th>
                                        <th width="10%"></th>
                                        <th width="1%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input id="inptSearch" type="text" class="form-control" placeholder="Search">
                                        </td>
                                        <td style="padding-left:5px;">
                                            <select id="sortBy" class="form-control">
                                                <option value="0" selected="" disabled="">Sort By</option>
                                                <option value="name">Name</option>
                                                <option value="createddate">Created Date</option>
                                            </select>
                                        </td>
                                        <td style="padding-left:5px;">
                                            <span id="btnOrder" data-state="asc" class="btn btn-xs btn-default glyphicon glyphicon-triangle-bottom btn-order" style="height:25px; margin-top:-1.5px; padding-top:4px;"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>


                    @if (Model.Requests != null)
                    {
                        <table id="tblLeadList" class="table sub-sub-table table-bordered" style="margin-bottom:20px; width:100%">
                            <thead>
                                <tr class="cpBG fontWhite">
                                    <th colspan="8">Lead Information</th>
                                    <th colspan="2">Creditor Information</th>
                                    <th colspan="1" style="font-style:italic;" width="71" class="center-text"></th>
                                </tr>

                                <tr style="font-weight:bold;">
                                    <td></td>
                                    <td style="vertical-align:middle">
                                        Reference No.
                                    </td>
                                    <td style="vertical-align:middle">
                                        Source
                                    </td>
                                    <td style="vertical-align:middle">
                                        Status
                                    </td>
                                    <td style="vertical-align:middle">
                                        Assigned To
                                    </td>
                                    <td style="vertical-align:middle">
                                        Created Date
                                    </td>
                                    <td style="vertical-align:middle">
                                        Updated Date
                                    </td>
                                    <td style="vertical-align:middle">
                                        Recycle Count
                                    </td>
                                    <td style="vertical-align:middle">
                                        Name
                                    </td>
                                    <td style="vertical-align:middle">
                                        Business Reg No.
                                    </td>
                                    <td class="center-text" style="vertical-align:middle">
                                        Action
                                    </td>
                                </tr>

                                <tr class="search">
                                    <td style="vertical-align:middle" class="center-text" width="1%">
                                        <input type="checkbox" style="margin:0px" />
                                    </td>
                                    <td class="input-filter" width="7.5%">
                                        <input type="text" class="form-control" placeholder="C@{@DateTime.Now.ToString("yyyyMM")}000" />
                                    </td>
                                    <td class="input-filter" width="9%">
                                        <select class="form-control" id="select">
                                            <option value="All">ALL</option>
                                            @foreach (var s in Model.Sources)
                                            {
                                                <option value="@s.Name">@s.Name</option>
                                            }
                                        </select>
                                        <input type="hidden" class="form-control" placeholder="Source" hidden id="source" />
                                    </td>
                                    <td class="input-filter" width="11%">
                                        <select class="form-control" id="statusSelect">
                                            <option value="All">ALL</option>
                                            @foreach (var s in Model.Statuses)
                                            {
                                                <option value="@s.Name">@s.Name</option>
                                            }
                                        </select>
                                        <input type="hidden" class="form-control" placeholder="Status" hidden id="status" />
                                    </td>
                                    <td class="input-filter" width="15.1%">
                                        <input type="text" class="form-control" placeholder="Assigned To" />
                                    </td>
                                    <td class="input-filter">
                                        <input type="text" class="form-control datepicker" placeholder="Created Date" />
                                    </td>
                                    <td class="input-filter">
                                        <input type="text" class="form-control datepicker" placeholder="Updated Date" />
                                    </td>
                                    <td class="input-filter" width="5%">
                                        <input type="text" class="form-control" placeholder="0" style="text-align:right" />
                                    </td>
                                    <td class="input-filter" width="17%">
                                        <input type="text" class="form-control" placeholder="Name" />
                                    </td>
                                    <td class="input-filter" width="9.2%">
                                        <input type="text" class="form-control" placeholder="Business Reg No." />
                                    </td>
                                    <td class="center-text" width="5%">
                                        <button class="btn btn-xs btn-warning" id="btnClear">Clear</button>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var r in Model.Requests)
                                {
                                    string position = Model.Position;

                                    if (r.Stage == 0)
                                    {
                                        var d = Model.Drafts.Find(x => x.RequestId == r.RequestId && x.CreatedBy == Model.UserId);

                                        if (d != null)
                                        {
                                            continue;
                                        }
                                    }

                                    if (r.Stage == 7 || r.Stage == 10 && !string.IsNullOrEmpty(r.Approval1UserAction) && string.IsNullOrEmpty(r.Approval2UserAction))
                                    {
                                        if (string.IsNullOrEmpty(r.Approval2UserAction) && Model.UserId == "31316B60-95E1-4727-9242-CD7B51B47469")
                                        {
                                            continue;
                                        }
                                    }

                                    var p = Model.Profiles.FirstOrDefault(x => x.ProfileId == r.ProfileId);
                                    var l = Model.Leads.FirstOrDefault(x => x.RequestId == r.RequestId);
                                    if (l != null)
                                    {
                                        var u = Model.Users.FirstOrDefault(x => x.UserId == l.AssignTo);
                                        if (u == null)
                                        {
                                            u = new ObjectClassesLibrary.Classes.User();
                                            u.Name = "";
                                        }

                                        if (p != null)
                                        {
                                            var s = Model.Sources.Find(x => x.SourceId == p.Source);

                                            if (s != null)
                                            {
                                                string caseSwitch = l.AssignTo;
                                                string page = null;

                                                //switch (caseSwitch)
                                                //{
                                                //    case 1:
                                                //        page = "EditLeadPreview";
                                                //        break;
                                                //    case 0:
                                                //        page = "EditLead";
                                                //        break;
                                                //}

                                                //switch (page)
                                                //{
                                                //    case "EditLeadPreview":
                                                //        break;
                                                //}

                                                if (r.AccessStatus == true)
                                                {
                                                    page = "EditLead";
                                                }
                                                else
                                                {
                                                    page = "EditLeadPreview";
                                                }

                                                string refrence = "C" + r.CreatedAt.ToString("yyyyMM");
                                                if (r.id < 10)
                                                {
                                                    refrence = refrence + "00" + r.id;
                                                }
                                                else if (r.id < 99)
                                                {
                                                    refrence = refrence + "0" + r.id;
                                                }
                                                else
                                                {
                                                    refrence = refrence + r.id;
                                                }

                                                <tr>
                                                    <td style="vertical-align:middle" class="center-text">
                                                        <input type="checkbox" style="margin:0px" />
                                                    </td>
                                                    <td style="vertical-align:middle">
                                                        <div class="ellipsis">
                                                            <span>
                                                                <a id="name" href="~/Lead/@page?requestId=@r.RequestId&page=Index">@refrence</a>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td style="vertical-align:middle">
                                                        <span>
                                                            @s.Name
                                                        </span>
                                                    </td>
                                                    <td style="vertical-align:middle">
                                                        @{
                                                            if (!string.IsNullOrEmpty(r.Status))
                                                            {
                                                                r.Status.TrimEnd();
                                                                <span>
                                                                    @r.Status
                                                                </span>
                                                            }
                                                        }
                                                    </td>
                                                    <td style="vertical-align:middle">
                                                        <span>
                                                            @u.Fullname
                                                        </span>
                                                    </td>
                                                    <td style="vertical-align:middle">
                                                        <span>@r.CreatedAt.ToString("dd MMM yyyy HH:mm:ss")</span>
                                                    </td>
                                                    <td style="vertical-align:middle">
                                                        <span>
                                                            @if (r.UpdatedAt.ToShortDateString() != "1/1/0001")
                                                            {
                                                                @r.UpdatedAt.ToString("dd MMM yyyy HH:mm:ss")
                                                            }
                                                        </span>
                                                    </td>
                                                    <td style="vertical-align:middle" class="right-text">
                                                        <span>
                                                            @l.RecycledCount
                                                        </span>
                                                    </td>
                                                    <td style="vertical-align:middle">
                                                        <span>
                                                            @{ 
                                                                var name = p.Name;
                                                            }
                                                            @switch (p.BusinessType)
                                                            {
                                                                case 1:
                                                                    name += " Sdn Bhd";
                                                                    break;
                                                                case 2:
                                                                    name += " Berhad";
                                                                    break;
                                                            }

                                                            @name
                                                        </span>
                                                    </td>
                                                    <td style="vertical-align:middle">
                                                        <span>
                                                            @p.BusinessRegNo
                                                        </span>
                                                    </td>
                                                    <td class="text-center">
                                                        @if (canaccess.IsUpdate)
                                                        {
                                                            <a href="~/Lead/@page?requestId=@r.RequestId&page=Index" class="btn btn-xs edit" title="Edit" style="padding:1px 1px;"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                                        }

                                                        @if (canaccess.IsDelete)
                                                        {
                                                            <a data-value="@r.RequestId" class="btn btn-xs delete" title="Delete" onclick="deleteLead(this)" style="padding:1px 1px;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    }

                </div>
            </div>
        </div>
    }
    else
    {
        <h4 class="access-denied-page" style="color:black">
            Access denied, you don&acute;t have permission to access this page.
        </h4>
    }
}

<script>
    $(function () {
        $('.datepicker').datepicker({
            format: 'dd M yyyy'
        })
    });

    $(document).ready(function () {

        $('#select').on('change', function () {
            $('#source').val(this.value);
            if (this.value == "All") {
                $('#source').val('');
            }
            $('#source').change();
        });

        $('#statusSelect').on('change', function () {
            $('#status').val(this.value);
            if (this.value == "All") {
                $('#status').val('');
            }
            $('#status').change();
        });

        $('#lead').parent().removeClass('active');
        $('#close').parent().removeClass('active');
        $('#case').parent().addClass('active');
        $('#appointment').parent().removeClass('active');

        $.fn.dataTable.moment('DD MMM YYYY HH:mm:ss');
        // DataTable
        var table = $('#tblLeadList').DataTable({
            "pageLength": 25,
            "order": [[5, "desc"]],
            "dom": '<<"floatRight"p><t>>',
            "bSortCellsTop": true,
            "paging": true,
            "columnDefs": [
                { targets: 1, type: 'natural-nohtml' },
                { "orderable": false, "targets": 0 },
                { "orderable": false, "targets": 10 }
            ]
        });

        $.each($('.input-filter', table.table().header()), function () {
            var column = table.column($(this).index());

            $('input', this).on('keyup change', function () {
                if (column.search() !== this.value) {
                    column
                        .search(this.value)
                        .draw();
                }
            });
        });

        $('#btnClear').click(function () {
            $.each($('.input-filter', table.table().header()), function () {
                table.search('').draw();
                $('input', this).val('');
                $('input', this).change();
            });
        });

    });
</script>