﻿@using CP.Models
@model LeadIndexViewModel

@{
    ViewBag.Title = "Dashboard";
    var rmo = Model.RMO;
    var requests = Model.Requests;

    List<string> month = new List<string>();
    month.Add(DateTime.Today.AddMonths(-2).ToString("MMM yyyy").ToUpper());
    month.Add(DateTime.Today.AddMonths(-1).ToString("MMM yyyy").ToUpper());
    month.Add(DateTime.Today.ToString("MMM yyyy").ToUpper());
}


<body class="bg-white">
    <div style="width:100%; height:90%;">
        <div class="divLeft" style="width:50%;">
            <div id="container" style="max-width:100%; height:280px; border:0.5px solid #ecf0f1; padding:5px" class="whiteBg">
                <table class="table table-bordered" style="width:100% ; border-left:0; border-right:0; font-size:9px;">
                    @{
                        int last2MonthCase = 0;
                        int last1MonthCase = 0;
                        int thisMonthCase = 0;
                        double last2MonthCa = 0;
                        double last1MonthCa = 0;
                        double thisMonthCa = 0;
                    }
                    <thead>
                        <tr>
                            <th class="center-text" colspan="9" style="font-size:19px; font-weight:initial">
                                Summary of DMS
                            </th>
                        </tr>
                        <tr>
                            <th style="vertical-align:text-top">RO/RS</th>
                            <th style="background-color:#95c4f3; vertical-align:text-top" class="center-text">@month[0]</th>
                            <th style="background-color:#95c4f3; vertical-align:text-top" class="center-text">No. of Case</th>
                            <th style="background-color:#c7f6bd; vertical-align:text-top" class="center-text">@month[1]</th>
                            <th style="background-color:#c7f6bd; vertical-align:text-top" class="center-text">No. of Case</th>
                            <th style="background-color:#fbcba3; vertical-align:text-top" class="center-text">@month[2]</th>
                            <th style="background-color:#fbcba3; vertical-align:text-top" class="center-text">No. of Case</th>
                            <th style="background-color:#fff29b; vertical-align:text-top" class="center-text">Total Submission</th>
                            <th style="background-color:#fff29b; vertical-align:text-top" class="center-text">Total No. of Case</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var r in Model.RMO)
                        {
                            double ca = 0;
                            int caseNp = 0;
                            int i = 0;

                            <tr>
                                <td>@r.Name</td>
                                @foreach (var m in month)
                                {
                                    i++;
                                    double ca2 = 0;
                                    var request = requests.FindAll(x => x.CreatedAt.ToString("MMM yyyy").ToUpper() == m);
                                    var leads = Model.Leads.FindAll(x => x.AssignTo == r.UserId);
                                    var MonthRequest = request.Where(x => leads.Any(z => z.RequestId == x.RequestId)).ToList();
                                    var MonthCa = Model.Debtors.Where(x => MonthRequest.Any(z => z.RequestId == x.RequestId)).ToList();
                                    foreach (var c in MonthCa)
                                    {
                                        ca2 += c.ClaimAmount;
                                    }
                                    caseNp += MonthRequest.Count;

                                    <td style="width:16.4%" class="alignRight">@string.Format("{0:#,##0.00}", ca2)</td>
                                    <td style="width:7.6%" class="alignRight">@MonthRequest.Count</td>

                                    ca += ca2;

                                    switch (i)
                                    {
                                        case 1:
                                            last2MonthCa += ca2;
                                            last2MonthCase += MonthRequest.Count;
                                            break;
                                        case 2:
                                            last1MonthCa += ca2;
                                            last1MonthCase += MonthRequest.Count;
                                            break;
                                        case 3:
                                            thisMonthCa += ca2;
                                            thisMonthCase += MonthRequest.Count;
                                            break;
                                    }
                                }
                                <td style="width:16.4%" class="alignRight">@string.Format("{0:#,##0.00}", ca)</td>
                                <td style="width:7.6%" class="alignRight">@caseNp</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="9"></td>
                        </tr>
                        <tr class="alignRight font-weight-bold">
                            @{
                                var totalCa = last2MonthCa + last1MonthCa + thisMonthCa;
                                var totalCase = last2MonthCase + last1MonthCase + thisMonthCase;
                            }
                            <td colspan="2">@string.Format("{0:#,##0.00}", last2MonthCa)</td>
                            <td>@last2MonthCase</td>
                            <td>@string.Format("{0:#,##0.00}", last1MonthCa)</td>
                            <td style="width:7.6%">@last1MonthCase</td>
                            <td>@string.Format("{0:#,##0.00}", thisMonthCa)</td>
                            <td style="width:7.6%">@thisMonthCase</td>
                            <td>@string.Format("{0:#,##0.00}", totalCa)</td>
                            <td style="width:7.6%">@totalCase</td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            @*<div style="max-width:100%; height:280px; border:0.5px solid #ecf0f1; padding:5px" class="whiteBg">
                <div id="container4" class="table table-bordered" style="width:100%; font-size:9px; height:100%"></div>
            </div>*@
        </div>
        <div class="divRight" style="width:50%;">
            <div style="max-width:100%; height:280px; border:0.5px solid #ecf0f1; padding:5px" class="whiteBg">
                <div id="container2" class="table table-bordered" style="width:100%; font-size:9px; height:100%"></div>
            </div>

            @*<div style="max-width:100%; height:280px; border:0.5px solid #ecf0f1; padding:5px" class="whiteBg">
                <div id="container3" class="table table-bordered" style="width:100%; font-size:9px; height:100%"></div>
            </div>*@
        </div>
    </div>
</body>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //Highcharts.chart('container', {
        //    chart: {
        //        plotBackgroundColor: null,
        //        plotBorderWidth: null,
        //        plotShadow: false,
        //        type: 'pie'
        //    },
        //    title: {
        //        text: 'Performance Dashboard as per 29-May-2019'
        //    },
        //    tooltip: {
        //        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        //    },
        //    plotOptions: {
        //        pie: {
        //            allowPointSelect: true,
        //            cursor: 'pointer',
        //            dataLabels: {
        //                enabled: true,
        //                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
        //                style: {
        //                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
        //                }
        //            }
        //        }
        //    },
        //    series: [{
        //        name: 'Brands',
        //        colorByPoint: true,
        //        data: [{
        //            name: 'Chrome',
        //            y: 61.41,
        //            sliced: true,
        //            selected: true
        //        }, {
        //            name: 'Internet Explorer',
        //            y: 11.84
        //        }, {
        //            name: 'Firefox',
        //            y: 10.85
        //        }, {
        //            name: 'Edge',
        //            y: 4.67
        //        }, {
        //            name: 'Safari',
        //            y: 4.18
        //        }, {
        //            name: 'Sogou Explorer',
        //            y: 1.64
        //        }, {
        //            name: 'Opera',
        //            y: 1.6
        //        }, {
        //            name: 'QQ',
        //            y: 1.2
        //        }, {
        //            name: 'Other',
        //            y: 2.61
        //        }]
        //    }]
        //});

        var chart = Highcharts.chart('container2', {

            title: {
                text: 'Lead/Case Population'
            },

            //subtitle: {
            //    text: 'Plain'
            //},

            yAxis: {
                title: {
                    text: 'No of Status'
                }
            },

            xAxis: {
                categories: [
                    'Lead (New)',
                    'Lead (Assigned)',
                    'Lead (Appointment Set)',
                    'Lead (Appointment Complete)',
                    'Lead (Audit Check)',
                    'Case (Submission)',
                    'Case (Approval)',
                    'Case (Approved)',
                    'Case (2nd Appointment Set)',
                    'Case (2nd Appointment Complete)',
                    'Case (Law Firm Appointed)',
                    'Case (Dispute)',
                    'Case (Jid)',
                    'Case (Closed)',
                    'Case (Negotiator)',
                    'Case (Negotiator Assigned)',
                    'Case (Settlement Agreement)',
                    'Case (Settlement Signed)',
                    'Case (Settlement Uploaded)',
                    'Case (Finance Document)',
                    'Case (Invoice Document)',
                    'Case (Close Complete)'
                ],
            },

            series: [{
                type: 'column',
                colorByPoint: true,
                data: [
                        @requests.FindAll(x => x.Status == "Lead (New)").Count,
                        @requests.FindAll(x => x.Status == "Lead (Assigned)").Count,
                        @requests.FindAll(x => x.Status == "Lead (Appt Set)").Count,
                        @requests.FindAll(x => x.Status == "Lead (Appt Complete)").Count,
                        @requests.FindAll(x => x.Status == "Lead (Audit Check)").Count,
                        @requests.FindAll(x => x.Status == "Case (Submission)").Count,
                        @requests.FindAll(x => x.Status == "Case (Approval)").Count,
                        @requests.FindAll(x => x.Status == "Case (Approved)").Count,
                        @requests.FindAll(x => x.Status == "Case (2nd Appt Set)").Count,
                        @requests.FindAll(x => x.Status == "Case (2nd Appt Complete)").Count,
                        @requests.FindAll(x => x.Status == "Case (Law Firm Appointed)").Count,
                        @requests.FindAll(x => x.Status == "Case (Dispute)").Count,
                        @requests.FindAll(x => x.Status == "Case (Jid)").Count,
                        @requests.FindAll(x => x.Status == "Case (Closed)").Count,
                        @requests.FindAll(x => x.Status == "Case (Negotiator)").Count,
                        @requests.FindAll(x => x.Status == "Case (Negotiator Assigned)").Count,
                        @requests.FindAll(x => x.Status == "Case (Settlement Agreement)").Count,
                        @requests.FindAll(x => x.Status == "Case (Settlement Signed)").Count,
                        @requests.FindAll(x => x.Status == "Case (Settlement Uploaded)").Count,
                        @requests.FindAll(x => x.Status == "Case (Finance Document)").Count,
                        @requests.FindAll(x => x.Status == "Case (Invoice Document)").Count,
                        @requests.FindAll(x => x.Status == "Case (Close Complete)").Count
                ],
                showInLegend: false
            }],
            plotOptions: {
                column: {
                    dataLabels: {
                        enabled: true,
                        y: -20,
                        verticalAlign: 'top',
                        style: {
                            fontWeight: 'normal'
                        }
                    }
                 }
            },
            credits: {
              enabled: false
           },

        });

        Highcharts.chart('container3', {
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function () {

                        // set up the updating of the chart each second
                        var series = this.series[0];
                        setInterval(function () {
                            var x = (new Date()).getTime(), // current time
                                y = Math.random();
                            series.addPoint([x, y], true, true);
                        }, 1000);
                    }
                }
            },

            credits: {
                enabled: false
            },

            time: {
                useUTC: false
            },

            title: {
                text: 'Live random data'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: 'Value'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br/>',
                pointFormat: '{point.x:%Y-%m-%d %H:%M:%S}<br/>{point.y:.2f}'
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'Random data',
                data: (function () {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;

                    for (i = -19; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 1000,
                            y: Math.random()
                        });
                    }
                    return data;
                }())
            }]
        });

        Highcharts.chart('container4', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Historic World Population by Region'
            },
            subtitle: {
                text: 'Source: <a href="https://en.wikipedia.org/wiki/World_population">Wikipedia.org</a>'
            },
            xAxis: {
                categories: ['Africa', 'America', 'Asia', 'Europe', 'Oceania'],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Population (millions)',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ' millions'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 80,
                floating: true,
                borderWidth: 1,
                backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                shadow: true
            },
            credits: {
              enabled: false
           },
            series: [{
                name: 'Year 1800',
                data: [107, 31, 635, 203, 2]
            }, {
                name: 'Year 1900',
                data: [133, 156, 947, 408, 6]
            }, {
                name: 'Year 2000',
                data: [814, 841, 3714, 727, 31]
            }, {
                name: 'Year 2016',
                data: [1216, 1001, 4436, 738, 40]
            }]

        });
    });

</script>