﻿@using CP.Models
@model LeadIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var rmo = Model.RMO;
    var page = "_Index";

    if (Model.Module == "Case")
    {
        page = "_CaseIndex";
    }
}


<div class="bs-docs-section clearfix" style="margin-top:10px;">
    <div class="col-lg-offset-1" style="margin-left:107px">

        <div class="col-lg-11 bg-white" style="margin-left:-15px;">
            <div class="bs-component" style="font-size:12px; margin-top: 10px; margin-bottom: 10px; margin-right:-1%">
                <ul class="nav nav-tabs cog-nav flex-display">
                    <li class="nav-item nav-link doc-nav active" style="width:170px; text-align:center"><a @*href="@Url.Action("Choice","ChangeEquipment")"*@ id="lead" class="btn btn-lg btn-module doc-type" role="button"><span class="glyphicon-lg glyphicon glyphicon-user"></span> <br /><span style="font-size:10px; font-weight:bold; margin-left:-5px;">LEAD</span></a></li>
                    <li class="nav-item nav-link doc-nav" style="width:170px; text-align:center"><a @*href="@Url.Action("Choice","Notification")"*@ id="appointment" class="btn btn-lg btn-module doc-type" role="button"><span class="glyphicon-lg glyphicon glyphicon-list"></span> <br /><span style="font-size:10px; font-weight:bold">APPOINTMENT</span></a></li>
                    <li class="nav-item nav-link doc-nav" style="width:170px; text-align:center"><a @*href="@Url.Action("Choice","Notification")"*@ id="case" class="btn btn-lg btn-module doc-type" role="button"><span class="glyphicon-lg glyphicon glyphicon-cog"></span> <br /><span style="font-size:10px; font-weight:bold; margin-left:-5px;">CASE</span></a></li>
                    <li class="nav-item nav-link doc-nav" style="width:170px; text-align:center"><a @*href="@Url.Action("Choice","Notification")"*@ id="close" class="btn btn-lg btn-module doc-type" role="button"><span class="glyphicon-lg glyphicon glyphicon-erase"></span> <br /><span style="font-size:10px; font-weight:bold; margin-left:-5px;">CLOSED</span></a></li>
                </ul>
            </div>
        </div><br /><br /><br /><br /><br /><br />
        <!-- jQuery and Bootstrap's JavaScript-->
        <div id="contentDiv">

        </div>

    </div>

</div>

<script>
    $(document).ready(function () {
        var url = '@Url.Action(page, Model.Module)';
        $("#contentDiv").load(url);
    });

    $(function () {
        @*$('#dashboard').click(function () {
            $('#contentDiv').children().remove();
            var url = '@Url.Action("_Index", "Case")';
            $("#contentDiv").load(url);
            $('#dashboard').parent().addClass('active');
            $('#lead').parent().removeClass('active');
            $('#appointment').parent().removeClass('active');
            $('#case').parent().removeClass('active');
        });*@
        $('#lead').click(function () {
            $('#contentDiv').children().remove();
            var url = '@Url.Action("_Index", "Lead")';
            $("#contentDiv").load(url);
        });
        $('#appointment').click(function() {
            $('#contentDiv').children().remove();
            var url = '@Url.Action("_Index", "Appointment")';
            $("#contentDiv").load(url);
        });
        $('#case').click(function() {
            $('#contentDiv').children().remove();
            var url = '@Url.Action("_CaseIndex", "Case")';
            $("#contentDiv").load(url);
        });
        
        $('#close').click(function() {
            $('#contentDiv').children().remove();
            var url = '@Url.Action("_Index", "Close")';
            $("#contentDiv").load(url);
        });
    });
</script>