﻿@using CP.Models
@model SopViewModel

@{
    Layout = null;
    var docs = Model.SopDocuments;
    var sopSelect = Model.SopShowInSelect;
    var docType = Model.DocumentTypes;
    var sop = Model.SopRequest;
}

<style>
    #inptFSFC > thead > tr:first-child > th:first-child {
        background-color: orange;
        color: white;
    }
</style>

<table class="table table-bordered sub-table SOP" id="inptFSFC" style="margin-bottom:0px">
    <thead>
        <tr>
            <th colspan="5" class="orangeBg">
                Filling Summons for Company
            </th>
        </tr>
        <tr>
            <th width="20.3%">
                Doc Type
            </th>
            <th width="32%">
                File Name
            </th>
            <th width="20.8%">
                File Size
            </th>
            <th>
                Uploaded Date
            </th>
            <th style="text-align:center; width:6.8%">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @if (docs != null)
        {
            foreach (var d in docs)
            {
                var t = docType.Find(x => x.DocumentTypeId == d.Type);
                <tr>
                    <td>
                        @t.Name
                    </td>
                    <td>
                        <a href="/@d.Path@d.FileName" target="_blank">@d.FileName</a>
                    </td>
                    <td class="alignRight">
                        @d.Size
                    </td>
                    <td>
                        @d.CreatedDate.ToString("dd MMM yyyy")
                    </td>
                    <td style="text-align:center;">
                        <a class="delete" data-value="@d.DocumentId" data-type="@t.DocumentTypeId" title="Delete" onclick="removeFSFC(this)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                    </td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="1">
                <select id="SopDocType" class="form-control">
                    @{
                        var s = sopSelect.FindAll(x => x.ShowInSelectName == "Writ of Summons" && x.Stage == sop.Stage);
                        if (s != null)
                        {
                            foreach (var ss in s)
                            {
                                bool b = docs.Any(x => x.Type == ss.DocumentTypeId);
                                var d = docType.Find(x => x.DocumentTypeId == ss.DocumentTypeId);

                                if (d != null)
                                {
                                    if (b)
                                    {
                                        <option disabled value="@d.DocumentTypeId">@d.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@d.DocumentTypeId">@d.Name</option>
                                    }
                                }
                            }
                        }
                    }

                </select>
            </td>
            <td colspan="3">
                <input id="fileSelectSop" type="file" class="form-control" style="width: 100%;display: inline-block; padding-top:2px">
            </td>
            <td colspan="1" style="vertical-align:middle; text-align:center">
                <button class="btn btn-xs btn-info" onclick="uploadFSFC('fsfc')">Upload</button>
            </td>
        </tr>
    </tfoot>
</table>
<br />

<script>
    function uploadFSFC(doctype) {
        debugger
        if ($('#fileSelectSop').val() !== "") {
            var formdata = new FormData(); //FormData object
            formdata.append("RequestId", $('#requestId').val());

            var fileInput = document.getElementById('fileSelectSop');
            doctype = $('#SopDocType').val();

            if (fileInput.files[0].type == 'application/pdf') {
                $('#inptFSFC').next('.invalid-alert').remove();
            }
            else {
                $('<label class="invalid-alert">File is not pdf format. Format must be pdf.</label>').insertAfter('#inptFSFC');
                return false;
            }

            if (Math.floor(fileInput.files[0].size / 1000) > 4096) {
                $('<label class="invalid-alert">File larger than 4mb. Maximum file upload size is 4mb.</label>').insertAfter('#inptFSFC');
                return false;
            }
            else {
                $('#inptFSFC').next('.invalid-alert').remove();
            }

            formdata.append("Type", doctype);
            formdata.append("ProfileId", $('#ProfileId').val());
            formdata.append("SopRequestId", "@sop.SopRequestid");

            //Iterating through each files selected in fileInput
            for (var i = 0; i < fileInput.files.length; i++) {
                //Appending each file to FormData object
                //formdata.append("LastModifiedDate", formatDateTime(fileInput.files[i].lastModifiedDate));
                formdata.append(fileInput.files[i].name, fileInput.files[i]);
            }

            //Creating an XMLHttpRequest and sending
            var xhr = new XMLHttpRequest();
            xhr.open('POST', window.location.origin + '/Sop/AttachmentUpload');
            xhr.send(formdata);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var d = JSON.parse(xhr.response);

                    var row = '<tr>' +
                        '<td>' + d.Type + '</td>' +
                        '<td><a href="/' + d.Path + '' + d.FileName + '" target="_blank">' + d.FileName + '</a></td>' +
                        '<td class=alignRight>' + d.Size + '</td> ' +
                        '<td>' + d.CreatedDateString + '</td>' +
                        '<td data-value="' + d.DocumentId + '" style="text-align:center;"><a class="delete" title="Delete" onclick="removeAttachment(this)" date-type="' + $('#SopDocType').val() + '" data-value="' + d.DocumentId + '" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>'
                    '</tr>';

                    $('#fileSelectSop').val('');
                    $('#inptFSFC').append(row);
                    $("#SopDocType option:selected").attr('disabled', 'disabled');
                }
            };
        }
    }

    function removeFSFC(e, ee) {
        if (confirm("Please click OK to confirm delete.")) {
            var type = $(e).data('type');
            $.ajax({
                url: window.location.origin + "/Sop/DeleteAttachment",
                data: { "documentId": $(e).data('value') },
                cache: false,
                type: "POST",
                dataType: "html",
                success: function (data, textStatus, XMLHttpRequest) {
                    var d = JSON.parse(data);
                    if (d.Error === null) {
                        showToast(d.Message, "success");
                        $(e).parent().parent().remove();
                        $('#SopDocType option[value=' + type + ']').prop('disabled', false);
                    }
                    else {
                        showToast(d.Error, "error");
                    }
                }
            });
        }
    }
</script>