﻿@using CP.Models
@model SopViewModel

@{
    Layout = null;
    var docs = Model.SopDocuments;
    var sopSelect = Model.SopShowInSelect;
    var docType = Model.DocumentTypes;
    var sop = Model.SopRequest;
}

<table class="table table-bordered sub-table SOP" style="margin-bottom:0px">
    <thead>
        <tr>
            <th colspan="4">
                Repayment/Settlement Letter
            </th>
        </tr>
        <tr>
            <th width="20.3%">
                Doc Type
            </th>
            <th width="32%">
                File Name
            </th>
            <th width="20.8%">
                File Size
            </th>
            <th>
                Uploaded Date
            </th>
        </tr>
    </thead>
    <tbody>
        @if (docs != null)
        {
            foreach (var d in docs)
            {
                var t = docType.Find(x => x.DocumentTypeId == d.Type);
                <tr>
                    <td>
                        @t.Name
                    </td>
                    <td>
                        <a href="/@d.Path@d.FileName" target="_blank">@d.FileName</a>
                    </td>
                    <td class="alignRight">
                        @d.Size
                    </td>
                    <td>
                        @d.CreatedDate.ToString("dd MMM yyyy")
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<br />

