﻿@using CP.Models
@model LeadIndexViewModel

@{
    ViewBag.Title = "Home Page";
    var cu = Model.CurrentUser;
}

@{
    Layout = null;
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div style="background-image: linear-gradient(rgba(105,105,105,0.8), rgba(105,105,105,0.8)), url(Image/background-1.jpg); background-size:100%; background-repeat:no-repeat; height:70vh;">
            @{
                var profile = cu.Find(x => x.Keyword == "Profile");
                if (profile != null && profile.IsRead)
                {
                    <a href="@Url.Action("Choice", "Profile")" class="btn btn-danger btn-lg btn-module" role="button" style="font-size:11px;"><span class="glyphicon-lg glyphicon glyphicon-lock" style="padding-left:7px;"></span> <br />Profile Management</a>
                }

                var lead = cu.Find(x => x.Keyword == "Case");
                if (lead != null && lead.IsRead)
                {
                    <a href="@Url.Action("Choice", "Case")" class="btn btn-info btn-lg btn-module" role="button" style="font-size:11px;"><span class="glyphicon-lg glyphicon glyphicon-user" style="padding-left:5px;"></span> <br />Case Management</a>
                }

                var config = cu.Find(x => x.Keyword == "Configuration");
                if (config != null && config.IsRead)
                {
                    <a href="@Url.Action("Index", "Confirguration")" class="btn btn-primary btn-lg btn-module" role="button" style="font-size:11px;"><span class="glyphicon-lg glyphicon glyphicon-cog"></span> <br />Configuration</a>
                }

                var report = cu.Find(x => x.Keyword == "Report");
                if (report != null && report.IsRead)
                {
                    <a href="@Url.Action("Index", "Report")" class="btn btn-warning btn-lg btn-module" role="button" style="font-size:11px;"><span class="glyphicon-lg glyphicon glyphicon-equalizer"></span> <br />Report</a>
                }

                var subscription = cu.Find(x => x.Keyword == "Subscription");
                if (subscription != null && subscription.IsRead)
                {
                    <a href="@Url.Action("Choice", "Subscriptions")" class="btn btn-success btn-lg btn-module" role="button" style="font-size:11px;"><span class="glyphicon-lg glyphicon glyphicon-credit-card"></span> <br />Subscription</a>
                }
            }
        </div>
        <div class="cpBG fontWhite" style="padding:5px 10px;">Copyright © 2019 Corporate Partners Debt Recovery Sdn Bhd. All rights reserved.</div>
    </div>
</div>

<script>
    $('#contentDiv').parent().css('padding','0');
</script>