﻿@using CP.Models
@model CalendarViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Calendar";
}

<script src="~/Scripts/calendar.js"></script>

<script>
    $(function () {
        init();
    });
</script>

<div class="row body-container" style="margin-top:20px;">
    <div class="bs-component" style="font-size:11px;">
        <div class="row col-lg-offset-1">
            <h3 style="margin-top: 0px;">Calendar</h3>
        </div>
        <div class="row col-lg-offset-1">
            <div class="col-lg-11">
                <div class="bs-component" style="font-size:11px; margin-top: 10px; margin-left:-15px; width:100%;">
                    <select id="filter" class="form-control" style="width:auto">
                        <option value="All">All</option>
                        @foreach (var a in Model.AppointmentTypes)
                        {
                            string at = a.AppointmentTypeId;

                            switch (at)
                            {
                                case "95CBF154-443F-4E49-B33F-F647E9BE5B1B":
                                    <option value="Orange" style="background-color:orange" class="fontWhite">@a.Name</option>
                                    break;
                                case "3E653BCE-AE1B-46C4-840D-A75A5B4EDF15":
                                    <option value="DeepSkyBlue" style="background-color:deepskyblue" class="fontWhite">@a.Name</option>
                                    break;
                                case "8307A31F-33C7-44F9-A498-93387E4E918A":
                                    <option value="Green" style="background-color:green" class="fontWhite">@a.Name</option>
                                    break;
                                case "7F240754-470A-4EDE-AD18-C2B63CA56271":
                                    <option value="MediumSlateBlue" style="background-color:mediumslateblue" class="fontWhite">@a.Name</option>
                                    break;

                            }

                        }
                    </select>
                    <div id="calender" style="margin-top:5px;">
                    </div>

                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog" style="top:25%">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title"><span id="eventTitle"></span></h4>
                                </div>
                                <div class="modal-body">
                                    <p id="pDetails"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" style="display:none" id="btnSend" onclick="inviteThem(this)">Send</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .content .form-control {
        font-size: 11px;
    }

    .form-control {
        height: 25px;
        padding: 0px 5px;
        font-size: 12px;
    }
</style>

<link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
<link href="~/Content/fullcalendar.print.css" rel="stylesheet" media="print" />

<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/fullcalendar.min.js"></script>

<script>
    $(document).ready(function () {
        var events = [];
        $.ajax({
                type: "GET",
                url: "/Home/GetCalendar?type=" + $('#filter').val() + "",
                success: function (data) {
                    $.each(data, function (i, v) {

                        events.push({
                            title: v.Subject,
                            description: v.Description,
                            venue: v.Venue,
                            start: moment(v.Date),
                            end: moment(v.EndDate),
                            day: v.IsAllDay,
                            color: v.Color,
                            calendarView: v.calendarView,
                        });
                    })

                    GenerateCalender(events);
                },
                error: function (error) {
                    alert('failed');
                }
        });

        $('#filter').on('change', function () {
            events = [];
            var view = $('#calendar').fullCalendar('getView');

            $.ajax({
                type: "GET",
                url: "/Home/GetCalendar?type=" + $('#filter').val() + "&date=" + $('.fc-center').text() + "",
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            title: v.Subject,
                            description: v.Description,
                            venue: v.Venue,
                            start: moment(v.Date),
                            end: moment(v.EndDate),
                            day: v.IsAllDay,
                            color: v.Color,
                            calendarDate: v.calendarDate,
                            calendarView: v.calendarView,
                        });
                    })

                    GenerateCalender(events);
                },
                error: function (error) {
                    alert('failed' + error);
                }
            });
        });

        
        function GenerateCalender(events) {
            debugger
            $('#calender').fullCalendar('destroy');
            $('#calender').fullCalendar({
                buttonText: {
                    today: 'Today',
                    month: 'Month',
                    week: 'Week',
                    day: 'Day'
                },
                views: {
                    month: {
                        titleFormat: 'MMM YYYY'
                    },
                    agendaWeek: {
                        titleFormat: 'MMM D, YYYY'
                    },
                    agendaDay: {
                        titleFormat: 'MMM D, YYYY'
                    }
                }, 
                contentHeight: 390,
                defaultView: events[0].calendarView,
                defaultDate: moment(events[0].calendarDate),
                //viewRender:(function() {
                //    return function(view, element) {
                //        if (view.name === 'month') {
                //            $('#calendar').fullCalendar('option', 'contentHeight', 470);
                //        }
                //    }
                //})(),
                timeFormat: '(HH:mm)',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                eventLimit: 4,
                eventColor: '#378006',
                events: events,
                eventClick: function (calEvent, jsEvent, view) {
                    $('#myModal #eventTitle').text(calEvent.title);
                    var $description = $('<div/>');

                    if (calEvent.day == true) {
                        $description.append($('<p/>').html("<table class='table'><tr><td width='100'><b>Invite:</b></td> <td><input class='form-control email' type=email id=invite multiple/></td></tr>" +
                            "<tr><td><b>Start:</b></td> <td>" + calEvent.start.format("DD MMM YYYY") + " - All Day</td></tr>" +
                            "<tr><td><b>End:</b></td> <td>" + calEvent.start.format("DD MMM YYYY") + " - All Day</td></tr>" +
                            "<tr><td><b>Description:</b></td> <td>" + calEvent.description + "<td></tr></table>"));
                        $('#btnSend').attr({
                            "data-subject": calEvent.title,
                            "data-venue": calEvent.venue,
                            "data-description": calEvent.description,
                            "data-datestart": calEvent.start.format("DD MMM YYYY"),
                            "data-dateend": calEvent.start.format("DD MMM YYYY")
                        });
                    }
                    else {
                    if (calEvent.end != null) {
                        $description.append($('<p/>').html("<table class='table'><tr><td width='100'><b>Invite:</b></td> <td><input class='form-control email' type=email id=invite multiple/></td></tr>" +
                            "<tr><td><b>Start:</b></td> <td>" + calEvent.start.format("DD MMM YYYY HH:mm") + "</td></tr>" +
                            "<tr><td><b>End:</b></td> <td>" + calEvent.end.format("DD MMM YYYY HH:mm") + "</td></tr>" +
                            "<tr><td><b>Description:</b></td> <td>" + calEvent.description + "<td></tr></table>"));
                        $('#btnSend').attr({
                            "data-subject": calEvent.title,
                            "data-venue": calEvent.venue,
                            "data-description": calEvent.description,
                            "data-datestart": calEvent.start.format("DD MMM YYYY HH:mm"),
                            "data-dateend": calEvent.end.format("DD MMM YYYY HH:mm")
                        });
                    }
                    else {
                        $description.append($('<p/>').html("<table class='table'><tr><td width='100'><b>Invite:</b></td> <td><input class='form-control email' type=email id=invite multiple/></td></tr>" +
                            "<tr><td><b>Start:</b></td> <td>" + calEvent.start.format("DD MMM YYYY HH:mm") + "</td></tr>" +
                            "<tr><td><b>Description:</b></td> <td>" + calEvent.description + "<td></tr></table>"));
                        $('#btnSend').attr({
                            "data-subject": calEvent.title,
                            "data-venue": calEvent.venue,
                            "data-description": calEvent.description,
                            "data-datestart": calEvent.start.format("DD MMM YYYY HH:mm")
                        });
                    }
                    }
                    $('#myModal #pDetails').empty().html($description);
                    

                    $('#myModal').modal();
                    init();
                }
            })
        }
    });
    
</script>