﻿@using CP.Models
@model HomePageViewModel

@{
    ViewBag.Title = "Home Page";
    var page = "_Index";

    if (Model.Module == "Case")
    {
        page = "_CaseIndex";
    }
}

<style>
    .btn-group-vertical {
        width: 100%;
    }

    .fixed-width {
        width: 175px !important;
    }

    body {
        overflow: hidden;
    }
</style>

<script>
    $(document).ready(function () {
        var url = '@Url.Action(page, Model.Module)';
        $("#contentDiv").load(url);
    });

    $(function () {
        $('#Dashboard').click(function () {
            $('#contentDiv').children().remove();
            var url = '@Url.Action("_Index", "Case")';
            $("#contentDiv").load(url);
            $('#Dashboard').addClass('active');
        });
    });
</script>

<link href="~/Content/setting.css" rel="stylesheet" type="text/css" />

<div class="bs-docs-section clearfix">
    <div class="row">
        <div class="left-panel fixed-width cpBG" style="margin-left:0.6%; height:100vh;">
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <a id="Dashboard" class="text-left btn btn-sm btn-sidenav btn-info font-weight-bold" style="border:none; width:100%; font-size:15px;">
                    @*<span class="glyphicon glyphicon-hdd">&nbsp;</span>*@
                    Charts
                </a>
                <a class="btn btn-info collapsed font-weight-bold" style="text-align:left; vertical-align:middle; font-size:15px; border:none" data-toggle="collapse" href="#access" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Forms
                </a>
                <div class="collapse" id="access" aria-expanded="false" style="height: 0px;">
                    <a id="#" class="text-right btn btn-sm btn-sidenav btn-info alignRight collapsed-btn" style="font-size:12px;border:none;">
                        Form 1
                    </a>
                    <a id="#" class="text-right btn btn-sm btn-sidenav btn-info alignRight collapsed-btn" style="font-size:12px;border:none;">
                        Form 2
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-9" style="margin-top:-38px;">
            <div class="bs-component">
                <div class="panel-body" id="panel-body" style="width:100%">
                    <div id="contentDiv">

                    </div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
                    
                </div>
            </div>
        </div>
        <!-- jQuery and Bootstrap's JavaScript-->

    </div>
</div>