﻿@using CP.Models
@model  MyTaskViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "My Task";
    var inbox = Model.Requests.FindAll(x => x.BoxStatus == "Inbox");
    var outbox = Model.Requests.FindAll(x => x.BoxStatus == "Outbox");
    var closed = Model.Requests.FindAll(x => x.BoxStatus == "Closed");
    var profiles = Model.Profiles;
    var auditTrails = Model.AuditTrails;
    var id = Model.UserId;
}


<div class="row body-container" style="margin-top:20px;">
    <div class="bs-component" style="font-size:11px;">
        <div class="row col-lg-offset-1">
            <h3 style="margin-top: 0px;">My Task</h3>
        </div>
        <div class="row col-lg-offset-1" style="margin-top:10px;">
            <div class="col-lg-11 background-white">
                <div class="bs-component" style="font-size:11px; margin-top: 10px; margin-left:-15px; width:100%;">
                    <ul class="nav nav-tabs" style="border-bottom:none">
                        <li class="nav-item nav-link active"><a href="#inbox" data-toggle="tab" aria-expanded="true" id="Inbox">Inbox</a></li>
                        <li class="nav-item nav-link"><a href="#draft" data-toggle="tab" aria-expanded="false">Draft</a></li>
                        <li class="nav-item nav-link"><a href="#outbox" data-toggle="tab" aria-expanded="false">Outbox</a></li>
                        <li class="nav-item nav-link"><a href="#closed" data-toggle="tab" aria-expanded="false">Closed</a></li>
                    </ul>
                    <div id="inventoryMainTab" class="tab-content" style="margin-top:-50px; margin-left:15px;">
                        <div class="tab-pane fade active in" id="inbox">
                            <div class="row panel-body background-white" style="width:100%;">
                                <table id="tblInbox" class="table table-bordered table-my-task" style="width:100%;">
                                    <thead>
                                        <tr class="cpBG blackFont">
                                            <th style="width:5%">No.</th>
                                            <th style="width:8%">Reference No</th>
                                            <th style="width:22%">Profile Name</th>
                                            <th style="width:10.5%">Registration No</th>
                                            <th style="width:11.5%">Nature of Business</th>
                                            <th style="width:10.5%">Last Updated</th>
                                            <th style="width:10.5%">Requested Date</th>
                                            <th style="width:22%">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var c = 0;
                                        }
                                        @if (inbox.Count != 0)
                                        {
                                            int no = 0;
                                            foreach (var d in inbox)
                                            {
                                                if (d.Stage == 0)
                                                {
                                                    var auditTrail = auditTrails.FindAll(x => x.RequestId == d.RequestId && x.Stage == 0);

                                                    if (auditTrail.Count == 0)
                                                    {
                                                        var dd = Model.Drafts.Find(x => x.RequestId == d.RequestId && x.CreatedBy == Model.UserId);

                                                        if (dd == null)
                                                        {
                                                            continue;
                                                        }
                                                    }
                                                }

                                                var l = Model.Leads.FirstOrDefault(x => x.RequestId == d.RequestId);


                                                if (l != null)
                                                {
                                                    if (d.BoxStatus == "Inbox")
                                                    {
                                                        var draft = Model.Drafts.Find(x => x.RequestId == d.RequestId);
                                                        var p = profiles.Find(x => x.ProfileId == d.ProfileId);

                                                        if (draft == null)
                                                        {
                                                            no++;

                                                            string refrence = d.Status.Substring(0, 1) + d.CreatedAt.ToString("yyyyMM");
                                                            if (d.id < 10)
                                                            {
                                                                refrence = refrence + "00" + d.id;
                                                            }
                                                            else if (d.id < 99)
                                                            {
                                                                refrence = refrence + "0" + d.id;
                                                            }
                                                            else
                                                            {
                                                                refrence = refrence + d.id;
                                                            }

                                                            <tr style="color:black">
                                                                <td style="width:5%">@no</td>
                                                                <td style="width:8%"><a style="font-size:11px" id="name" href="~/Lead/EditLead?requestId=@d.RequestId&page=Box">@refrence</a></td>
                                                                <td style="width:22%">
                                                                    @if (p != null)
                                                                    {
                                                                        @p.Name
                                                                    }
                                                                </td>
                                                                <td style="width:10.5%">
                                                                    @if (p != null)
                                                                    {
                                                                        @p.BusinessRegNo
                                                                    }
                                                                </td>
                                                                <td style="width:11.5%">Goods Sold & Delivered</td>
                                                                <td style="width:10.5%">
                                                                    @if (d.UpdatedAt.ToShortDateString() != "1/1/0001")
                                                                    {
                                                                        @d.UpdatedAt.ToString("dd MMM yyyy HH:mm:ss")
                                                                    }
                                                                </td>
                                                                <td style="width:10.5%">@d.CreatedAt.ToString("dd MMM yyyy HH:mm:ss")</td>
                                                                <td style="width:22%">@d.Status</td>
                                                            </tr>
                                                            c++;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        @if (c == 0)
                                        {
                                            <tr style="color:black;">
                                                <td style="width:5%">-</td>
                                                <td style="width:8%">-</td>
                                                <td style="width:22%">-</td>
                                                <td style="width:10.5%">-</td>
                                                <td style="width:11.5%">-</td>
                                                <td style="width:10.5%">-</td>
                                                <td style="width:10.5%">-</td>
                                                <td style="width:22%">-</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div id="pageNavPosition"></div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="draft">
                            <div class="row panel-body background-white" style="width:100%;">
                                <table id="tblDraft" class="table table-bordered table-my-task" style="width:100%">
                                    <thead>
                                        <tr class="cpBG blackFont">
                                            <th style="width:5%">No.</th>
                                            <th style="width:8%">Reference No</th>
                                            <th style="width:22%">Profile Name</th>
                                            <th style="width:10.5%">Registration No</th>
                                            <th style="width:11.5%">Nature of Business</th>
                                            <th style="width:10.5%">Last Updated</th>
                                            <th style="width:10.5%">Requested Date</th>
                                            <th style="width:22%">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Drafts.Count != 0)
                                        {
                                            int no = 0;
                                            foreach (var d in Model.Requests)
                                            {
                                                var l = Model.Leads.FirstOrDefault(x => x.RequestId == d.RequestId);

                                                if (l != null)
                                                {
                                                    if (d.BoxStatus == "Inbox" && d.AccessStatus)
                                                    {
                                                        var draft = Model.Drafts.Find(x => x.RequestId == d.RequestId);
                                                        var p = profiles.Find(x => x.ProfileId == d.ProfileId);

                                                        if (draft != null)
                                                        {
                                                            no++;

                                                            string refrence = d.Status.Substring(0, 1) + d.CreatedAt.ToString("yyyyMM");
                                                            if (d.id < 10)
                                                            {
                                                                refrence = refrence + "00" + d.id;
                                                            }
                                                            else if (d.id < 99)
                                                            {
                                                                refrence = refrence + "0" + d.id;
                                                            }
                                                            else
                                                            {
                                                                refrence = refrence + d.id;
                                                            }

                                                            <tr style="color:black">
                                                                <td style="width:5%">@no</td>
                                                                <td style="width:8%"><a style="font-size:11px" id="name" href="~/Lead/EditLead?requestId=@d.RequestId&page=Box">@refrence</a></td>
                                                                <td style="width:22%">
                                                                    @if (p != null)
                                                                    {
                                                                        @p.Name
                                                                    }
                                                                </td>
                                                                <td style="width:10.5%">
                                                                    @if (p != null)
                                                                    {
                                                                        @p.BusinessRegNo
                                                                    }
                                                                </td>
                                                                <td style="width:11.5%">Goods Sold & Delivered</td>
                                                                <td style="width:10.5%">
                                                                    @if (d.UpdatedAt.ToShortDateString() != "1/1/0001")
                                                                    {
                                                                        @d.UpdatedAt.ToString("dd MMM yyyy HH:mm:ss")
                                                                    }
                                                                </td>
                                                                <td style="width:10.5%">@d.CreatedAt.ToString("dd MMM yyyy HH:mm:ss")</td>
                                                                <td style="width:22%">@d.Status - Draft</td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <tr style="color:black;">
                                                <td style="width:5%">-</td>
                                                <td style="width:8%">-</td>
                                                <td style="width:22%">-</td>
                                                <td style="width:10.5%">-</td>
                                                <td style="width:11.5%">-</td>
                                                <td style="width:10.5%">-</td>
                                                <td style="width:10.5%">-</td>
                                                <td style="width:22%">-</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div id="pageNavPosition"></div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="outbox">
                            <div class="row panel-body background-white" style="width:100%;">
                                <table id="tblOutbox" class="table table-bordered table-my-task" style="width:100%">
                                    <thead>
                                        <tr class="cpBG blackFont">
                                            <th style="width:5%">No.</th>
                                            <th style="width:8%">Reference No</th>
                                            <th style="width:22%">Profile Name</th>
                                            <th style="width:10.5%">Registration No</th>
                                            <th style="width:11.5%">Nature of Business</th>
                                            <th style="width:10.5%">Last Updated</th>
                                            <th style="width:10.5%">Requested Date</th>
                                            <th style="width:22%">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ var outboxCount = 0;}
                                        @if (outbox.Count != 0)
                                        {
                                            int no = 0;
                                            foreach (var d in outbox)
                                            {
                                                var l = Model.Leads.FirstOrDefault(x => x.RequestId == d.RequestId);

                                                if (l != null)
                                                {
                                                    var auditTrail = auditTrails.FindAll(x => x.RequestId == l.RequestId && x.UserId == id);
                                                    if (auditTrail.Count > 0)
                                                    {
                                                        if (d.BoxStatus == "Outbox")
                                                        {
                                                            var draft = Model.Drafts.Find(x => x.RequestId == d.RequestId);
                                                            var p = profiles.Find(x => x.ProfileId == d.ProfileId);

                                                            string refrence = d.Status.Substring(0, 1) + d.CreatedAt.ToString("yyyyMM");
                                                            if (d.id < 10)
                                                            {
                                                                refrence = refrence + "00" + d.id;
                                                            }
                                                            else if (d.id < 99)
                                                            {
                                                                refrence = refrence + "0" + d.id;
                                                            }
                                                            else
                                                            {
                                                                refrence = refrence + d.id;
                                                            }

                                                            if (draft == null)
                                                            {
                                                                no++;
                                                                outboxCount++;
                                                                <tr style="color:black">
                                                                    <td style="width:5%">@no</td>
                                                                    <td style="width:8%"><a style="font-size:11px" id="name" href="~/Lead/EditLeadPreview?requestId=@d.RequestId&page=Box">@refrence</a></td>
                                                                    <td style="width:22%">
                                                                        @if (p != null)
                                                                        {
                                                                            @p.Name
                                                                        }
                                                                    </td>
                                                                    <td style="width:10.5%">
                                                                        @if (p != null)
                                                                        {
                                                                            @p.BusinessRegNo
                                                                        }
                                                                    </td>
                                                                    <td style="width:11.5%">Goods Sold & Delivered</td>
                                                                    <td style="width:10.5%">
                                                                        @if (d.UpdatedAt.ToShortDateString() != "1/1/0001")
                                                                        {
                                                                            @d.UpdatedAt.ToString("dd MMM yyyy HH:mm:ss")
                                                                        }
                                                                    </td>
                                                                    <td style="width:10.5%">@d.CreatedAt.ToString("dd MMM yyyy HH:mm:ss")</td>
                                                                    <td style="width:22%">@d.Status</td>
                                                                </tr>
                                                            }
                                                            else
                                                            {
                                                                no++;
                                                                outboxCount++;
                                                                <tr style="color:black">
                                                                    <td style="width:5%">@no</td>
                                                                    <td style="width:8%"><a style="font-size:11px" id="name" href="~/Lead/EditLeadPreview?requestId=@d.RequestId&page=Box">@refrence</a></td>
                                                                    <td style="width:22%">
                                                                        @if (p != null)
                                                                        {
                                                                            @p.Name
                                                                        }
                                                                    </td>
                                                                    <td style="width:10.5%">
                                                                        @if (p != null)
                                                                        {
                                                                            @p.BusinessRegNo
                                                                        }
                                                                    </td>
                                                                    <td style="width:11.5%">Goods Sold & Delivered</td>
                                                                    <td style="width:10.5%">
                                                                        @if (d.UpdatedAt.ToShortDateString() != "1/1/0001")
                                                                        {
                                                                            @d.UpdatedAt.ToString("dd MMM yyyy HH:mm:ss")
                                                                        }
                                                                    </td>
                                                                    <td style="width:10.5%">@d.CreatedAt.ToString("dd MMM yyyy HH:mm:ss")</td>
                                                                    <td style="width:22%">@d.Status</td>
                                                                </tr>
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        @if (outboxCount == 0)
                                        {
                                            <tr style="color:black;">
                                                <td style="width:5%">-</td>
                                                <td style="width:8%">-</td>
                                                <td style="width:22%">-</td>
                                                <td style="width:10.5%">-</td>
                                                <td style="width:11.5%">-</td>
                                                <td style="width:10.5%">-</td>
                                                <td style="width:10.5%">-</td>
                                                <td style="width:22%">-</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div id="pageNavPosition"></div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="closed">
                            <div class="row panel-body background-white" style="width:100%;">
                                <table id="tblClosed" class="table table-bordered table-my-task" style="width:100%">
                                    <thead>
                                        <tr class="cpBG blackFont">
                                            <th style="width:5%">No.</th>
                                            <th style="width:8%">Reference No</th>
                                            <th style="width:22%">Profile Name</th>
                                            <th style="width:10.5%">Registration No</th>
                                            <th style="width:11.5%">Nature of Business</th>
                                            <th style="width:10.5%">Last Updated</th>
                                            <th style="width:10.5%">Requested Date</th>
                                            <th style="width:22%">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (closed.Count != 0)
                                        {
                                            int no = 0;
                                            foreach (var d in closed)
                                            {
                                                var l = Model.Leads.FirstOrDefault(x => x.RequestId == d.RequestId);

                                                if (l != null)
                                                {
                                                    if (d.BoxStatus == "Closed")
                                                    {
                                                        var draft = Model.Drafts.Find(x => x.RequestId == d.RequestId);
                                                        var p = profiles.Find(x => x.ProfileId == d.ProfileId);

                                                        if (draft == null)
                                                        {
                                                            no++;

                                                            string refrence = d.Status.Substring(0, 1) + d.CreatedAt.ToString("yyyyMM");
                                                            if (d.id < 10)
                                                            {
                                                                refrence = refrence + "00" + d.id;
                                                            }
                                                            else if (d.id < 99)
                                                            {
                                                                refrence = refrence + "0" + d.id;
                                                            }
                                                            else
                                                            {
                                                                refrence = refrence + d.id;
                                                            }

                                                            <tr style="color:black;">
                                                                <td style="width:5%">@no</td>
                                                                <td style="width:8%"><a style="font-size:11px" id="name" href="~/Lead/EditLeadPreview?requestId=@d.RequestId&page=Box">@refrence</a></td>
                                                                <td style="width:22%">
                                                                    @if (p != null)
                                                                    {
                                                                        @p.Name
                                                                    }
                                                                </td>
                                                                <td style="width:10.5%">
                                                                    @if (p != null)
                                                                    {
                                                                        @p.BusinessRegNo
                                                                    }
                                                                </td>
                                                                <td style="width:11.5%">Goods Sold & Delivered</td>
                                                                <td style="width:10.5%">
                                                                    @if (d.UpdatedAt.ToShortDateString() != "1/1/0001")
                                                                    {
                                                                        @d.UpdatedAt.ToString("dd MMM yyyy HH:mm:ss")
                                                                    }
                                                                </td>
                                                                <td style="width:10.5%">@d.CreatedAt.ToString("dd MMM yyyy HH:mm:ss")</td>
                                                                <td style="width:22%">@d.Status</td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <tr style="color:black;">
                                                <td style="width:5%">-</td>
                                                <td style="width:8%">-</td>
                                                <td style="width:22%">-</td>
                                                <td style="width:10.5%">-</td>
                                                <td style="width:11.5%">-</td>
                                                <td style="width:10.5%">-</td>
                                                <td style="width:10.5%">-</td>
                                                <td style="width:22%">-</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div id="pageNavPosition"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.datepicker').datepicker({
            format: 'dd M yyyy'
        })
    });

    $(document).ready(function () {
        $.fn.dataTable.moment('DD MMM YYYY');
        $.fn.dataTable.moment('DD MMM YYYY HH:mm:ss');
        // DataTable
        var table = $('#tblInbox').DataTable({
            "order": [[6, "desc"]],
            "dom": '<<t>>',
            "bSortCellsTop": true,
            "paging": false,
            "columnDefs": [
                { targets: 1, type: 'natural-nohtml' }
            ]
        });

        
        var table1 = $('#tblDraft').DataTable({
            "order": [[6, "desc"]],
            "dom": '<<t>>',
            "bSortCellsTop": true,
            "paging": false,
            "columnDefs": [
                { targets: 1, type: 'natural-nohtml' }
            ]
        });
        
        var table2 = $('#tblOutbox').DataTable({
            "order": [[6, "desc"]],
            "dom": '<<t>>',
            "bSortCellsTop": true,
            "paging": false,
            "columnDefs": [
                { targets: 1, type: 'natural-nohtml' }
            ]
        });
        
        var table3 = $('#tblClosed').DataTable({
            "order": [[6, "desc"]],
            "dom": '<<t>>',
            "bSortCellsTop": true,
            "paging": false,
            "columnDefs": [
                { targets: 1, type: 'natural-nohtml' }
            ]
        });

    });
</script>